<div>
    <div class="flex justify-content-between my-4">
        <p class="text-xl">Plots Master Table</p>
        <div class="flex gap-2">
            <p-button
                label="Plot"
                icon="pi pi-plus"
                (click)="openCreatePlotModal()"
                size="small"
            ></p-button>
            <p-button
                label="Download Excel"
                icon="pi pi-file-excel"
                size="small"
                (click)="downloadMasterTable()"
            ></p-button>
        </div>
    </div>

    <p-table [value]="plots" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Plot Id</th>
                <th>Plot Category</th>
                <th>Location</th>
                <th>Ownership Type</th>
                <th>Thram No</th>
                <th>Owner</th>

                <th>Net Area</th>

                <th>Lap Name</th>

                <th>Precinct Name</th>

                <th>Buildings</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-plot>
            <tr>
                <td>
                    <p>
                        {{ plot.plotId }}
                    </p>
                    <a
                        href=" https://esakorv1.nlcs.gov.bt/portal/public/app/verifyqrcode/f588e036d97f44e6648fb3da11dfde92aab76ae8"
                        target="_blank"
                    >
                        Esakor Link
                    </a>
                    <p-button
                        label="Map View"
                        size="small"
                        icon="pi pi-map"
                        (click)="viewPlotsSpatially(plot)"
                    ></p-button>
                </td>
                <td>{{ plot.plotCategory }}</td>
                <td>
                    {{ plot.subAdministrativeZone?.name }},
                    {{ plot.administrativeZone?.name }},
                    {{ plot.dzongkhag?.name }},
                </td>
                <td>{{ plot.ownershipType }}</td>
                <td>{{ plot.thram?.thramNo }}</td>
                <td>
                    {{ thram?.owner?.nameEnglish }}/{{
                        plot.thram?.owner?.nameDzongkha
                    }}
                </td>
                <td>{{ plot.netArea }} {{ plot.areaUnit }}</td>

                <td>{{ plot.lapName }}/ {{ plot.lapCode }}</td>

                <td>{{ plot.precinctName }} /{{ plot.precinctCode }}</td>

                <td>
                    <div>
                        <p *ngIf="!plot.buildings.length">No Buildings Added</p>
                        <div
                            *ngFor="let building of plot.buildings"
                            class="p-fluid"
                        >
                            <p-button
                                [label]="building.name"
                                [link]="true"
                                (click)="navigateToBuilding(building.id)"
                            />
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>
