<div class="surface-white p-4" id="capture">
    <div #header class="flex justify-content-between">
        <div id="companyDetails">
            <p>{{ zhidhayContactDetails.webAppName }}</p>
            <p>{{ zhidhayContactDetails.address }}</p>
            <p>{{ zhidhayContactDetails.email }}</p>
        </div>
        <div>
            <img src="assets/logo.png" style="height: 2rem" />
        </div>
    </div>
    <div
        class=""
        style="
            height: 2px;
            margin-top: 5px;
            width: 100%;
            background-color: #4999ef;
        "
    ></div>
    <div id="receiptSumary" class="my-4 text-right">
        <p>Date: 07 July 2024</p>
        <p>Receipt # 1</p>
    </div>
    <div #mainBody>
        <p class="text-center my-3 text-xl underline font-semibold">
            {{ paymentAdvice?.title }}
        </p>
        <div>
            <table style="width: 100%; text-align: right">
                <tr>
                    <td>#</td>
                    <td>Particular</td>
                    <td>Amount</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>rent</td>
                    <td>Nu.12,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cleaning Charges</td>
                    <td>Nu.200</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="flex justify-content-end">
                            <table>
                                <tr>
                                    <td>
                                        <p class="mt-4 font-bold">Total</p>
                                    </td>
                                    <td>
                                        <p class="mt-4">Nu. 12,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <p class="font-bold">Amount Paid</p>

                                    <td>Nu. 12,000</td>
                                </tr>
                                <tr>
                                    <p class="font-bold">Amount Due</p>
                                    <td>Nu. 0</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="mt-4">
                <p>Transaction Mode: Online</p>

                <p>Transaction ID:417716851698</p>
                <p>Transaction Time: 20240625224017</p>
            </div>
        </div>
    </div>

    <div #footer class="text-center">
        <p-divider></p-divider>
        <p>{{ zhidhayContactDetails.webAppName }}</p>
        <p>
            # {{ zhidhayContactDetails.phoneNumber }} /
            {{ zhidhayContactDetails.email }}
        </p>
    </div>
</div>
<div class="flex justify-content-end mt-3">
    <p-button
        label="Screenshot"
        icon="pi pi-camera"
        (click)="screenshot()"
    ></p-button>
</div>
