<div class="p-4">
    <p class="text-2xl font-bold mb-4">Transaction Settings</p>

    <div class="flex items-center gap-4 mb-4">
        <p class="text-lg">Penalty Computation</p>
        <p-inputSwitch
            [(ngModel)]="penaltyComputationEnabled"
            (onChange)="updatePenaltyComputation($event.checked)"
        ></p-inputSwitch>

        <div *ngIf="penaltyComputationEnabled">
            <p class="text-green-500 font-medium">
                Penalty Computation is Enabled.Penalty will be calculated for
                all pending payment advices past due.
            </p>
        </div>
        <div *ngIf="!penaltyComputationEnabled">
            <p class="text-red-500 font-medium">
                Penalty Computation is Disabled
            </p>
        </div>
    </div>
</div>
