<p class="text-2xl font-bold">Building & Units Rental Payment</p>

<div class="flex gap-6 align-items-end justify-content-between">
    <p class="text-lg">
        Showing Payment Details for
        <strong>
            {{ confirmedMonth | date : "MMMM y" }}
        </strong>
    </p>
    <div>
        <p>Load for another month</p>
        <p-inputGroup>
            <p-calendar
                [(ngModel)]="selectedMonth"
                view="month"
                dateFormat="mm/yy"
                [readonlyInput]="true"
            />
            <p-button
                label="Load Data"
                icon="pi pi-file-excel"
                size="small"
                (click)="loadData()"
                severity="secondary"
            ></p-button>
        </p-inputGroup>
        <p *ngIf="selectedMonth">
            load for {{ selectedMonth | date : "MMMM y" }}?
        </p>
    </div>
</div>
<hr />

<div class="my-4">
    <p class="font-semibold text-lg">
        Summary for

        {{ confirmedMonth | date : "MMMM y" }}
    </p>
    <div class="flex">
        <div>
            <p>Total Receivable: Nu. 15,23123</p>
            <p>Total Received: Nu. 12,2423</p>
            <p>Pending</p>
        </div>
    </div>
</div>

<p-tabView>
    <p-tabPanel header="All">
        <p-table
            #dt2
            [value]="data"
            class="p-datatable-sm"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="[
                'name',
                'country.name',
                'representative.name',
                'status'
            ]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Plot ID</th>
                    <th>Building</th>
                    <th>Unit</th>
                    <th>Tenant Name</th>
                    <th>Tenant Contact</th>
                    <th>Payment Status</th>
                    <th>Total Receivable</th>
                    <th>Total Received</th>
                    <th>Balance</th>
                    <th>Payment Mode</th>
                    <th>Payment Date</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>

                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="item.building.plots[0].plotId"
                            placeholder="Search by name"
                            ariaLabel="Filter Name"
                        ></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>
                        {{ item.building.plots[0].plotId }}
                    </td>
                    <td>
                        {{ item.building.name }}
                    </td>
                    <td>{{ item.floorLevel }}-{{ item.unitNumber }}</td>
                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <p *ngIf="item.leaseAgreements.length">
                            {{ item.leaseAgreements[0].tenant.nameEnglish }}
                        </p>
                    </td>
                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <p *ngIf="item.leaseAgreements.length">
                            {{ item.leaseAgreements[0].tenant.phoneNumber }}
                        </p>
                    </td>

                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <div *ngIf="item.leaseAgreements.length">
                            <div *ngFor="let lease of item.leaseAgreements">
                                <p
                                    *ngIf="!lease.paymentAdvises.length"
                                    class="text-yellow-800 text-sm"
                                >
                                    - PA not Generated
                                </p>
                                <div *ngIf="lease.paymentAdvises">
                                    <div
                                        *ngFor="let pa of lease.paymentAdvises"
                                    >
                                        <p
                                            [ngClass]="{
                                                'text-red-500 font-semibold':
                                                    pa.status === 'DUE',
                                                'text-green-500 font-semibold':
                                                    pa.status === 'PAID'
                                            }"
                                        >
                                            {{ pa.status }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <p *ngIf="item.leaseAgreements.length">
                            Nu.{{
                                computeTotalPayable(item.leaseAgreements[0])
                            }}
                        </p>
                    </td>

                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <div *ngIf="item.leaseAgreements.length">
                            <div *ngFor="let lease of item.leaseAgreements">
                                <p
                                    *ngIf="!lease.paymentAdvises.length"
                                    class="text-yellow-800 text-sm"
                                >
                                    - PA not Generated
                                </p>
                                <div *ngIf="lease.paymentAdvises">
                                    <div
                                        *ngFor="let pa of lease.paymentAdvises"
                                    >
                                        <p>
                                            {{
                                                pa.status === "DUE"
                                                    ? pa.amountDue
                                                    : computeTotalPayable(
                                                          item
                                                              .leaseAgreements[0]
                                                      )
                                            }}
                                            <small>
                                                ({{
                                                    pa.status | lowercase
                                                }})</small
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>
                        <div *ngFor="let lease of item.leaseAgreements">
                            <p
                                *ngIf="!lease.paymentAdvises.length"
                                class="text-yellow-800 text-sm"
                            >
                                - PA not Generated
                            </p>
                            <div *ngIf="lease.paymentAdvises">
                                <div *ngFor="let pa of lease.paymentAdvises">
                                    <p>
                                        {{ pa.amountDue }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <div *ngIf="item.leaseAgreements.length">
                            <div *ngFor="let lease of item.leaseAgreements">
                                <p
                                    *ngIf="!lease.paymentAdvises.length"
                                    class="text-yellow-800 text-sm"
                                >
                                    - PA not Generated
                                </p>
                                <div *ngIf="lease.paymentAdvises">
                                    <div
                                        *ngFor="let pa of lease.paymentAdvises"
                                    >
                                        <p
                                            *ngFor="
                                                let receipt of pa.paymentReceipts
                                            "
                                        >
                                            {{ receipt.paymentMode }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <div *ngIf="item.leaseAgreements.length">
                            <div *ngFor="let lease of item.leaseAgreements">
                                <p
                                    *ngIf="!lease.paymentAdvises.length"
                                    class="text-yellow-800 text-sm"
                                >
                                    - PA not Generated
                                </p>
                                <div *ngIf="lease.paymentAdvises">
                                    <div
                                        *ngFor="let pa of lease.paymentAdvises"
                                    >
                                        <p
                                            *ngFor="
                                                let receipt of pa.paymentReceipts
                                            "
                                        >
                                            {{ receipt.createdAt | date }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                        <div *ngIf="item.leaseAgreements.length">
                            <div *ngFor="let lease of item.leaseAgreements">
                                <p
                                    *ngIf="!lease.paymentAdvises.length"
                                    class="text-yellow-800 text-sm"
                                >
                                    - PA not Generated
                                </p>
                                <div *ngIf="lease.paymentAdvises">
                                    <div
                                        *ngFor="let pa of lease.paymentAdvises"
                                    >
                                        <p
                                            *ngFor="
                                                let receipt of pa.paymentReceipts
                                            "
                                        >
                                            {{ receipt.remarks }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Pending">
        <p-table
            [value]="data"
            class="p-datatable-sm"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Plot ID</th>
                    <th>Building</th>
                    <th>Unit</th>
                    <th>Tenant Type</th>
                    <th>Tenant Name</th>
                    <th>Tenant Contact</th>
                    <th>Total Receivable</th>
                    <th>Total Received</th>
                    <th>Balance</th>
                    <th>Payment Mode</th>
                    <th>Payment Date</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body">
                <tr>
                    <td>1</td>
                    <td>SM1-12</td>
                    <td>Namgyel Khangzang</td>
                    <td>1-01(F1)</td>
                    <td>Institution</td>
                    <td>RICBL</td>
                    <td>17872321</td>
                    <td>50,0000</td>
                    <td>50,000</td>
                    <td>0</td>
                    <td>Cash</td>
                    <td>22nd Jan 2025</td>
                    <td>Cash Payment</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Paid">
        <p-table
            [value]="data"
            class="p-datatable-sm"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Plot ID</th>
                    <th>Building</th>
                    <th>Unit</th>
                    <th>Tenant Type</th>
                    <th>Tenant Name</th>
                    <th>Tenant Contact</th>
                    <th>Total Receivable</th>
                    <th>Total Received</th>
                    <th>Balance</th>
                    <th>Payment Mode</th>
                    <th>Payment Date</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body">
                <tr>
                    <td>1</td>
                    <td>SM1-12</td>
                    <td>Namgyel Khangzang</td>
                    <td>1-01(F1)</td>
                    <td>Institution</td>
                    <td>RICBL</td>
                    <td>17872321</td>
                    <td>50,0000</td>
                    <td>50,000</td>
                    <td>0</td>
                    <td>Cash</td>
                    <td>22nd Jan 2025</td>
                    <td>Cash Payment</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>

<!-- <p-tabView>
    <p-tabPanel header="Pending">
        <app-admin-building-rent-pending-payment-advices></app-admin-building-rent-pending-payment-advices>
    </p-tabPanel>
    <p-tabPanel header="Paid">
        <app-admin-building-rent-paid-payment-advices></app-admin-building-rent-paid-payment-advices>
    </p-tabPanel>
</p-tabView> -->
