<p class="text-2xl font-bold">Building & Units Rental Payment</p>

<div class="flex gap-6 align-items-end justify-content-between">
    <div class="flex algin-items-end gap-4">
        <p class="font-semibold text-lg">
            Summary for

            {{ selectedDate | date : "MMMM y" }}
        </p>

        <div>
            <p-button
                label="Download Excel Data"
                size="small"
                icon="pi pi-file-excel"
                severity="secondary"
                (click)="downloadExcel()"
            ></p-button>
        </div>
    </div>
    <!-- <p class="text-lg">
        Showing Payment Details for
        <strong>
            {{ selectedDate | date : "MMMM y" }}
        </strong>
    </p> -->
    <div>
        <p>Load for another month</p>
        <p-inputGroup>
            <p-calendar
                [(ngModel)]="selectedDate"
                view="month"
                dateFormat="mm/yy"
                [readonlyInput]="true"
            />
            <p-button
                label="Load Data"
                icon="pi pi-file-excel"
                size="small"
                (click)="loadData()"
                severity="secondary"
            ></p-button>
        </p-inputGroup>
    </div>
</div>
<hr />

<div class="my-4">
    <div class="flex">
        <div>
            <p>
                Total Receivable: Nu.
                {{ getPaymentsSummary().totalReceivable | number : "1.0-0" }}
            </p>
            <p>
                Total Received: Nu.
                {{ getPaymentsSummary().totalReceived | number : "1.0-0" }}
            </p>
            <div class="my-2">
                <p-progressBar
                    [value]="getCollectionProgressPercentage()"
                    color="darkseagreen"
                />
                <p class="text-sm">Collection Progress</p>
            </div>
            <p class="text-red-600">
                Pending: Nu.
                {{
                    getPaymentsSummary().totalReceivable -
                        getPaymentsSummary().totalReceived | number : "1.0-0"
                }}
            </p>
        </div>
    </div>
    <hr />

    <div>
        <p>Number of properties: {{ filteredData.length }}</p>
        <p>Number of Vacant Properties: {{ getVacantUnits() }}</p>
        <p>Occupancy Rate: {{ getOccupancyRate() }}%</p>
    </div>
</div>

<div class="my-3">
    <div class="flex gap-4">
        <div>
            <p-inputGroup>
                <p-inputGroupAddon>+975</p-inputGroupAddon>
                <p-inputNumber
                    [(ngModel)]="tenantPhoneNumberFilter"
                    mode="decimal"
                    inputId="withoutgrouping"
                    [useGrouping]="false"
                    placeholder="Tenant Phone Number"
                    [maxlength]="8"
                />
                <p-button
                    label="Filter By Phone Number"
                    icon="pi pi-search"
                    severity="secondary"
                    (click)="filterRowsByTenantPhoneNumber()"
                ></p-button>
            </p-inputGroup>
        </div>

        <div>
            <p-inputGroup>
                <input
                    type="text"
                    pInputText
                    placeholder="Plot ID"
                    [(ngModel)]="plotIdFilter"
                />
                <p-button
                    label="Filter By Plot ID"
                    icon="pi pi-search"
                    severity="secondary"
                    (click)="filterRowsByPlotId()"
                ></p-button>
            </p-inputGroup>
        </div>

        <div class="">
            <p-button
                label="Clear Filters"
                (click)="clearFilters()"
                severity="secondary"
            ></p-button>
        </div>
    </div>
</div>

<hr />

<p-table
    #dt2
    [value]="filteredData"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Plot ID</th>
            <th>Building</th>
            <th>Unit</th>
            <th>Tenant Name</th>
            <th>Tenant Contact</th>
            <th>Tenant CID</th>
            <th>Payment Status</th>
            <th>Total Receivable</th>
            <th>Total Received</th>
            <th>Balance</th>
            <th>Payment Mode</th>
            <th>Payment Date</th>
            <th>Remarks</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr [ngClass]="getRowStatus(item)">
            <td>{{ rowIndex + 1 }}</td>
            <td>
                {{ item.building.plots[0].plotId }}
            </td>
            <td>
                {{ item.building.name }}
            </td>
            <td>
                <p>{{ item.floorLevel }}-{{ item.unitNumber }}</p>
                <p class="text-sm">({{ item.remarks }})</p>
            </td>
            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <p *ngIf="item.leaseAgreements.length">
                    {{ item.leaseAgreements[0].tenant.nameEnglish }}
                </p>
            </td>
            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <p *ngIf="item.leaseAgreements.length">
                    {{ item.leaseAgreements[0].tenant.phoneNumber }}
                </p>
            </td>
            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <p *ngIf="item.leaseAgreements.length">
                    {{ item.leaseAgreements[0].tenant.cid }}
                </p>
            </td>

            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <div *ngIf="item.leaseAgreements.length">
                    <div *ngFor="let lease of item.leaseAgreements">
                        <p
                            *ngIf="!lease.paymentAdvises.length"
                            class="text-yellow-800 text-sm"
                        >
                            - PA not Generated
                        </p>
                        <div *ngIf="lease.paymentAdvises">
                            <div *ngFor="let pa of lease.paymentAdvises">
                                <p
                                    [ngClass]="{
                                        'text-red-500 font-semibold':
                                            pa.status === 'DUE',
                                        'text-green-500 font-semibold':
                                            pa.status === 'PAID'
                                    }"
                                >
                                    {{ pa.status }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <p *ngIf="item.leaseAgreements.length">
                    Nu.{{ computeTotalPayable(item.leaseAgreements[0]) }}
                </p>
            </td>

            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <div *ngIf="item.leaseAgreements.length">
                    <div *ngFor="let lease of item.leaseAgreements">
                        <p
                            *ngIf="!lease.paymentAdvises.length"
                            class="text-yellow-800 text-sm"
                        >
                            - PA not Generated
                        </p>
                        <div *ngIf="lease.paymentAdvises">
                            <div *ngFor="let pa of lease.paymentAdvises">
                                <p>
                                    {{
                                        pa.status === "DUE"
                                            ? pa.amountDue
                                            : computeTotalPayable(
                                                  item.leaseAgreements[0]
                                              )
                                    }}
                                    <small>
                                        ({{ pa.status | lowercase }})</small
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>
                <div *ngFor="let lease of item.leaseAgreements">
                    <p
                        *ngIf="!lease.paymentAdvises.length"
                        class="text-yellow-800 text-sm"
                    >
                        - PA not Generated
                    </p>
                    <div *ngIf="lease.paymentAdvises">
                        <div *ngFor="let pa of lease.paymentAdvises">
                            <p>
                                {{ pa.amountDue }}
                            </p>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <div *ngIf="item.leaseAgreements.length">
                    <div *ngFor="let lease of item.leaseAgreements">
                        <p
                            *ngIf="!lease.paymentAdvises.length"
                            class="text-yellow-800 text-sm"
                        >
                            - PA not Generated
                        </p>
                        <div *ngIf="lease.paymentAdvises">
                            <div *ngFor="let pa of lease.paymentAdvises">
                                <p *ngFor="let receipt of pa.paymentReceipts">
                                    {{ receipt.paymentMode }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <div *ngIf="item.leaseAgreements.length">
                    <div *ngFor="let lease of item.leaseAgreements">
                        <p
                            *ngIf="!lease.paymentAdvises.length"
                            class="text-yellow-800 text-sm"
                        >
                            - PA not Generated
                        </p>
                        <div *ngIf="lease.paymentAdvises">
                            <div *ngFor="let pa of lease.paymentAdvises">
                                <p *ngFor="let receipt of pa.paymentReceipts">
                                    {{ receipt.createdAt | date }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <p *ngIf="!item.leaseAgreements.length">Vacant</p>

                <div *ngIf="item.leaseAgreements.length">
                    <div *ngFor="let lease of item.leaseAgreements">
                        <p
                            *ngIf="!lease.paymentAdvises.length"
                            class="text-yellow-800 text-sm"
                        >
                            - PA not Generated
                        </p>
                        <div *ngIf="lease.paymentAdvises">
                            <div *ngFor="let pa of lease.paymentAdvises">
                                <p *ngFor="let receipt of pa.paymentReceipts">
                                    {{ receipt.remarks }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <div
                    *ngFor="let lease of item.leaseAgreements"
                    class="flex jusitify-content-end"
                >
                    <div *ngFor="let pa of lease.paymentAdvises" class="">
                        <p-button
                            label="Advice"
                            size="small"
                            *ngIf="pa.status !== 'PAID'"
                            severity="secondary"
                            (click)="openPADetails([pa], lease)"
                        ></p-button>

                        <div *ngFor="let receipt of pa.paymentReceipts">
                            <p-button
                                label="Receipt"
                                size="small"
                                icon="pi pi-file"
                                (onClick)="openViewPaymentReceipt(receipt)"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <p-tabView>
    <p-tabPanel header="All">
      
    </p-tabPanel>
    <p-tabPanel header="Pending"> </p-tabPanel>
    <p-tabPanel header="Paid"> </p-tabPanel>
</p-tabView> -->
