<div class="layout-wrapper" [ngClass]="containerClass">
    <div class="layout-sidebar">
        <app-tenant-sidebar></app-tenant-sidebar>
    </div>
    <div class="layout-main-container">
        <app-tenant-topbar></app-tenant-topbar>
        <div class="layout-main">
            <!-- <app-tenant-header *ngIf="!isProfileRoute"></app-tenant-header> -->
            <router-outlet></router-outlet>
        </div>
        <app-tenant-footer></app-tenant-footer>
    </div>
    <div class="layout-mask"></div>
</div>
