<div
    class="surface-card flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <p-toast />

    <div class="flex flex-column align-items-center justify-content-center">
        <div>
            <div class="w-full py-8 px-5 sm:px-8">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Welcome
                    </div>
                </div>

                <form [formGroup]="loginForm" class="p-fluid">
                    <label for="email1" class="block text-900 mb-2"
                        >Phone Number</label
                    >
                    <input
                        id="email1"
                        type="text"
                        placeholder="Phone Number"
                        pInputText
                        autocomplete=""
                        formControlName="phoneNumber"
                    />
                    <label for="password1" class="block text-900 mt-4 mb-2"
                        >Pin</label
                    >
                    <!-- <p-password
                        id="password1"
                        formControlName="password"
                        placeholder="Password"
                        [toggleMask]="true"
                        autocomplete="current-password"
                        styleClass="mb-5"
                        [feedback]="false"
                    ></p-password> -->

                    <div
                        class="flex my-4 text-5xl font-semibold justify-content-center align-items-center gap-3"
                    >
                        <p *ngFor="let i of pinPlaceholder">
                            {{ i }}
                        </p>
                        <p *ngFor="let i of pin">
                            {{ i }}
                        </p>
                    </div>

                    <div class="numpad">
                        <div class="numpad_key" *ngFor="let key of keys">
                            <button
                                [disabled]="pin.length === 4 && key !== 'del'"
                                (click)="appendToPin(key)"
                            >
                                {{ key }}
                            </button>
                        </div>
                    </div>

                    <div
                        class="flex my-6 align-items-center justify-content-between mb-5 gap-5"
                    >
                        <div class="flex align-items-center">
                            <p-checkbox
                                id="rememberme1"
                                [binary]="true"
                                styleClass="mr-2"
                            ></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            >Forgot password?</a
                        >
                    </div>
                    <div class="flex gap-2">
                        <button
                            pButton
                            pRipple
                            label="Login"
                            class="w-full"
                            (click)="login()"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
