@media screen and (max-width: 768px) {
    .bg-gray-100 {
        height: auto;
    }

    .p-dialog {
        width: 90vw !important;
        max-width: 90vw !important;
    }

    .flex {
        flex-direction: column;
    }
}


