<div
    class="bg-gray-100 flex align-items-center justify-content-center min-w-screen overflow-hidden"
    style="height: 100dvh"
>
    <p-toast appendTo="body" />
    <div
        class="flex bg-white border-round-xl shadow gap-2 w-10 sm:w-11 md:w-8 lg:w-6"
        style="min-height: 50vh"
    >
        <div
            class="w-6 border-round-xl hidden md:block"
            style="
                background-image: url('assets/images/login.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            "
        ></div>
        <div
            class="w-full md:w-6 p-4 flex flex-column align-items-center justify-content-between"
            style="min-width: 20vw; min-height: 100%"
        >
            <div class="flex align-items-center gap-2 cursor-pointer">
                <img style="height: 20px" src="assets/logo/zhidhay.svg" />
                <p class="text-4xl font-bold" style="color: #224e70">
                    {{ companyDetails.name }}
                </p>
            </div>
            <form [formGroup]="loginForm" class="w-full p-4 p-fluid">
                <div>
                    <label
                        for="email1"
                        class="block font-semibold text-900 mb-2"
                        >CID</label
                    >
                    <input
                        id="email1"
                        type="text"
                        placeholder="CID"
                        pInputText
                        autocomplete=""
                        formControlName="cid"
                    />
                </div>

                <div>
                    <label
                        for="email1"
                        class="block font-semibold text-900 mt-4 mb-2"
                        >Password</label
                    >
                    <p-password
                        formControlName="password"
                        placeholder="your password"
                        [feedback]="false"
                    />
                </div>

                <div class="flex gap-2 mt-6">
                    <button
                        pButton
                        pRipple
                        label="Login"
                        class="w-full"
                        (click)="login()"
                    ></button>
                    <!-- <p-button label="secondary" severity="secondary"></p-button> -->
                </div>
            </form>

            <div>
                <a
                    routerLink="/"
                    class="text-right hover:font-semibold hover:text-blue-800 cursor-pointer"
                >
                    Home
                </a>
            </div>
        </div>
    </div>
</div>

<p-dialog
    [modal]="true"
    [(visible)]="showLoading"
    closable="false"
    styleClass="bg-transparent"
    [style]="{ width: '25rem', background: 'transparent' }"
>
    <div
        class="flex h-full w-full flex-column align-items-center justify-content-center"
    >
        <p>Validating your credentials</p>
        <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
        />
    </div>
</p-dialog>

<p-dialog
    header="Role Selection"
    [modal]="true"
    [(visible)]="showRoleSelection"
    [style]="{ width: '25rem' }"
>
    <span class="p-text-secondary block mb-5"
        >You have multiple roles.Please select a role to use</span
    >
    <div *ngFor="let role of authenticatedUser?.roles">
        <p>Role: {{ role.role }}</p>
        <p>Admin:{{ role.adminId }}</p>
        <button (click)="onSelectRole(role)">Select</button>
    </div>
</p-dialog>
