<div>
    <div
        #generator
        class="flex mb-4 justify-content-between align-items-center"
    >
        <div class="flex gap-2">
            <p-calendar
                [(ngModel)]="year"
                [showIcon]="true"
                [showOnFocus]="false"
                view="year"
                dateFormat="yy"
                inputId="buttondisplay"
            />
            <p-button
                label="Generate Report"
                icon="pi pi-file-excel"
                (click)="fetchPaymentData()"
            ></p-button>
        </div>
        <div class="flex gap-2">
            <p-button
                icon="pi pi-file-o"
                label="Generate PA"
                size="small"
                severity="secondary"
                (click)="generatePaymentAdvice()"
            ></p-button>
            <p-button
                size="small"
                icon="pi pi-envelope"
                severity="danger"
                label="Send SMS Reminder"
            ></p-button>
        </div>
    </div>
    <p-divider type="dashed"></p-divider>
    <div class="flex justify-content-between mt-6 mb-4">
        <div>
            <p class="text-xl font-semibold">
                Unit Lease Payment status for the year of
                {{ year.getFullYear() }}
            </p>
        </div>
        <a [href]="excelDownLoadLink"> Download Excel </a>
    </div>

    <div>
        <p-table
            #dt
            *ngIf="unitLeasePaymentStatus"
            [value]="unitLeasePaymentStatus"
            [scrollable]="true"
            styleClass="p-datatable-gridlines p-datatable-striped"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>Unit</th>
                    <th>Plot</th>

                    <th>JAN</th>
                    <th>FEB</th>
                    <th>MAR</th>
                    <th>APR</th>
                    <th>MAY</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AUG</th>
                    <th>SEP</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEC</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td
                        pFrozenColumn
                        style="min-width: 100px"
                        class="text-center"
                    >
                        <p class="font-semibold">
                            {{ item.unit.floorLevel }}-{{
                                item.unit.unitNumber
                            }}
                        </p>
                        <p class="text-xs">
                            {{ item.unit.building.name }}
                        </p>
                    </td>
                    <td>
                        <p style="text-wrap: nowrap">
                            <span *ngFor="let plot of item.unit.building.plots">
                                {{ plot.plotId }}
                            </span>
                        </p>
                    </td>

                    <td
                        *ngFor="let status of item.monthlyStatus; let i = index"
                    >
                        <ng-container
                            *ngFor="
                                let leaseAgreement of status.leaseAgreements
                            "
                        >
                            <p class="font-semibold" style="text-wrap: nowrap">
                                Leased to Tenant
                                <span
                                    (click)="goToDetailedView(leaseAgreement)"
                                    class="hover:underline cursor-pointer font-normal"
                                >
                                    (View)
                                </span>
                            </p>
                            <p style="text-wrap: nowrap">
                                Lease Status:
                                <span
                                    [ngClass]="
                                        getStatusClass(leaseAgreement?.status)
                                    "
                                >
                                    {{ leaseAgreement?.status }}
                                    <span
                                        *ngIf="leaseAgreement.modificationDate"
                                        >(
                                        {{
                                            leaseAgreement.modificationDate
                                                | date : "mediumDate"
                                        }})</span
                                    >
                                </span>
                            </p>

                            <p
                                style="text-wrap: nowrap"
                                pTooltip="double click to view Tenant details"
                                tooltipPosition="left"
                                class="cursor-pointer hover:underline hover:font-semibold"
                                (dblclick)="
                                    goToTenantDetailedView(
                                        leaseAgreement.tenant.id
                                    )
                                "
                            >
                                Name:
                                <strong>{{
                                    leaseAgreement.tenant?.nameEnglish
                                }}</strong>
                            </p>
                            <p style="text-wrap: nowrap">
                                Phone Number:
                                <strong>
                                    {{
                                        leaseAgreement?.tenant?.phoneNumber
                                    }}</strong
                                >
                            </p>

                            <p-divider></p-divider>
                        </ng-container>

                        <ng-container *ngIf="status.paymentAdvice">
                            <p style="text-wrap: nowrap">
                                <span
                                    class="font-semibold mr-2 px-2 py-1 border-round-md text-sm"
                                    [ngClass]="{
                                        'text-green-50  bg-green-600  ':
                                            status.paymentAdvice.status ===
                                            'PAID',
                                        'text-red-50 bg-red-600  ':
                                            status.paymentAdvice.status ===
                                            'DUE'
                                    }"
                                >
                                    {{ status.paymentAdvice.status }}
                                    Nu.
                                    {{ status.paymentAdvice.totalAmount }}</span
                                >
                            </p>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                status.leaseAgreements && !status.paymentAdvice
                            "
                        >
                            <p>-No PA Generated</p>
                        </ng-container>

                        <ng-container *ngIf="!status.leaseAgreements">
                            <p class="text-center">Vacant</p>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p *ngIf="!unitsWithPA">No Payment history to show.</p>

    <p-dialog
        [modal]="true"
        [(visible)]="showLoading"
        closable="false"
        styleClass="bg-transparent"
        [style]="{ width: '25rem', background: 'transparent' }"
    >
        <div
            class="flex h-full w-full flex-column gap-4 align-items-center justify-content-center"
        >
            <p>Generating Report</p>
            <p-progressSpinner
                styleClass="w-4rem h-4rem"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
            />
        </div>
    </p-dialog>
</div>
