<div class="flex justify-content-between my-4">
    <p class="text-xl">Admin Master Table</p>
    <div class="flex gap-2">
        <p-button
            label="Admin"
            icon="pi pi-plus"
            size="small"
            (click)="openAddAdminModal()"
        ></p-button>
        <p-button
            label="Download Excel"
            icon="pi pi-file-excel"
            size="small"
            (click)="downloadMasterTable()"
        ></p-button>
    </div>
</div>

<i class="pi pi-pi-phone" style="font-size: 1rem"></i>
<p-table
    [value]="paginatedAdmins.data"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>CID</th>
            <th>Email</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-admin>
        <tr>
            <td>
                <p>
                    {{ admin.firstName }}
                    {{ admin.middleName }}
                    {{ admin.lastName }}
                </p>
            </td>

            <td>
                {{ admin.phoneNumber }}
            </td>

            <td>
                {{ admin.cid }}
            </td>

            <td>
                {{ admin.email }}
            </td>
            <td>
                <div class="flex gap-2 justify-content-end">
                    <p-button
                        size="small"
                        icon="pi pi-pencil"
                        (click)="openUpdateAdminModal(admin)"
                    ></p-button>
                    <p-button
                        size="small"
                        severity="danger"
                        icon="pi pi-trash"
                    ></p-button>

                    <div>
                        <p-button
                            size="small"
                            label="Reset PIN"
                            severity="secondary"
                            icon="pi pi-lock"
                        ></p-button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div>
            <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="paginatedAdmins.firstPage"
                [rows]="paginatedAdmins.limit"
                [totalRecords]="paginatedAdmins.count"
                [rowsPerPageOptions]="[10, 20, 50]"
            ></p-paginator>
        </div>
    </ng-template>
</p-table>
