<div>
    <p>PlotId: SM1-12</p>
    <p>Orginazation</p>
    <p class="font-semibold">'Central Monastic Body'/ 'གཞུང་གྲྭ་ཚང་།'</p>
    <p-divider type="dashed"></p-divider>
    <p>Thram : <strong>3072 </strong></p>
    <p>Dzonkhag:Thimphu Dzongkhag</p>
    <p>Administrative Zone: Thimphu Thromde</p>
    <p>Sub Administrative Zone: Simtokha Thromde Village</p>
    <p>LAP: Simtokha LAP ( TH1100)</p>

    <p-divider type="dashed"></p-divider>
    <p>Lease Status: <strong>Not Leased</strong></p>
    <p-divider type="dashed"></p-divider>
    <p>Buildings</p>

    <div>
        <p>Name: <strong>NN Building</strong></p>
        <p>Type: Contemporary RCC Building</p>
        <p>Floor Configuration: B+G+4</p>
    </div>
</div>
