<div>
    <p>
        PlotId:
        {{ plotId }}
    </p>

    <p-divider type="dashed"></p-divider>
    <p>
        Thram : <strong>{{ plot?.thram?.thramNo }} </strong>
    </p>
    <p>
        Owner:
        <strong>
            {{ plot?.thram?.owner?.nameEnglish }} /
            {{ plot?.thram?.owner?.nameDzongkha }}
        </strong>
    </p>
    <p-divider></p-divider>

    <p class="font-semibold mb-2">Location Details</p>
    <p>
        Dzonkhag: <strong>{{ plot.dzongkhag.name }}</strong>
    </p>
    <p>
        Administrative Zone: <strong>{{ plot.administrativeZone.name }}</strong>
    </p>

    <p>
        Sub Administrative Zone:
        <strong> {{ plot.subAdministrativeZone.name }}</strong>
    </p>
    <p-divider></p-divider>

    <p class="font-semibold mb-2">Development Zone Details</p>
    <p>
        LAP: <strong>{{ plot?.lapName }} ({{ plot?.lapCode }})</strong>
    </p>
    <p>
        Precinct:
        <strong>{{ plot?.precinctName }} ({{ plot?.precinctCode }})</strong>
    </p>
</div>
