<p>
    Showing details for Tenant with phone number
    <strong>{{ phoneNumber }} </strong>
</p>
<p-divider></p-divider>

<div *ngIf="tenantFound && tenant">
    <p>Name: {{ tenant.nameEnglish }}</p>
    <p>Name Dzongkha: {{ tenant.nameDzongkha }}</p>
    <p>Permanent Address: {{ tenant.permanentAddress }}</p>
    <p>CID: {{ tenant.cid }}</p>
    <p>Phone Number: {{ tenant.phoneNumber }}</p>
    <p>Email: {{ tenant.email }}</p>

    <div class="flex gap-2 mt-4">
        <p-button
            label="Edit Details"
            (click)="openUpdateUserModal()"
            size="small"
        />
        <p-button label="Reset Password" size="small" />
    </div>

    <p-divider> </p-divider>
    <div class="flex justify-content-between align-items-center">
        <p class="font-semibold mt-4 mb-4 mr-4">
            Organizations under the tenant
        </p>
        <p-button
            label="Organization"
            size="small"
            severity="secondary"
            icon="pi pi-plus"
            (click)="openCreateOrganizationModal()"
        ></p-button>
    </div>
    <div *ngFor="let organization of tenant.organizations">
        <div class="flex justify-content-between align-items-center">
            <p>Name: {{ organization.name }}</p>
            <p-button
                size="small"
                severity="secondary"
                icon="pi pi-pencil"
                text="true"
                (click)="openEditOrganizationModal(organization)"
            ></p-button>
        </div>
        <p>Type: {{ organization.type }}</p>
        <p>Relation: {{ organization.userType }}</p>
        <p>
            License:
            {{ organization.licenseNumber }}
        </p>
    </div>
    <div *ngIf="!tenant.organizations.length">
        - No organization/s registered under the tenant
    </div>
</div>

<div *ngIf="!tenantFound" class="text-center font-semibold text-red-400 mt-4">
    Tenant with the phone number {{ phoneNumber }} not found.
</div>

<div class="flex justify-content-end mt-4">
    <p-button
        label="Close"
        severity="secondary"
        (click)="close()"
        size="small"
    />
</div>
