<div class="text-lg">
    <p-confirmDialog></p-confirmDialog>
    <div class="flex align-items-center justify-content-between">
        <p class="font-bold my-3">Building Amenities</p>
        <p-button
            icon="pi pi-plus"
            (click)="openAddBuildingAmenityModal()"
            size="small"
            label="Amenity"
            class="p-0"
        ></p-button>
    </div>

    <div *ngIf="buildingAmenties">
        <div
            *ngFor="let item of buildingAmenties; let i = index"
            class="flex justify-content-between"
        >
            <p>{{ i + 1 }} {{ item.name }}</p>
            <div>
                <p-button
                    icon="pi pi-pencil"
                    (click)="openEditBuildingAmenityModal(item)"
                    [text]="true"
                    class="p-0"
                ></p-button>
                <p-button
                    icon="pi pi-trash"
                    (click)="openDeleteBuildingAmenityDialog(item, $event)"
                    [text]="true"
                    class="p-0"
                    severity="danger"
                ></p-button>
            </div>
        </div>
    </div>

    <div *ngIf="!buildingAmenties || buildingAmenties.length === 0" class="">
        <p class="text-left">....No building amenities</p>
    </div>

    <p-dialog
        header="Add Building Amenity"
        [(visible)]="showAddBuildingAmenityModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <form
            [formGroup]="createBuildingAmenityForm"
            class="p-fluid p-2"
            (ngSubmit)="createBuildingAmenity()"
            novalidate
        >
            <div class="grid">
                <div class="field col-12">
                    <label for="particular">Particulars</label>
                    <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="name"
                    ></textarea>
                    <div
                        *ngIf="
                            createBuildingAmenityForm.get('name').invalid &&
                            (createBuildingAmenityForm.get('name').dirty ||
                                createBuildingAmenityForm.get('name').touched)
                        "
                        class="error"
                    >
                        <small class="p-error">Name is required.</small>
                    </div>
                </div>
            </div>

            <div class="flex justify-content-end gap-2">
                <p-button
                    severity="secondary"
                    label="Cancel"
                    (click)="showAddBuildingAmenityModal = false"
                ></p-button>
                <p-button
                    type="submit"
                    label="Create Amenity"
                    [disabled]="
                        createBuildingAmenityForm.invalid || isSubmitting
                    "
                ></p-button>
            </div>
        </form>
    </p-dialog>

    <p-dialog
        header="Edit Building Amenity"
        [(visible)]="showEditBuildingAmenityModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <form [formGroup]="updateBuildingAmenityForm" class="p-fluid p-2">
            <div class="grid">
                <div class="field col-12">
                    <label for="particular">Particulars</label>
                    <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="name"
                    ></textarea>
                </div>
            </div>

            <div class="flex justify-content-end gap-2">
                <p-button
                    severity="secondary"
                    label="Cancel"
                    (click)="showEditBuildingAmenityModal = false"
                >
                </p-button>
                <p-button
                    (click)="updateBuildingAmenity()"
                    label="Update Amenity"
                ></p-button>
            </div>
        </form>
    </p-dialog>
</div>
