<div class="flex justify-content-between my-4">
    <div>
        <p class="text-xl">Tenants Master Table</p>
    </div>
    <div class="flex gap-2">
        <p-button
            label="Tenant"
            icon="pi pi-plus"
            (click)="openAddTenantsModal()"
            size="small"
        ></p-button>
        <p-button
            label="Download Excel"
            icon="pi pi-file-excel"
            size="small"
            (click)="downloadMasterTable()"
        ></p-button>
    </div>
</div>
<i class="pi pi-pi-phone" style="font-size: 1rem"></i>
<p-table
    [value]="paginatedTenants.data"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Details</th>
            <th>Permanent Address</th>
            <th>Active Leases</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tenant>
        <tr>
            <td>
                <p>
                    Name: {{ tenant.firstName }} {{ tenant.middleName }}
                    {{ tenant.lastName }}
                </p>
                <p class="flex align-items-center gap-2">
                    Phone Number:

                    {{ tenant.phoneNumber }}
                </p>
                <p class="flex align-items-center gap-2">
                    Email:
                    {{ tenant.email }}
                </p>
            </td>

            <td>
                <p>
                    {{ tenant.subadministrativeZone?.name }}
                    <small>
                        ({{ tenant.subadministrativeZone?.nameDzo }})</small
                    >
                </p>
                <p>
                    {{ tenant.administrativeZone?.name }}
                    <small>({{ tenant.administrativeZone?.nameDzo }})</small>
                </p>
                <p>
                    {{ tenant.dzongkhag?.name }}
                    <small> ({{ tenant.dzongkhag?.nameDzo }})</small>
                </p>
            </td>

            <td>
                <div class="gap-3 flex flex-wrap">
                    <div *ngFor="let item of tenant.leaseAgreements">
                        <p class="hover:underline cursor-pointer">
                            -
                            <strong
                                >{{ item.unit?.floorLevel }}-{{
                                    item.unit?.unitNumber
                                }}</strong
                            >
                            of <strong>{{ item.building?.name }}</strong> for
                            <strong>{{ item.use }}</strong> purpose, till
                            <strong>{{
                                getMonthYearString(item.leaseEndDate)
                            }}</strong>
                        </p>
                    </div>
                </div>
            </td>

            <td>
                <div class="flex gap-2 justify-content-end flex-wrap">
                    <p-button size="small" icon="pi pi-pencil"></p-button>
                    <p-button
                        size="small"
                        severity="danger"
                        icon="pi pi-trash"
                    ></p-button>

                    <p-button
                        label="Reset PIN"
                        severity="secondary"
                        size="small"
                        (click)="resetPin(tenant)"
                    >
                    </p-button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div>
            <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="paginatedTenants.firstPage"
                [rows]="paginatedTenants.limit"
                [totalRecords]="paginatedTenants.count"
                [rowsPerPageOptions]="[10, 20, 50]"
            ></p-paginator>
        </div>
    </ng-template>
</p-table>
