<p-confirmPopup></p-confirmPopup>
<div>
    <div class="flex">
        <div class="p-fluid">
            <p>Monthly rent</p>
            <p-inputGroup>
                <p-inputGroupAddon>Nu.</p-inputGroupAddon>
                <p-inputNumber
                    [(ngModel)]="rent"
                    inputId="minmaxfraction"
                    minFractionDigits="0"
                    maxFractionDigits="10"
                />
            </p-inputGroup>
        </div>
        <div class="p-fluid">
            <p>Security Deposit</p>
            <p-inputGroup>
                <p-inputGroupAddon>Nu.</p-inputGroupAddon>
                <p-inputNumber
                    [(ngModel)]="securityDepositAmount"
                    inputId="minmaxfraction"
                    minFractionDigits="0"
                    maxFractionDigits="10"
                />
            </p-inputGroup>
        </div>
    </div>

    <div *ngIf="leaseAgreement.type === leaseTypeEnum.LAND">
        <div class="col-4 field p-fluid">
            <p>Area Leased</p>
            <div class="flex">
                <p-inputGroup class="w-full">
                    <p-inputNumber
                        [(ngModel)]="areaLeased"
                        inputId="minmaxfraction"
                        minFractionDigits="0"
                        maxFractionDigits="10"
                    />
                </p-inputGroup>
                <p-dropdown
                    [options]="areaUnits"
                    [(ngModel)]="selectedAreaUnit"
                    [showClear]="false"
                    placeholder="Select Lessee Type"
                >
                </p-dropdown>
            </div>
        </div>
        <div class="col-4 field p-fluid">
            <p>Rate Per Area</p>
            <div class="flex">
                <p-inputGroup>
                    <p-inputGroupAddon>Nu.</p-inputGroupAddon>
                    <p-inputNumber
                        [(ngModel)]="ratePerArea"
                        inputId="minmaxfraction"
                        minFractionDigits="0"
                        maxFractionDigits="10"
                    />
                </p-inputGroup>
                <p-dropdown
                    [options]="areaUnits"
                    [(ngModel)]="selectedAreaUnit"
                    [showClear]="false"
                    placeholder="Select Lessee Type"
                >
                </p-dropdown>
            </div>
        </div>
    </div>

    <div class="my-4">
        <div class="p-fluid">
            <p>Deposit to Account</p>
            <div
                class="flex align-items-center gap-2 font-semibold"
                *ngIf="selectedOwnerBankAccount"
            >
                {{ selectedOwnerBankAccount.accountNumber }}/{{
                    selectedOwnerBankAccount.accountName
                }}
            </div>
        </div>
        <div class="p-fluid my-4">
            <p>Penalty for late payment:</p>
            <div class="flex align-items-center">
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="penaltyPercentagePerAnnum"
                ></p-inputNumber>
                <p>% per annum on the overdue amount, charged daily.</p>
            </div>
        </div>
    </div>

    <div #additionalCharges class="my-5">
        <div class="flex justify-content-between">
            <p class="font-semibold">Lease Charges</p>
            <p-button
                label="Lease Charge"
                icon="pi pi-plus"
                severity="secondary"
                size="small"
                (click)="openCreateLeaseSurchargeModal()"
            ></p-button>
        </div>
        <p-divider></p-divider>

        <p-table
            *ngIf="leaseCharges.length"
            [value]="leaseCharges"
            class="p-datatable-sm"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Particular</th>
                    <th>Amount(NU)</th>
                    <th>Source</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-editing="editing">
                <tr>
                    <td
                        [pEditableColumn]="item.particular"
                        pEditableColumnField="particular"
                    >
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="item.particular"
                                />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.particular }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td
                        [pEditableColumn]="item.amount"
                        pEditableColumnField="amount"
                    >
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="item.amount" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.amount }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        {{ item.origin }}
                    </td>
                    <td>
                        <p
                            class="text-red-500 cursor-pointer hover:underline"
                            (click)="deleteCharge($event, item)"
                        >
                            remove
                        </p>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p *ngIf="!leaseCharges.length">- No additional lease charges</p>
    </div>

    <p class="text-xl text-right my-2 font-bold">
        Updated Total Montly Payable :
        <strong> {{ getUpdatedTotalMonthlyPayabe() }} </strong>
    </p>

    <div #footNote class="max-w-lg">
        <p class="text-sm">
            Penalty of
            {{ penaltyPercentagePerAnnum }}
            % per annum on the amount due applied daily after
            {{ leaseAgreement?.paymentDueDay }} of the following month..
        </p>
    </div>

    <div #footer class="my-2 flex justify-content-end">
        <p-button label="Update" (click)="updateLeasePayment()"></p-button>
    </div>
</div>
<p-dialog
    header="Add Charges"
    [(visible)]="showAddLeaseChargeForm"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="createLeaseChargeForm" class="p-fluid">
        <div class="">
            <label for="particular">Particular</label>
            <textarea
                rows="3"
                cols="30"
                pInputTextarea
                formControlName="particular"
            ></textarea>
        </div>
        <div class="mb-2">
            <label for="particular">Amount</label>
            <p-inputNumber inputId="integeronly" formControlName="amount">
            </p-inputNumber>
        </div>

        <p-button
            (click)="createLeaseCharge()"
            label="Add Surcharge"
        ></p-button>
    </form>
</p-dialog>
