<div class="card">
    <div *ngIf="pendingPaymentAdvice?.length">
        <div class="flex justify-content-between align-items-end my-2">
            <p class="text-2xl font-semibold text-blue-800">Pending Payments</p>
            <div class="text-right">
                <p class="text-sm">Amount Due</p>
                <p class="text-2xl text-red-600 md:text-5xl font-semibold">
                    Nu. {{ totalAmountDue }}
                </p>
            </div>
        </div>
        <p-divider></p-divider>

        <div
            *ngFor="let advice of pendingPaymentAdvice"
            class="border-1 my-3 p-4 border-dashed surface-border border-round surface-ground"
        >
            <div>
                <p class="text-xl md:text-4xl font-bold">
                    Nu.{{ advice.amountDue }}
                </p>
                <p>
                    {{ advice.title }}
                </p>
            </div>
            <div class="mt-2">
                <p *ngFor="let item of advice.paymentAdviseItem">
                    - {{ item.particular }} : Nu. {{ item.amount }}
                </p>
            </div>
            <p-divider></p-divider>
            <div class="flex justify-content-end gap-4">
                <p-button
                    [outlined]="true"
                    severity="secondary"
                    label="Details"
                ></p-button>
                <p-button
                    severity="success"
                    (click)="openPaymentGatewayPaymentModal(advice)"
                    label="Pay"
                ></p-button>
            </div>
        </div>
    </div>

    <div
        class="border-1 p-4 border-dashed surface-border border-round surface-ground"
        *ngIf="!pendingPaymentAdvice.length"
    >
        <p>No Pending payment advices</p>
    </div>
</div>
