<div id="leaseActivesummary" class="p-4" *ngIf="activeLeaseAgreements">
    <div class="mb-2 p-4">
        <p class="text-2xl text-blue-600 font-bold">
            {{ activeLeaseAgreements.length }}
        </p>
        <p>Active Lease</p>
    </div>
    <div *ngIf="activeLeaseAgreements.length">
        <div
            class="flex flex-column justify-content-between gap-4 p-4 border-dashed surface-border border-round surface-ground"
            *ngFor="let item of activeLeaseAgreements; index as i"
        >
            <!-- <div class="flex justify-content-between mb-3">
                <p-chip label="Active Lease" icon="pi pi-bookmark-fill" />
                <div
                    class="flex gap-2 justify-content-end"
                    style="flex-wrap: wrap"
                >
                    <p-button
                        label="Detailed View"
                        severity="secondary"
                        size="small"
                        (click)="openLeaseDetailedView(item)"
                    />
                    <p-button
                        label="Request Renewal"
                        icon="pi pi-refresh"
                        severity="secondary"
                        size="small"
                    />
                </div>
            </div> -->

            <div class="w-12">
                <p class="font-semibold text-lg">
                    {{ i + 1 }}. Lease of unit {{ item.unit?.floorLevel }}-{{
                        item.unit?.unitNumber
                    }}
                    for {{ item.use }} purpose.
                </p>
                <p-divider type="dashed" />

                <div
                    class="flex gap-2 justify-content-between align-items-end mb-1"
                >
                    <div>
                        <p class="text-2xl font-semibold">
                            {{ item.unit?.floorLevel }}-{{
                                item.unit?.unitNumber
                            }}
                        </p>
                        <p>
                            <span style="text-transform: capitalize">{{
                                parseFloorLevel(item.unit?.floorLevel)
                            }}</span>
                        </p>
                    </div>
                    <div class="text-right">
                        <p>{{ item.building?.name }}</p>
                        <p class="m-0 p-0">
                            {{ item.building?.buildingNumber }}
                            {{ item.building?.streetName }}
                            {{ item.building?.adminsitrativeZone?.name }}
                            {{ item.building?.subadministrativeZone?.name }}

                            {{ item.building.landmark }}
                        </p>
                    </div>
                </div>
                <p-divider type="dashed" />

                <div class="flex gap-3 text-sm my-2" style="flex-wrap: wrap">
                    <div class="flex align-items-end">
                        <img
                            src="assets/icons/bed.svg"
                            style="height: 1.5rem"
                        />
                        <p>{{ item.unit?.bedroomCount }} Beds</p>
                    </div>
                    <div class="flex align-items-end">
                        <img
                            src="assets/icons/toilet.svg"
                            style="height: 1.5rem"
                        />
                        <p>{{ item.unit?.toiletCount }} Baths</p>
                    </div>
                    <div class="flex align-items-end">
                        <img
                            src="assets/icons/balcony.svg"
                            style="height: 1.5rem"
                            alt="Icon"
                        />
                        <p>{{ item.unit?.balconyCount }} Balconies</p>
                    </div>

                    <div
                        class="flex align-items-end"
                        *ngIf="item.unit.floorArea"
                    >
                        <img
                            src="assets/icons/floorArea.svg"
                            style="height: 1.5rem"
                        />
                        <p>{{ item.unit?.floorArea }} SqM</p>
                    </div>
                </div>
            </div>
            <div id="leaseSummary" class="w-12">
                <div class="flex gap-3 mb-2">
                    <p class="text-xl">
                        Total Monthly Payable:
                        <span class="font-semibold"
                            >Nu. {{ computeMonthlyPayable(item) }}
                        </span>
                    </p>
                    <p-button
                        [text]="true"
                        size="small"
                        (click)="viewLeasePaymentBreakdown(item)"
                        >view breakdown</p-button
                    >
                </div>

                <p>
                    Lease Purpose:
                    <strong>{{ item.use }}</strong>
                </p>
                <p>
                    Lease End Date:
                    <strong>{{ item.leaseEndDate }}</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div
    class="border-1 mb-4 p-4 border-dashed surface-border border-round surface-ground"
    *ngIf="!activeLeaseAgreements?.length"
>
    <p>No Active Lease agreement</p>
</div>

<!-- DIALOGS -->
<p-dialog
    header="Lease Surcharges"
    [modal]="true"
    [(visible)]="showLeasePaymentBreakdownModal"
    [style]="{ width: '25rem' }"
>
    <div *ngIf="selectedLease">
        <table>
            <tr>
                <td>Rent</td>
                <td>
                    <p class="pl-2">Nu. {{ selectedLease?.rent }}</p>
                </td>
            </tr>
            <tr *ngFor="let item of selectedLease?.leaseSurcharges">
                <td>{{ item.particular }}</td>
                <td>
                    <p class="pl-2">Nu.{{ item.amount }}</p>
                </td>
            </tr>
        </table>

        <p *ngIf="selectedLease" class="text-right mt-1 text-xl font-semibold">
            Total: Nu.{{ computeMonthlyPayable(selectedLease) }}
        </p>
    </div>
</p-dialog>
