<form
    [formGroup]="createUserForm"
    class="p-fluid p-2 flex flex-column gap-4"
    style="min-width: 20vw"
>
    <p>
        User Role: <strong>{{ role }}</strong>
    </p>

    <div class="flex gap-3">
        <p-checkbox
            formControlName="hasLoginAccess"
            [binary]="true"
            inputId="ny"
        />
        <label for="hasLoginAccess">Allow Login Access</label>
    </div>
    <div class="flex flex-column gap-2">
        <label for="nameEnglish"> Name English </label>
        <input
            pInputText
            id="nameEnglish"
            formControlName="nameEnglish"
            type="text"
        />
    </div>
    <div class="flex flex-column gap-2">
        <label for="nameDzongkha"> Name Dzongkha (optional) </label>
        <input
            pInputText
            id="nameDzongkha"
            formControlName="nameDzongkha"
            type="text"
        />
    </div>

    <div class="flex flex-column gap-2">
        <label for="cid">CID (optional)</label>
        <input pInputText id="cid" formControlName="cid" type="text" />
    </div>

    <div class="flex flex-column gap-2">
        <label for="email">Email (optional)</label>
        <input pInputText id="email" formControlName="email" type="text" />
    </div>

    <div *ngIf="createUserForm.get('hasLoginAccess')?.value">
        <div class="flex flex-column gap-2 mb-2">
            <label for="phoneNumber">Phone Number (*required) </label>
            <p-inputNumber
                formControlName="phoneNumber"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
            />
        </div>

        <div class="flex flex-column gap-2">
            <label for="permanentAddress">Permanent Address (*required)</label>
            <input
                pInputText
                id="permanentAddress"
                formControlName="permanentAddress"
                type="text"
            />
        </div>
    </div>

    <div class="flex justify-content-end gap-4">
        <p-button
            (click)="createUser()"
            [disabled]="isSubmitting"
            label="Create User"
        ></p-button>
        <p-button
            severity="secondary"
            label="Cancel"
            (click)="close()"
        ></p-button>
    </div>
</form>
