<div class="flex justify-content-between align-items-start">
    <div class="flex flex-column gap-2">
        <img src="assets/logo.png" style="width: 50px" alt="" />
        <p>Zhidhay.com</p>
    </div>
    <div>
        <p>
            {{ companyDetails.webAppName }}
        </p>
        <p>Phone Number: {{ companyDetails.phoneNumber }}</p>
        <p>Email: {{ companyDetails.email }}</p>
        <p>Address: {{ companyDetails.address }}</p>
    </div>
</div>

<div>
    <p class="my-4 text-lg font-semibold">
        Advice Title: {{ paymentAdvice.title }}
    </p>

    <div>
        <p-table
            [value]="paymentAdvice.paymentAdviseItem"
            [tableStyle]="{ width: '100%' }"
            styleClass="p-datatable-sm"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Particular</th>
                    <th>Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.particular }}</td>
                    <td>Nu.{{ item.amount }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p class="my-2 font-semibold">
            Total: Nu. {{ paymentAdvice.totalAmount }}
        </p>
    </div>
</div>
<div class="flex justify-content-between my-4">
    <div
        class="flex justify-content-between align-items-end px-2 py-1 border-round-md"
        [ngClass]="{
        'bg-green-100 text-green-600': paymentAdvice.status === 'PAID',
        'bg-red-100 text-red-600': paymentAdvice.status === 'DUE',
    }"
    >
        <p>Payment Status: {{ paymentAdvice.status }}</p>
    </div>
    <p-button label="Send SMS reminder" size="small"> </p-button>
</div>
<div class="flex justify-content-between">
    <div class="w-4">
        <p>From</p>
        <p>
            {{ paymentAdvice.tenant?.firstName }}
            {{ paymentAdvice.tenant?.middleName }}
            {{ paymentAdvice.tenant?.lastName }}
        </p>
        <p>
            Tenant, {{ paymentAdvice.unit?.floorLevel }}-{{
                paymentAdvice.unit?.unitNumber
            }}
        </p>
        <p>{{ paymentAdvice.tenant?.phoneNumber }}</p>
    </div>
    <div class="w-4">
        <p>To Account</p>
        <div *ngIf="paymentAdvice.unit.bankAccount">
            <p>
                Bank Name:
                <strong>{{ paymentAdvice.unit.bankAccount.bankName }}</strong>
            </p>
            <p>
                Account Number:
                <strong>{{
                    paymentAdvice.unit.bankAccount.accountNumber
                }}</strong>
            </p>
            <p>
                Account Name:
                <strong>
                    {{ paymentAdvice.unit.bankAccount.accountName }}</strong
                >
            </p>
        </div>
        <div *ngIf="!paymentAdvice.unit.bankAccount">
            <p class="text-red-600 font-semibold">Bank Account Not Linked!</p>
            <p>
                Please go to the unit details tab under properites and link your
                bank account to the unit
            </p>
        </div>
    </div>
</div>
<p class="text-sm my-2">
    * the linked account can be changed from the unit details tab under
    properties
</p>
<div class="flex gap-2 align-items-center justify-content-center mt-4">
    <img src="assets/rma.png" alt="" style="width: 30px" />
    <p>Secured Payment by RMA PG</p>
</div>
