<form [formGroup]="updateThramForm" class="p-fluid p-2 flex flex-column gap-4">
    <div class="flex flex-column gap-2">
        <label for="thramNo">Thram Number</label>
        <input pInputText id="thramNo" formControlName="thramNo" type="text" />

        <div
            *ngIf="
                updateThramForm.get('thramNo')?.invalid &&
                updateThramForm.get('thramNo')?.touched
            "
            class="p-error"
        >
            <small *ngIf="updateThramForm.get('thramNo')?.errors?.['required']"
                >Thram Number is required.</small
            >
        </div>
    </div>

    <div class="flex p-fluid justify-content-between gap-4">
        <div class="flex flex-column gap-2 flex-1">
            <label for="ownershipType">Ownership Type</label>
            <p-dropdown
                id="ownershipType"
                [options]="ownerTypes"
                appendTo="body"
                formControlName="ownershipType"
            ></p-dropdown>
            <div
                *ngIf="
                    updateThramForm.get('ownershipType')?.invalid &&
                    updateThramForm.get('ownershipType')?.touched
                "
                class="p-error"
            >
                <small>Ownership Type is required.</small>
            </div>
        </div>
    </div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="dzongkhagId">Dzongkhag</label>
        <p-dropdown
            id="dzongkhagId"
            [options]="dzongkhags"
            optionValue="id"
            optionLabel="name"
            appendTo="body"
            (onChange)="dzongkhagSelected($event)"
            formControlName="dzongkhagId"
        ></p-dropdown>
        <div
            *ngIf="
                updateThramForm.get('dzongkhagId')?.invalid &&
                updateThramForm.get('dzongkhagId')?.touched
            "
            class="p-error"
        >
            <small>Dzongkhag is required.</small>
        </div>
    </div>
    <div class="flex flex-column gap-2 flex-1">
        <label for="administrativeZoneId">Administrative Zone</label>
        <p-dropdown
            id="administrativeZoneId"
            optionValue="id"
            optionLabel="name"
            appendTo="body"
            (onChange)="administrativeZoneSelect($event)"
            [options]="administrativeZones"
            formControlName="administrativeZoneId"
        >
        </p-dropdown>
        <div
            *ngIf="
                updateThramForm.get('administrativeZoneId')?.invalid &&
                updateThramForm.get('administrativeZoneId')?.touched
            "
            class="p-error"
        >
            <small>Administrative Zone is required.</small>
        </div>
    </div>

    <div class="flex flex-column gap-2">
        <label for="subAdministrativeZoneId">Sub AdministrativeZone</label>
        <p-dropdown
            id="subAdministrativeZoneId"
            [options]="subAdministrativeZones"
            optionValue="id"
            optionLabel="name"
            appendTo="body"
            formControlName="subAdministrativeZoneId"
        ></p-dropdown>
        <div
            *ngIf="
                updateThramForm.get('subAdministrativeZoneId')?.invalid &&
                updateThramForm.get('subAdministrativeZoneId')?.touched
            "
            class="p-error"
        >
            <small>Sub Administrative Zone is required.</small>
        </div>
    </div>

    <div class="flex flex-column gap-2">
        <label for="chiwog">Owners</label>
        <p class="font-semibold">
            <span *ngFor="let owner of this.updateThramForm.value.owners">
                {{ owner.nameEnglish }}/{{ owner.nameDzongkha }} ,
            </span>
        </p>
        <hr />
        <p-multiSelect
            [options]="owners"
            placeholder="Select Owners"
            [filter]="true"
            filterBy="nameEnglish"
            appendTo="body"
            dataKey="id"
            formControlName="owners"
            optionLabel="nameEnglish"
        />

        <div
            *ngIf="
                updateThramForm.get('owners')?.invalid &&
                updateThramForm.get('owners')?.touched
            "
            class="p-error"
        >
            <small>Owner Organization is required.</small>
        </div>
    </div>

    <div class="flex justify-content-end gap-4">
        <p-button
            (click)="updateThram()"
            label="Update Thram"
            [disabled]="updateThramForm.invalid"
        ></p-button>
        <p-button
            severity="secondary"
            label="Cancel"
            (click)="close()"
        ></p-button>
    </div>
</form>
