<form [formGroup]="createUnitForm" class="p-fluid p-2">
    <div class="grid">
        <div class="field col-12 md:col-6">
            <label for="attic">Zhichar Unit Id</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="zhicharUnitId"
            ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic">Zhichar QrUuid</label>
            <input type="text" pInputText formControlName="zhicharQrUuid" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic">Floor Level*</label>
            <p-dropdown
                [options]="floorLevels"
                formControlName="floorLevel"
            ></p-dropdown>
            <div
                *ngIf="
                    createUnitForm.get('floorLevel')?.invalid &&
                    createUnitForm.get('floorLevel')?.touched
                "
                class="p-error"
            >
                <small
                    *ngIf="createUnitForm.get('floorLevel')?.errors?.['required']"
                    >Floor Level is required.</small
                >
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="unitNumber">Unit Number*</label>
            <p-dropdown
                id="unitNumber"
                [options]="unitNumbers"
                formControlName="unitNumber"
            ></p-dropdown>
            <div
                *ngIf="
                    createUnitForm.get('unitNumber')?.invalid &&
                    createUnitForm.get('unitNumber')?.touched
                "
                class="p-error"
            >
                <small
                    *ngIf="createUnitForm.get('unitNumber')?.errors?.['required']"
                    >Unit Number is required.</small
                >
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="attic">Bed Rooms*</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="bedroomCount"
            ></p-inputNumber>
            <div
                *ngIf="
                    createUnitForm.get('bedroomCount')?.invalid &&
                    createUnitForm.get('bedroomCount')?.touched
                "
                class="p-error"
            >
                <small
                    *ngIf="createUnitForm.get('bedroomCount')?.errors?.['required']"
                    >Required.</small
                >
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic"> Toilets*</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="toiletCount"
            ></p-inputNumber>
            <div
                *ngIf="
                    createUnitForm.get('toiletCount')?.invalid &&
                    createUnitForm.get('toiletCount')?.touched
                "
                class="p-error"
            >
                <small
                    *ngIf="createUnitForm.get('toiletCount')?.errors?.['required']"
                    >Required.</small
                >
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic"> Balcony* </label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="balconyCount"
            ></p-inputNumber>
            <div
                *ngIf="
                    createUnitForm.get('balconyCount')?.invalid &&
                    createUnitForm.get('balconyCount')?.touched
                "
                class="p-error"
            >
                <small
                    *ngIf="createUnitForm.get('balconyCount')?.errors?.['required']"
                    >Required.</small
                >
            </div>
        </div>

        <div class="field col-12 md:col-6">
            <label for="attic"> Floor Area</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="floorArea"
            ></p-inputNumber>
        </div>

        <div class="field col-12 md:col-6">
            <label for="zhichar">BPC consumer ID</label>
            <input
                pInputText
                id="zhichar"
                formControlName="powerConsumerId"
                type="text"
            />
        </div>
        <div class="field col-12">
            <label for="remarks">Remarks(old FlatNo)</label>
            <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="remarks"
            ></textarea>
        </div>
    </div>

    <div class="flex justify-content-end gap-2">
        <p-button
            [disabled]="createUnitForm.invalid || isSubmitting"
            (click)="createUnit()"
            label="Create Unit"
        ></p-button>
        <p-button
            severity="secondary"
            label="Cancel"
            (click)="close()"
        ></p-button>
    </div>
</form>
