<p class="text-xl font-semibold text-center mb-4">{{ mapTitle }}</p>
<div class="flex gap-4 py-4">
    <div class="flex gap-2">
        <p-dropdown
            [options]="dzongkhags"
            [(ngModel)]="selectedDzongkhag"
            optionLabel="name"
            placeholder="Select a Dzongkhag "
            (onChange)="getAllAdministrativeZoneByDzongkhag()"
        />
        <p-button
            icon="pi pi-search"
            label="Load by Dzongkhag"
            (click)="loadProperties('Dzongkhag', selectedDzongkhag.id)"
        ></p-button>
    </div>
    <div class="flex gap-2">
        <p-dropdown
            [options]="administrativeZones"
            [(ngModel)]="selectedAdministrativeZone"
            optionLabel="name"
            placeholder="Select an Admin Zone "
            (onChange)="getAllSubAdministrativeZonesByAdminZone()"
        />
        <p-button
            icon="pi pi-search"
            label="Load by Admin Zone"
            (click)="
                loadProperties(
                    'AdministrativeZone',
                    selectedAdministrativeZone.id
                )
            "
        ></p-button>
    </div>
    <div class="flex gap-2">
        <p-dropdown
            [options]="subAdministrativeZones"
            [(ngModel)]="selectedSubAdministrativeZone"
            optionLabel="name"
            placeholder="Select an Sub Admin Zone "
        />
        <p-button
            icon="pi pi-search"
            label="Load by Sub Admin Zone"
            (click)="
                loadProperties(
                    'SubAdministrativeZone',
                    selectedSubAdministrativeZone.id
                )
            "
        ></p-button>
    </div>
</div>

<div id="map"></div>
