<form
    [formGroup]="resolveForm"
    (ngSubmit)="submitResolveForm()"
    class="flex flex-column gap-4 p-fluid"
>
    <div class="flex flex-column gap-2">
        <label for="resolutionRemarks" class="p-col-12 p-md-2">Remarks</label>
        <div class="p-col-12 p-md-10">
            <textarea
                id="resolutionRemarks"
                formControlName="resolutionRemarks"
                pInputTextarea
                placeholder="Enter resolution details"
                rows="4"
            ></textarea>
            <div
                *ngIf="
                    resolveForm.controls['resolutionRemarks'].invalid &&
                    resolveForm.controls['resolutionRemarks'].touched
                "
            >
                <small class="p-error">Resolution remarks is required.</small>
            </div>
        </div>
    </div>

    <div class="flex flex-column gap-2">
        <label for="resolutionCharges" class="p-col-12 p-md-2"
            >Resolution Charges</label
        >
        <div class="p-col-12 p-md-10">
            <input
                type="number"
                id="resolutionCharges"
                formControlName="resolutionCharges"
                pInputText
                placeholder="Enter charges"
            />
            <div
                *ngIf="
                    resolveForm.controls['resolutionCharges'].invalid &&
                    resolveForm.controls['resolutionCharges'].touched
                "
            >
                <small class="p-error">Resolution charges are required.</small>
            </div>
        </div>
    </div>

    <div class="flex flex-column gap-2">
        <label for="resolvedBy" class="p-col-12 p-md-2">Resolved By</label>
        <div class="p-col-12 p-md-10">
            <p-dropdown
                formControlName="resolvedBy"
                [options]="resolvedByOptions"
                appendTo="body"
                placeholder="Select who resolved it"
            ></p-dropdown>
            <div
                *ngIf="
                    resolveForm.controls['resolvedBy'].invalid &&
                    resolveForm.controls['resolvedBy'].touched
                "
            >
                <small class="p-error">Please select who resolved it.</small>
            </div>
        </div>
    </div>

    <div class="flex justify-content-between py-3 gap-6">
        <button
            pButton
            type="submit"
            label="Submit"
            [disabled]="resolveForm.invalid"
            class="p-mr-2"
        ></button>
        <button
            pButton
            type="button"
            label="Cancel"
            (click)="cancelResolve()"
            class="p-button-secondary"
        ></button>
    </div>
</form>
