<p-timeline [value]="events" layout="horizontal">
    <ng-template pTemplate="content" let-event>
        <div [header]="event.status" [subheader]="event.date">
            <p>
                {{ event.status }}
            </p>
            <p>
                {{ event.date }}
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa
                ratione quam perferendis esse, cupiditate neque quas!
            </p>
        </div>
    </ng-template>
</p-timeline>
