<!-- <div class="flex justify-content-between align-items-end">
    <p class="text-xl font-semibold">Payments</p>
    <p-button
        label="Go to payments"
        (click)="goToPayments()"
        size="small"
        text="true"
    ></p-button>
</div>
<p-divider type="dashed"></p-divider>
<div class="text-lg">
    <p>
        Total Monthly Income:
        <strong> Nu.{{ summary.totalMonthlyIncome }}</strong>
    </p>
    <p>
        Total Pending Amount:
        <strong>Nu.{{ summary.totalPendingAmount }}</strong>
    </p>
</div> -->
