<div>
    <div
        #generator
        class="flex mb-4 justify-content-between align-items-center"
    >
        <div class="flex gap-2">
            <p-calendar
                [(ngModel)]="year"
                [showIcon]="true"
                [showOnFocus]="false"
                view="year"
                dateFormat="yy"
                inputId="buttondisplay"
            />
            <p-button
                label="Generate Report"
                icon="pi pi-file-excel"
                (click)="fetchPaymentData()"
            ></p-button>
        </div>
        <div class="flex gap-2">
            <p-button
                icon="pi pi-file-o"
                label="Generate PA"
                size="small"
                severity="secondary"
                (click)="generateBuildingPA()"
            ></p-button>
            <p-button
                size="small"
                icon="pi pi-envelope"
                severity="danger"
                label="Send SMS Reminder"
            ></p-button>
        </div>
    </div>
    <p-divider type="dashed"></p-divider>
    <div class="flex justify-content-between mt-6 mb-4">
        <div>
            <p class="text-xl font-semibold">
                Payment status for the year of {{ year.getFullYear() }}
            </p>
            <p class="text-sm">Double Click a cell to bring up detailed view</p>
        </div>
        <a [href]="excelDownLoadLink"> Download Excel </a>
    </div>
    <p-table
        [value]="unitsWithPA"
        [scrollable]="true"
        styleClass="p-datatable-gridlines p-datatable-striped"
    >
        <ng-template pTemplate="caption">
            <div class="">
                <p>Total Due: Nu. {{ totalPending }}</p>
                <p>Total Units: {{ unitsWithPA.length }}</p>
                <p>Vacant Units: {{ vacantUnitCount }}</p>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: max-content" pFrozenColumn>Unit</th>
                <th>JAN</th>
                <th>FEB</th>
                <th>MAR</th>
                <th>APR</th>
                <th>MAY</th>
                <th>JUN</th>
                <th>JUL</th>
                <th>AUG</th>
                <th>SEP</th>
                <th>OCT</th>
                <th>NOV</th>
                <th>DEC</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-unit>
            <tr>
                <td pFrozenColumn style="min-width: 80px">
                    <p class="text-xl font-semibold">
                        {{ unit.floorLevel }}-{{ unit.unitNumber }}
                    </p>
                </td>
                <td *ngFor="let advice of unit.paymentAdvices; let i = index">
                    <ng-container *ngIf="advice && advice.id; else naTemplate">
                        <div
                            (dblclick)="openPADetails(advice)"
                            class="cursor-pointer hover:bg-gray-100"
                        >
                            <p style="text-wrap: nowrap">
                                Status:
                                <span
                                    class="font-semibold mr-2 px-2 py-1 border-round-md text-sm"
                                    [ngClass]="{
                                        'text-green-50  bg-green-600  ':
                                            advice.status === 'PAID',
                                        'text-red-50 bg-red-600  ':
                                            advice.status === 'DUE'
                                    }"
                                >
                                    {{ advice.status }}</span
                                >
                            </p>

                            <div
                                *ngIf="advice.status === 'DUE'"
                                class="text-red-600 mt-2"
                            >
                                <p style="text-wrap: nowrap">
                                    Amount Due: Nu. {{ advice.totalAmount }}
                                </p>
                                <div style="text-wrap: nowrap" class="my-2">
                                    Payaee:
                                    <p>
                                        Name: {{ advice.tenant?.firstName }}
                                        {{ advice.tenant?.middleName }}
                                        {{ advice.tenant?.lastName }}
                                    </p>
                                    <p>
                                        Phone: {{ advice.tenant?.phoneNumber }}
                                    </p>
                                    <p>CID: {{ advice.tenant?.cid }}</p>
                                </div>
                            </div>
                            <div *ngIf="advice.status === 'PAID'" class="mt-2">
                                <p style="text-wrap: nowrap">
                                    Amount Paid: Nu. {{ advice.totalAmount }}
                                </p>
                                <div style="text-wrap: nowrap" class="my-2">
                                    Paid by:
                                    <p>
                                        Name: {{ advice.tenant?.firstName }}
                                        {{ advice.tenant?.middleName }}
                                        {{ advice.tenant?.lastName }}
                                    </p>
                                    <p>
                                        Phone: {{ advice.tenant?.phoneNumber }}
                                    </p>
                                    <p>CID: {{ advice.tenant?.cid }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #naTemplate>
                        <p *ngIf="unit.activeLeaseAgreement?.id">NA</p>
                        <p *ngIf="!unit.activeLeaseAgreement?.id">Vacant</p>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog
        [modal]="true"
        [(visible)]="showLoading"
        closable="false"
        styleClass="bg-transparent"
        [style]="{ width: '25rem', background: 'transparent' }"
    >
        <div
            class="flex h-full w-full flex-column gap-4 align-items-center justify-content-center"
        >
            <p>Generating Report</p>
            <p-progressSpinner
                styleClass="w-4rem h-4rem"
                strokeWidth="8"
                fill="var(--surface-ground)"
                animationDuration=".5s"
            />
        </div>
    </p-dialog>
</div>
