<p>
    Do you want to generate PA for <strong> {{ getParsedDate() }}</strong> for
    <br />
    the <strong>actively leased Building and Units</strong>?
</p>
<div class="flex mt-3 justify-content-end gap-4">
    <p-button
        label="Generate"
        *ngIf="!results.length"
        (click)="generatePaymentAdvice()"
    ></p-button>
    <p-button
        label="Close"
        severity="secondary"
        [text]="true"
        (click)="close()"
    >
    </p-button>
</div>

<div
    *ngIf="results.length"
    class="mt-4"
    style="max-height: 20vh; overflow-y: scroll"
>
    <div *ngFor="let item of results" class="my-3">
        <div
            [ngClass]="{
                'text-green-400': item.status === paGenerationStatus.SUCCESS,
                'text-red-400': item.status === paGenerationStatus.ERROR,
                'text-blue-400': item.status === paGenerationStatus.INFO
            }"
        >
            <p>{{ item.status }} : {{ item.message }}</p>
        </div>
    </div>
</div>

<p-dialog [modal]="true" [(visible)]="isGenerating" [closable]="false">
    <div class="flex flex-column align-items-center justify-content-center">
        <span class="p-text-secondary block mb-5"
            >Generating Payment Advices...</span
        >

        <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
        />
    </div>
</p-dialog>
