<div class="flex flex-column gap-2">
    <p>Location</p>
    <input type="text" pInputText [(ngModel)]="location" />
    <p class="text-sm">Bedroom, Sitting Room, Master Bedroom ..etc</p>
</div>

<div class="flex flex-column gap-2 my-4">
    <p>Description</p>
    <textarea
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="description"
    ></textarea>
</div>

<p>Upload One or More Photographic Evidence</p>
<p-fileUpload
    name="myfile[]"
    url="https://www.primefaces.org/cdn/api/upload.php"
    [multiple]="true"
    accept="image/*"
    maxFileSize="1000000"
    (onUpload)="onTemplatedUpload()"
    (onSelect)="onSelectedFiles($event)"
>
    <ng-template
        pTemplate="header"
        let-files
        let-chooseCallback="chooseCallback"
        let-clearCallback="clearCallback"
        let-uploadCallback="uploadCallback"
    >
        <div
            class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2"
        >
            <div class="flex gap-2">
                <p-button
                    (onClick)="choose($event, chooseCallback)"
                    label="Select"
                    size="small"
                />
                <!-- <p-button
                    (onClick)="uploadEvent(uploadCallback)"
                    icon="pi pi-cloud-upload"
                    label="Upload"
                    size="small"
                    severity="success"
                    [disabled]="!files || files.length === 0"
                />
                <p-button
                    (onClick)="clearCallback()"
                    icon="pi pi-times"
                    size="small"
                    severity="danger"
                    [disabled]="!files || files.length === 0"
                /> -->
            </div>
            <p-progressBar
                [value]="totalSizePercent"
                [showValue]="false"
                styleClass="md:w-20rem h-1rem w-full md:ml-auto"
                [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }"
            >
                <span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span>
            </p-progressBar>
        </div>
    </ng-template>
    <ng-template
        pTemplate="content"
        let-files
        let-uploadedFiles="uploadedFiles"
        let-removeFileCallback="removeFileCallback"
        let-removeUploadedFileCallback="removeUploadedFileCallback"
    >
        <div *ngIf="files?.length > 0">
            <p class="text-lg">Pending</p>
            <div class="flex flex-wrap gap-2">
                <div
                    *ngFor="let file of files; let i = index"
                    class="m-0 flex flex-column align-items-center gap-3"
                >
                    <div>
                        <img
                            role="presentation"
                            [alt]="file.name"
                            [src]="file.objectURL"
                            height="30"
                        />
                    </div>
                    <div>{{ formatSize(file.size) }}</div>

                    <p-button
                        icon="pi pi-times"
                        size="small"
                        (onClick)="
                            onRemoveTemplatingFile(
                                $event,
                                file,
                                removeFileCallback,
                                index
                            )
                        "
                        severity="danger"
                    />
                </div>
            </div>
        </div>
        <!-- <div *ngIf="uploadedFiles?.length > 0">
            <h5>Completed</h5>
            <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                <div
                    *ngFor="let file of uploadedFiles; let i = index"
                    class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3"
                >
                    <div>
                        <img
                            role="presentation"
                            [alt]="file.name"
                            [src]="file.objectURL"
                            width="100"
                            height="50"
                        />
                    </div>
                    <span class="font-semibold">{{ file.name }}</span>
                    <div>{{ formatSize(file.size) }}</div>
                    <p-badge
                        value="Completed"
                        class="mt-3"
                        severity="success"
                    />
                    <p-button
                        icon="pi pi-times"
                        (onClick)="removeUploadedFileCallback(index)"
                        [outlined]="true"
                        [rounded]="true"
                        severity="danger"
                    />
                </div>
            </div>
        </div> -->
    </ng-template>
    <ng-template pTemplate="file"> </ng-template>
    <ng-template pTemplate="empty">
        <div class="flex align-items-center justify-content-center flex-column">
            <p class="mt-4 mb-0">Select to upload photo</p>
        </div>
    </ng-template>
</p-fileUpload>

<div class="flex justify-content-end mt-4 gap-4">
    <p-button size="small" label="Save" (click)="upload()"></p-button>
    <p-button size="small" label="Cancel" severity="secondary"></p-button>
</div>
