<p-confirmDialog />

<div class="" *ngIf="showNotificationButtons">
    <div class="flex align-items-end mb-2">
        <p-button
            label="Notify to sign"
            size="small"
            severity="secondary"
            icon="pi pi-bell"
            *ngIf="!leaseAgreement.leaseSigningDate"
            (click)="notifyLeaseSigning()"
        ></p-button>
        <p class="text-red-500 text-sm">
            *lease agreement not signed by the tenant
        </p>
    </div>

    <div
        *ngIf="!leaseAgreement.securityDepositPaid"
        class="flex align-items-end mb-2"
    >
        <p-button
            label="Notify Security Deposit Payment"
            size="small"
            severity="secondary"
            icon="pi pi-bell"
            (click)="notifySecurityDepositPayment()"
        ></p-button>

        <p class="text-red-500 text-sm">*security deposit not paid</p>
    </div>

    <div
        *ngIf="!leaseAgreement.entryDamageReportSubmitted"
        class="flex align-items-end mb-2"
    >
        <p-button
            label="Notify Entry Damage Report Submission"
            size="small"
            severity="secondary"
            icon="pi pi-bell"
            (click)="notifyEntryDamageReportSubmission()"
        ></p-button>

        <p class="text-red-500 text-sm">*Entry Damage Report not submitted</p>
    </div>
</div>

<p class="font-semibold mb-2 mt-4">Notifications Sent</p>
<div class="flex align-items-center mb-2 justify-content-between">
    <div>
        <p>
            Showing {{ paginatedNotifications.data.length }} of
            {{ paginatedNotifications.count }} Entries
        </p>
    </div>
    <div class="">
        <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="firstPageNumber"
            [rows]="rows"
            [totalRecords]="paginatedNotifications.count"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showFirstLastIcon]="true"
            #paginator
        ></p-paginator>
    </div>
</div>
<div *ngFor="let item of paginatedNotifications.data">
    <div class="flex justify-content-between font-semibold mt-2">
        <p>
            {{ item.notificationType.name }}
        </p>

        <p>To {{ item.recipient.nameEnglish }}</p>
    </div>
    <p class="text-sm mb-2">
        {{ item.createdAt | date : "medium" }}
    </p>
    <p>
        {{ item.message }}
    </p>

    <div
        *ngIf="getStatusObject(item.status) as statusObject"
        class="flex gap-2 mt-2 text-sm"
    >
        <ng-container *ngIf="statusObject.SMS">
            <p
                [ngClass]="
                    statusObject.SMS.status === NOTIFICATIONCHANNELSTATUS.FAILED
                        ? 'text-red-600'
                        : 'text-green-600'
                "
            >
                <strong>SMS</strong>
                {{
                    statusObject.SMS.status ===
                    NOTIFICATIONCHANNELSTATUS.SUCCESS
                        ? "✓"
                        : "✘"
                }}
            </p>
        </ng-container>

        <ng-container *ngIf="statusObject.PUSH">
            <p
                [ngClass]="
                    statusObject.EMAIL.status ===
                    NOTIFICATIONCHANNELSTATUS.FAILED
                        ? 'text-red-600'
                        : 'text-green-600'
                "
            >
                <strong>Email</strong>
                {{
                    statusObject.EMAIL.status ===
                    NOTIFICATIONCHANNELSTATUS.SUCCESS
                        ? "✓"
                        : "✘"
                }}
            </p>
        </ng-container>

        <ng-container *ngIf="statusObject.PUSH">
            <p
                [ngClass]="
                    statusObject.PUSH.status ===
                    NOTIFICATIONCHANNELSTATUS.FAILED
                        ? 'text-red-600'
                        : 'text-green-600'
                "
            >
                <strong>Push</strong>
                {{
                    statusObject.PUSH.status ===
                    NOTIFICATIONCHANNELSTATUS.SUCCESS
                        ? "✓"
                        : "✘"
                }}
            </p>
        </ng-container>
    </div>

    <p-divider></p-divider>
</div>
