<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Lease Properties </ng-template>

        <ng-template pTemplate="content">
            <p>Search Thram</p>
            <div class="flex gap-2 w-full mb-4">
                <div class="flex flex-1 flex-column gap-2">
                    <label for="dzongkhag">Dzongkhag</label>
                    <p-dropdown
                        [options]="dzongkhags"
                        optionLabel="name"
                        placeholder="Select Dzongkhag"
                        (onChange)="dzongkhagSelected($event)"
                        [(ngModel)]="selectedDzongkhag"
                    ></p-dropdown>
                </div>
                <div class="flex flex-1 flex-column gap-2">
                    <label for="gewog">Administrative Zone</label>
                    <p-dropdown
                        optionLabel="name"
                        placeholder="Select Administrative Zone"
                        (onChange)="administrativeZoneSelect($event)"
                        [options]="administrativeZones"
                        [(ngModel)]="selectedAdministrativeZone"
                    >
                    </p-dropdown>
                </div>
            </div>
            <div class="flex gap-2 my-4 justify-content-end align-items-end">
                <div class="flex flex-1 flex-column gap-2">
                    <label for="chiwog">Sub AdministrativeZone</label>
                    <p-dropdown
                        [options]="subAdministrativeZones"
                        optionLabel="name"
                        placeholder="Select Sub Administrative Zone"
                        [(ngModel)]="selectedSubAdministrativeZone"
                    ></p-dropdown>
                </div>
                <div class="flex flex-column gap-2 flex-1">
                    <label for="nameEnglish">Thram Number</label>
                    <input
                        pInputText
                        id="nameEnglish"
                        [(ngModel)]="thramNo"
                        type="text"
                    />
                </div>
            </div>
            <div class="flex justify-content-end">
                <p-button
                    label="Search for Thram"
                    (click)="searchThram()"
                ></p-button>
            </div>

            <p-divider></p-divider>

            <div *ngIf="thram">
                <p>Thram found</p>
                <p>Thram No: {{ thram.thramNo }}</p>
            </div>
            <div class="flex flex-column text-xl text-center gap-4">
                <p>
                    The <strong>LANDLORD</strong> leases the following proeprty
                    under his name to the
                    <strong>TENANT</strong>
                </p>

                <div class="p-fluid flex gap-2">
                    <div class="flex flex-1 flex-column gap-2">
                        <p-dropdown
                            [options]="plots"
                            optionLabel="plotId"
                            placeholder="Select a Plot"
                            (onChange)="plotSelected($event)"
                            [(ngModel)]="selectedPlot"
                        ></p-dropdown>
                    </div>
                    <p-dropdown
                        [options]="buildings"
                        [(ngModel)]="selectedBuilding"
                        [showClear]="true"
                        (onChange)="loadUnitsByBuilding()"
                        placeholder="Select a Building "
                    >
                        <ng-template pTemplate="selectedItem">
                            <p *ngIf="selectedBuilding">
                                Building with ID
                                {{ selectedBuilding.id }},
                                <span *ngIf="selectedBuilding.name">
                                    {{ selectedBuilding.name }}
                                </span>
                            </p>
                        </ng-template>
                        <ng-template let-building pTemplate="item ">
                            <p>
                                Building with ID
                                {{ building.id }},
                                <span *ngIf="building.name">
                                    {{ building.name }}
                                </span>
                            </p>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="flex gap-2">
                    <div class="p-fluid">
                        <p-dropdown
                            [options]="units"
                            [(ngModel)]="selectedUnit"
                            optionLabel="name"
                            [showClear]="true"
                            placeholder="Select Unit"
                        >
                            <ng-template pTemplate="selectedItem">
                                <p *ngIf="selectedUnit">
                                    {{ selectedUnit.floorLevel }}-{{
                                        selectedUnit.unitNumber
                                    }}
                                </p>
                            </ng-template>
                            <ng-template let-unit pTemplate="item">
                                <p>
                                    {{ unit.floorLevel }}-{{ unit.unitNumber }}
                                </p>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="p-fluid">
                        <p-dropdown
                            [options]="uses"
                            [(ngModel)]="selectedUse"
                            [showClear]="true"
                            placeholder="Select Use"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <p *ngIf="selectedBuilding && selectedUnit && selectedUse">
                    Unit
                    <strong
                        >{{ selectedUnit.floorLevel }}-{{
                            selectedUnit.unitNumber
                        }}</strong
                    >
                    of Building with ID
                    <strong
                        >{{ selectedBuilding.id }},
                        <span *ngIf="selectedBuilding.name">
                            {{ selectedBuilding.name }}
                        </span></strong
                    >

                    on plot
                    {{ selectedPlot.plotId }}
                    is leased to the <strong>TENANT</strong> for
                    <strong>
                        {{ selectedUse }}
                    </strong>
                    purpose
                </p>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button
                    label="Back"
                    (onClick)="prevPage()"
                    icon="pi pi-angle-left"
                ></p-button>
                <p-button
                    label="Next"
                    [disabled]="
                        !selectedBuilding && !selectedUnit && !selectedUse
                    "
                    (onClick)="nextPage()"
                    icon="pi pi-angle-right"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
