<div class="flex gap-2 align-items-center justify-content-between mb-4">
    <p class="font-semibold text-lg mb-2">Unit Lease</p>
    <p-button
        label="Unit Lease"
        icon="pi pi-plus"
        size="small"
        (click)="goToLeaseBuilder()"
    ></p-button>
</div>
<p-tabView [(activeIndex)]="activeIndex" (onChange)="handleTabChange($event)">
    <p-tabPanel header="All">
        <app-admin-unit-lease-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-unit-lease-listings>
    </p-tabPanel>
    <p-tabPanel header="Active">
        <app-admin-unit-lease-active-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-unit-lease-active-listings>
    </p-tabPanel>
    <p-tabPanel header="Pending">
        <app-admin-unit-lease-pending-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-unit-lease-pending-listings>
    </p-tabPanel>
    <p-tabPanel header="Upcoming Expiry">
        <app-admin-unit-lease-upcoming-expiration-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-unit-lease-upcoming-expiration-listings>
    </p-tabPanel>
    <!-- <p-tabPanel header="Payment Status">
        <app-admin-unit-lease-payment-status></app-admin-unit-lease-payment-status>
    </p-tabPanel> -->
</p-tabView>
