<div class="flex mb-4 gap-4">
    <div class="max-w-2xl">
        <p class="my-2">Search by PlotId</p>
        <p-inputGroup>
            <input
                type="text"
                [(ngModel)]="plotId"
                pInputText
                placeholder="PlotId"
                (keyup.enter)="searchByPlotId()"
            />
            <button
                type="button"
                pButton
                label="Search"
                (click)="searchByPlotId()"
            ></button>
        </p-inputGroup>
    </div>
</div>

<div *ngIf="plot">
    <p>
        PlotId: <strong>{{ plot.plotId }}</strong>
    </p>
    <p>
        Thram No: <strong>{{ plot.thram.thramNo }}</strong>
    </p>
    <p>
        Dzongkhag: <strong>{{ plot.thram.dzongkhag.name }}</strong>
    </p>
    <p>
        Adminstrative Zone:
        <strong> {{ plot.thram.administrativeZone.name }}</strong>
    </p>
    <p>
        Sub Adminstrative Zone:
        <strong>{{ plot.thram.subAdministrativeZone.name }}</strong>
    </p>
</div>

<p-divider></p-divider>

<div #upcomingExpiry *ngIf="upcomingExpiryLeaseAgreements.length">
    <div class="flex justify-content-between mt-5 mb-1">
        <p class="font-semibold">Upcoming Expiration</p>
    </div>

    <p-table
        [value]="upcomingExpiryLeaseAgreements"
        styleClass="p-datatable-striped mb-2"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Type</th>
                <th class="text-center">Plot</th>
                <th class="text-center">Unit</th>
                <th>Use</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Monthly Charges</th>
                <th>Lessee</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p [ngClass]="getStatusClass(item.status)">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>{{ item.type }}</p>
                </td>
                <td class="text-center">{{ item.plot.plotId }}</td>
                <td class="text-center">
                    <p>
                        {{ item.unit?.floorLevel }}-{{ item.unit?.unitNumber }}
                    </p>
                    <p>
                        {{ item.building?.name }}
                    </p>
                </td>
                <td>{{ item.use }}</td>
                <td>{{ item.leaseStartDate }}</td>
                <td>{{ item.leaseEndDate }}</td>
                <td>{{ item.leaseDurationMonths }} Months</td>
                <td>Nu.{{ computeMonthlyCharges(item) }}</td>
                <td>
                    <div
                        *ngIf="item.lesseeType === 'INDIVIDUAL'"
                        style="text-wrap: nowrap"
                    >
                        <p>Name: {{ item.tenant?.nameEnglish }}</p>
                        <p>Phone: {{ item.tenant?.phoneNumber }}</p>
                    </div>
                    <div
                        *ngIf="item.lesseeType !== 'INDIVIDUAL'"
                        style="text-wrap: nowrap"
                    >
                        <p>Name: {{ item.organization?.name }}</p>
                        <p>
                            {{ item.organization?.userType }} Name:
                            {{ item.tenant?.nameEnglish }}
                        </p>
                        <p>Phone: {{ item.tenant.phoneNumber }}</p>
                    </div>
                </td>

                <td>
                    <div class="flex gap-2">
                        <p-button
                            size="small"
                            label="View"
                            (click)="goToDetailedView(item)"
                            severity="secondary"
                            icon="pi pi-eye"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div #activeLease>
    <div class="flex justify-content-between mt-5 mb-1">
        <p class="font-semibold">Active Lease</p>
    </div>

    <p-table
        [value]="activeLeaseAgreements"
        *ngIf="activeLeaseAgreements.length"
        styleClass="p-datatable-striped mb-2"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Type</th>
                <th class="text-center">Plot</th>
                <th class="text-center">Unit</th>
                <th>Use</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Monthly Charges</th>
                <th>Lessee</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p [ngClass]="getStatusClass(item.status)">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>{{ item.type }}</p>
                </td>
                <td class="text-center">{{ item.plot.plotId }}</td>
                <td class="text-center">
                    <p>
                        {{ item.unit?.floorLevel }}-{{ item.unit?.unitNumber }}
                    </p>
                    <p>
                        {{ item.building?.name }}
                    </p>
                </td>
                <td>{{ item.use }}</td>
                <td>{{ item.leaseStartDate }}</td>
                <td>{{ item.leaseEndDate }}</td>
                <td>{{ item.leaseDurationMonths }} Months</td>
                <td>Nu.{{ computeMonthlyCharges(item) }}</td>
                <td>
                    <div
                        *ngIf="item.lesseeType === 'INDIVIDUAL'"
                        style="text-wrap: nowrap"
                    >
                        <p>Name: {{ item.tenant?.nameEnglish }}</p>
                        <p>Phone: {{ item.tenant?.phoneNumber }}</p>
                    </div>
                    <div
                        *ngIf="item.lesseeType !== 'INDIVIDUAL'"
                        style="text-wrap: nowrap"
                    >
                        <p>Name: {{ item.organization?.name }}</p>
                        <p>
                            {{ item.organization?.userType }} Name:
                            {{ item.tenant?.nameEnglish }}
                        </p>
                        <p>Phone: {{ item.tenant.phoneNumber }}</p>
                    </div>
                </td>

                <td>
                    <div class="flex gap-2">
                        <p-button
                            size="small"
                            label="View"
                            (click)="goToDetailedView(item)"
                            severity="secondary"
                            icon="pi pi-eye"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p *ngIf="!activeLeaseAgreements.length">- No Active lease agreements</p>
</div>

<div #pendingLease>
    <div class="flex justify-content-between mt-5 mb-1">
        <p class="font-semibold">Pending Lease</p>
    </div>

    <p-table
        [value]="pendingLeaseAgreements"
        *ngIf="pendingLeaseAgreements.length"
        styleClass="p-datatable-striped mb-2"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Type</th>
                <th class="text-center">Plot</th>
                <th class="text-center">Unit</th>
                <th>Use</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Monthly Charges</th>
                <th>Lessee</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p [ngClass]="getStatusClass(item.status)">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>{{ item.type }}</p>
                </td>
                <td class="text-center">{{ item.plot.plotId }}</td>
                <td class="text-center">
                    <p>
                        {{ item.unit?.floorLevel }}-{{ item.unit?.unitNumber }}
                    </p>
                    <p>
                        {{ item.building?.name }}
                    </p>
                </td>
                <td>{{ item.use }}</td>
                <td>{{ item.leaseStartDate }}</td>
                <td>{{ item.leaseEndDate }}</td>
                <td>{{ item.leaseDurationMonths }} Months</td>
                <td>Nu.{{ computeMonthlyCharges(item) }}</td>
                <td>
                    <div
                        *ngIf="item.lesseeType === 'INDIVIDUAL'"
                        style="text-wrap: nowrap"
                    >
                        <p>Name: {{ item.tenant?.nameEnglish }}</p>
                        <p>Phone: {{ item.tenant?.phoneNumber }}</p>
                    </div>
                    <div
                        *ngIf="item.lesseeType !== 'INDIVIDUAL'"
                        style="text-wrap: nowrap"
                    >
                        <p>Name: {{ item.organization?.name }}</p>
                        <p>
                            {{ item.organization?.userType }} Name:
                            {{ item.tenant?.nameEnglish }}
                        </p>
                        <p>Phone: {{ item.tenant.phoneNumber }}</p>
                    </div>
                </td>

                <td>
                    <div class="flex gap-2">
                        <p-button
                            size="small"
                            label="View"
                            (click)="goToDetailedView(item)"
                            severity="secondary"
                            icon="pi pi-eye"
                        ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p *ngIf="!pendingLeaseAgreements.length">- No pending lease agreements</p>
</div>

<div>
    <div class="flex justify-content-between mt-5 mb-1">
        <p class="font-semibold">Lease History</p>
    </div>

    <div *ngIf="paginatedLeaseHistory.count">
        <div class="flex align-items-center mb-2 justify-content-between">
            <div>
                <p>
                    Showing {{ paginatedLeaseHistory.data.length }} of
                    {{ paginatedLeaseHistory.count }} Entries
                </p>
            </div>
            <div class="">
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="firstPageNumber"
                    [rows]="rows"
                    [totalRecords]="paginatedLeaseHistory.count"
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    [showFirstLastIcon]="true"
                    #paginator
                ></p-paginator>
            </div>
        </div>

        <p-table
            [value]="paginatedLeaseHistory.data"
            *ngIf="paginatedLeaseHistory.data.length"
            styleClass="p-datatable-striped mb-2"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Status</th>
                    <th>Type</th>
                    <th class="text-center">Plot</th>
                    <th class="text-center">Unit</th>
                    <th>Use</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Monthly Charges</th>
                    <th>Lessee</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p [ngClass]="getStatusClass(item.status)">
                            {{ item.status }}
                        </p>
                    </td>
                    <td>
                        <p>{{ item.type }}</p>
                    </td>
                    <td class="text-center">{{ item.plot.plotId }}</td>
                    <td class="text-center">
                        <p>
                            {{ item.unit?.floorLevel }}-{{
                                item.unit?.unitNumber
                            }}
                        </p>
                        <p>
                            {{ item.building?.name }}
                        </p>
                    </td>
                    <td>{{ item.use }}</td>
                    <td>{{ item.leaseStartDate }}</td>
                    <td>{{ item.leaseEndDate }}</td>
                    <td>{{ item.leaseDurationMonths }} Months</td>
                    <td>Nu.{{ computeMonthlyCharges(item) }}</td>
                    <td>
                        <div
                            *ngIf="item.lesseeType === 'INDIVIDUAL'"
                            style="text-wrap: nowrap"
                        >
                            <p>Name: {{ item.tenant?.nameEnglish }}</p>
                            <p>Phone: {{ item.tenant?.phoneNumber }}</p>
                        </div>
                        <div
                            *ngIf="item.lesseeType !== 'INDIVIDUAL'"
                            style="text-wrap: nowrap"
                        >
                            <p>Name: {{ item.organization?.name }}</p>
                            <p>
                                {{ item.organization?.userType }} Name:
                                {{ item.tenant?.nameEnglish }}
                            </p>
                            <p>Phone: {{ item.tenant.phoneNumber }}</p>
                        </div>
                    </td>

                    <td>
                        <div class="flex gap-2">
                            <p-button
                                size="small"
                                label="View"
                                (click)="goToDetailedView(item)"
                                severity="secondary"
                                icon="pi pi-eye"
                            ></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p *ngIf="!paginatedLeaseHistory.count">- No Lease history to show</p>
</div>
