<div>
    <div class="flex gap-2 align-items-end">
        <div class="flex flex-column gap-2 flex-1">
            <label for="nameEnglish">Plot ID</label>
            <input
                pInputText
                id="nameEnglish"
                [(ngModel)]="plotId"
                type="text"
            />
        </div>
        <p-button
            label="Search"
            (click)="searchPlot()"
            icon="pi pi-search"
        ></p-button>
    </div>
    <p-divider></p-divider>
    <div *ngIf="plot">
        <p>Plot Found</p>
        <p>Plot ID : {{ plot.plotId }}</p>

        <p-button
            label="Map Plot to Building"
            (click)="mapPlotBuilding()"
            icon="pi pi-map"
        ></p-button>
    </div>
</div>
