<div *ngIf="leaseAgreement">
    <p class="text-center text-xl lg:text-3xl font-semibold">Lease Agreement</p>
    <p-divider type="dashed"></p-divider>

    <div #agreementDate class="text-center">
        <p>
            This Rental/lease Agreement is executed on Day
            <strong>{{ leaseAgreement.agreementDay }}</strong> of
            <strong
                >{{ getMonthName(leaseAgreement.agreementMonth) }} Month</strong
            >
            of the year <strong>{{ leaseAgreement.agreementYear }}</strong>
        </p>
    </div>
    <p class="text-center my-4">BETWEEN</p>

    <div class="flex gap-2 my-2">
        <div class="w-5" #ownerParty>
            <p *ngFor="let item of leaseAgreement.plot?.thram?.owners">
                Name:
                <strong> {{ item.nameEnglish }}/{{ item.nameDzongkha }}</strong>
            </p>
            <p>
                Owner of the plot
                <strong>{{ leaseAgreement.plot.plotId }}</strong> and the
                properties on it,
            </p>
            <p>
                under Thram
                <strong>{{ leaseAgreement.plot.thram.thramNo }}</strong> located
                at
                <strong
                    >{{ leaseAgreement.plot.thram.administrativeZone.name }}/{{
                        leaseAgreement.plot.thram.administrativeZone.nameDzo
                    }},
                    {{
                        leaseAgreement.plot.thram.subAdministrativeZone.name
                    }}/{{
                        leaseAgreement.plot.thram.subAdministrativeZone.nameDzo
                    }}</strong
                >
            </p>
        </div>
        <div class="w-2 flex align-items-center justify-content-center">
            <p>AND</p>
        </div>
        <div class="w-5" #tenantParty>
            <p>Type: {{ leaseAgreement.lessorType }}</p>
            <p>
                Name:
                <strong
                    >{{ leaseAgreement.tenant?.nameEnglish }}
                    {{ leaseAgreement.tenant?.nameDzongkha }}</strong
                >
            </p>
            <p>
                CID: <strong>{{ leaseAgreement.tenant?.cid }}</strong>
            </p>
            <p>
                Phone Number:
                <strong>{{ leaseAgreement.tenant?.phoneNumber }}</strong>
            </p>
            <p>
                Permanent Address
                <strong>
                    {{ leaseAgreement.tenant?.permanentAddress }}
                </strong>
            </p>
        </div>
    </div>
    <div class="flex gap-2 my-2">
        <div class="w-5" #ownerParty>
            <p>
                herein after referred to as the <strong>"Owner"</strong>, PARTY
                OF FIRST PART.
            </p>
        </div>
        <div class="w-2"></div>
        <div class="w-5" #tenantParty>
            <p>
                herein after referred to as the <strong>Tenant"</strong>, PARTY
                OF OTHER PART.
            </p>
        </div>
    </div>

    <p class="text-center mb-2">
        <!-- and
        <strong
            >{{ leaseAgreement.owner?.nameEnglish }}
            {{ leaseAgreement.owner?.nameDzongkha }}
        </strong>
        owner of the building

        <strong>
            {{ leaseAgreement.buildingId }},{{
                "," + leaseAgreement.building?.streetName
            }}{{ "," + leaseAgreement.building?.quadrant
            }}{{ "," + leaseAgreement.building?.landmark }}
        </strong>

        at plot No
        <strong> {{ leaseAgreement.plot.plotId }} </strong> and Thram no. herein
        after referred to as the <strong>“Owner"</strong>, PARTY OF OTHER PART. -->
    </p>

    <p class="text-center my-2">
        And whereas the parties hereto had due deliberations and discussions and
        the consequence thereof they have reached an understanding, which they
        have decided to reduce into writing.
    </p>

    <div #unitAndUse class="my-2">
        That the owner/lessor thus hereby grants and confers
        <strong
            >{{ leaseAgreement.unit?.floorLevel }}-{{
                leaseAgreement.unit?.unitNumber
            }} </strong
        >, of Building
        <strong>{{ leaseAgreement.building.buildingNumber }}</strong
        >, in favour of the aforesaid tenant on rent and on such terms and
        condition stated below.
    </div>

    <ol>
        <li>
            The rental unit is rented for the purpose of:
            <strong>{{ leaseAgreement.use }}</strong>
        </li>
        <li>
            That the period of tenancy for the rental unit shall be for a period
            of
            <strong>{{ leaseAgreement.leaseDurationMonths }}</strong> months,
            commencing from
            <strong>{{ leaseAgreement.leaseStartDate }}</strong> to
            <strong>{{ leaseAgreement.leaseEndDate }}</strong
            >.
        </li>
        <li>
            That the rent for the said unit/premises is agreed at
            <strong>Nu {{ leaseAgreement.rent }}</strong> per month.
        </li>
        <li>
            The total monthly charges inclusive of rent and other building &
            unit surcharges is at
            <strong>Nu {{ totalMonthlyPayable }}</strong>
            per month.
        </li>

        <li>
            That the rent as payable every month shall be tendered by the tenant
            to the owner on or before day
            <strong>{{ leaseAgreement.paymentDueDay }}</strong> of the following
            month, failing which the owner shall charge and the tenant shall pay
            an interest at 24% per annum on the amount of rent payable for every
            day of default.
        </li>
        <li>
            The rent shall be increased by <strong>10%</strong> after every
            <strong>two years </strong>
            from the date of commencement of this agreement on the monthly rent
            and security deposit shall also be updated based on the revised
            rental amount(10% increment of ever two month's security deposit)
        </li>
        <li>
            That the aforesaid tenant shall deposit a sum of Nu
            <strong>{{ leaseAgreement.securityDepositAmount }}</strong> only as
            security deposit on the execution of this agreement.
        </li>
        <li>
            The security deposit shall be refundable or adjusted in accordance
            with the Act when the tenant vacates the rental unit:
            <ol type="a">
                <li>Upon expiry of the tenancy term;</li>
                <li>
                    Upon termination of the tenancy by the tenant in accordance
                    with this agreement;
                </li>
                <li>
                    Upon termination of the tenancy by the owner in accordance
                    with this agreement;
                </li>
            </ol>
        </li>
        <li>
            That the tenant hereby assures that he/she and his/her family
            members shall use the unit/flat only for the purpose for which it
            was granted.
        </li>
    </ol>

    <p>Duties of Tenant</p>
    <ol start="9">
        <li>
            The owner may evict the tenant if:
            <ol type="a">
                <li>
                    Rent has been owing in respect of the rental under for two
                    months;
                </li>
                <li>
                    The tenant refuses to vacate the rental unit after the
                    expiry or termination of the tenancy;
                </li>
                <li>
                    The tenant creates nuisance to other tenants or carries out
                    any dangerous activities;
                </li>
                <li>
                    The tenant does not comply with the terms and conditions of
                    this agreement or the Tenancy Act.
                </li>
            </ol>
        </li>
        <li>
            That the owner shall not discontinue or withhold any services and
            facilities enjoyed by the tenant without just and sufficient cause.
        </li>
        <li>
            That the tenant shall dispose the garbage at a proper place and also
            live hygienically.
        </li>
        <li>
            That all municipal charges and other charges payable such as
            electricity, water, sewerage, telephone, TV cable shall be paid by
            the tenant.
        </li>
        <li>
            That the tenant shall not make any structural additions and
            alterations to the unit/flat without prior written consent of the
            Owner.
        </li>
        <li>
            The tenant may:
            <ol type="a">
                <ng-container *ngIf="leaseAgreement.tenantSubletAuthority">
                    <li class="font-bold">
                        Sublet the rental unit <i class="pi pi-check"></i>
                    </li>
                    <li>Sub-let only with a written consent of the owner</li>
                </ng-container>
                <ng-container *ngIf="!leaseAgreement.tenantSubletAuthority">
                    <li>Sublet the rental unit</li>
                    <li class="font-bold">
                        Sub-let only with a written consent of the owner
                        <i class="pi pi-check"></i>
                    </li>
                </ng-container>
            </ol>
        </li>
        <li>
            That the tenant shall hand over the rental unit as per the entry and
            exit condition report in good and clean condition as taken over. The
            tenant shall be liable for damages caused to the rental unit or the
            premises other than normal wear and tear.
        </li>
        <li>
            After assessment of the rental unit as per the entry and exit
            condition report, the owner has the right to deduct the costs for
            repairing the damages caused to the rental unit.
        </li>
        <li>
            That the tenant shall permit the Owner, their agents etc to enter
            upon the space and the premises for inspection whenever necessary,
            with the prior consent of the tenant, provided the inspection is
            carried out at a reasonable hour except in the case of an emergency.
        </li>
        <li>
            The owner may terminate the rental agreement and reacquire the
            rental unit for his own occupation during the subsistence of tenancy
            in accordance with the Tenancy Act.
            <ol type="a">
                <ng-container *ngIf="leaseAgreement.ownerPrematureTermination">
                    <li class="font-bold">Yes <i class="pi pi-check"></i></li>
                    <li>No</li>
                </ng-container>
                <ng-container *ngIf="!leaseAgreement.ownerPrematureTermination">
                    <li>Yes</li>
                    <li class="font-bold">No <i class="pi pi-check"></i></li>
                </ng-container>
            </ol>
        </li>
        <li>
            The tenant may terminate the rental agreement during the subsistence
            of the tenancy in accordance with the Tenancy Act.
            <ol type="a">
                <ng-container *ngIf="leaseAgreement.tenantPrematureTermination">
                    <li class="font-bold">Yes <i class="pi pi-check"></i></li>
                    <li>No</li>
                </ng-container>
                <ng-container
                    *ngIf="!leaseAgreement.tenantPrematureTermination"
                >
                    <li>Yes</li>
                    <li class="font-bold">No <i class="pi pi-check"></i></li>
                </ng-container>
            </ol>
        </li>
        <li>
            The tenant may by providing 2 months advance notice as per section
            77 of this Act.
        </li>
        <li>
            The owner shall give
            <strong>
                {{ leaseAgreement.rentIncreaseNoticePeriod }} months</strong
            >
            advance notice for rent increases.
        </li>
        <li>
            The tenant shall serve
            <strong>{{ leaseAgreement.vacationNoticePeriod }} months</strong>
            notice as per section 80 of the Tenancy Act of Bhutan.
        </li>
        <li>
            Renewal notice of <strong>2 months notice</strong> as per section 82
            of the Tenancy Act of Bhutan.
        </li>
        <li>
            The tenant may vacate the rental unit if tenant is transferred by
            serving one month’s written notice to the owner.
        </li>
        <li>
            The Dispute Settlement Committee under the concerned local
            government and the Royal Courts of Justice shall have jurisdiction
            over any dispute that arises out this agreement.
        </li>
        <li>
            That in consideration of the tenant paying the rent, the owner does
            hereby grant and confer this tenancy in favour of the tenant in
            respect of the premises TO HAVE AND HOLD the same as a tenant
            hereof, during the tenancy period.
        </li>
    </ol>

    <div class="mt-4 text-center">
        <p>
            This E-Agreement has been generated at
            <strong> Thimphu </strong> on Day
            <strong>{{ leaseAgreement.agreementDay }}</strong> of
            <strong> {{ getMonthName(leaseAgreement.agreementMonth) }} </strong>
            of the year <strong>{{ leaseAgreement.agreementYear }}</strong
            >.
        </p>
        <p>Lease agreement generated as per the Tenancy ACT of Bhutan 2015</p>
    </div>

    <p-divider></p-divider>

    <p-button
        label="Download PDF"
        icon="pi pi-save"
        (click)="downloadLeasePdf()"
    >
    </p-button>
</div>
