<div>
    <div class="flex justify-content-between my-4">
        <p class="text-2xl">Owners Master Table</p>
        <div class="flex gap-2">
            <p-button
                label="Owner"
                icon="pi pi-plus"
                size="small"
                (click)="openCreateOwnerModal()"
            ></p-button>
            <p-button
                label="Download Excel"
                icon="pi pi-file-excel"
                size="small"
                (click)="downloadMasterTable()"
            ></p-button>
        </div>
    </div>
    <div>
        <p-table [value]="owners" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name English</th>
                    <th>Name Dzongkha</th>
                    <th>CID</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nameEnglish }}</td>
                    <td>{{ item.nameDzongkha }}</td>
                    <td>{{ item.cid }}</td>
                    <td>{{ item.phoneNumber }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <div class="flex gap-2">
                            <p-button
                                size="small"
                                icon="pi pi-pencil"
                                (click)="openUpdateOwnerModal()"
                            ></p-button>
                            <p-button
                                size="small"
                                severity="danger"
                                icon="pi pi-trash"
                                (click)="openDeleteOwnerModal()"
                            ></p-button>

                            <p-button
                                size="small"
                                severity="secondary"
                                label="Thrams"
                                icon="pi pi-eye"
                            ></p-button>
                            <p-button
                                size="small"
                                severity="secondary"
                                label="Buildings"
                                icon="pi pi-eye"
                            ></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
