<div #charges>
    <div class="flex gap-4 align-items-end justify-content-between">
        <p class="font-bold">Payments</p>
        <p-button
            label="Payments"
            (click)="openRevisePaymentsModal()"
            size="small"
            icon="pi pi-pencil"
        ></p-button>
    </div>

    <p-divider></p-divider>
    <p>
        Monthly Rent:
        <strong> Nu.{{ leaseAgreement?.rent }}</strong>
    </p>
    <p>
        Security Deposit:
        <strong> Nu.{{ leaseAgreement?.securityDepositAmount }}</strong>
    </p>

    <p class="mt-2 mb-1 font-semibold">Additional Surcharges</p>

    <p *ngFor="let item of leaseAgreement?.leaseSurcharges">
        - {{ item.particular }}, Amount: Nu.
        {{ item.amount }}
    </p>
    <p *ngIf="!leaseAgreement?.leaseSurcharges?.length">
        - No additional Surcharges
    </p>

    <div class="my-3 flex justify-content-between gap-3">
        <p>Total Monthly Payable:</p>
        <div class="text-right text-lg">
            <p>
                <strong>Nu.{{ totalMonthlyPayable }}</strong>
            </p>

            <p>
                <strong>{{ getWords(totalMonthlyPayable) }}</strong>
            </p>
        </div>
    </div>
    <div class="flex gap-4">
        <p>Pay to</p>
        <div class="flex-1 text-right">
            <p>
                Account Number:
                {{ leaseAgreement.bankAccount?.accountNumber }}
            </p>
            <p>
                Account Name:
                {{ leaseAgreement.bankAccount?.accountName }}
            </p>
            <p>
                Bank:
                {{ leaseAgreement.bankAccount?.bankName }}
            </p>
        </div>
    </div>
    <p class="mt-4 text-sm">
        Total Monthly charges payable on or before day
        {{ leaseAgreement?.paymentDueDay }} of the following month.
    </p>

    <p class="text-sm">
        Overdue penalty of
        {{ leaseAgreement?.penaltyPercentagePerAnnum }}
        % per annum on the amount due applied daily.
    </p>
</div>

<div #duration class="mt-6">
    <div class="flex gap-4 align-items-end justify-content-between">
        <p class="font-bold">General Terms</p>
        <p-button
            label="Terms"
            (click)="openReviseLeaseDurationModal()"
            size="small"
            icon="pi pi-pencil"
        ></p-button>
    </div>
    <p-divider></p-divider>
    <p>
        Lease Start Date:
        <strong>
            {{ leaseAgreement?.leaseStartDate | date : "mediumDate" }}
        </strong>
    </p>
    <p>
        Lease End Date:
        <strong>
            {{ leaseAgreement?.leaseEndDate | date : "mediumDate" }}</strong
        >
    </p>
    <p>
        Duration:
        <strong>
            {{ leaseAgreement?.leaseDurationMonths }}
            Months</strong
        >
    </p>
    <p>
        Purpose:
        <strong>
            {{ leaseAgreement?.use }}
        </strong>
    </p>
</div>

<div class="mt-4 flex justify-content-end">
    <p-button
        label="Download PDF"
        severity="secondary"
        (click)="downloadLeasePdf()"
    ></p-button>
</div>
