<div *ngIf="paginatedLeaseAgreeements.data.length">
    <p class="text-lg mt-6 font-semibold">Lease History</p>
    <hr class="" />

    <div class="flex align-items-center mb-2 justify-content-between">
        <div>
            <p>
                Showing {{ paginatedLeaseAgreeements.data.length }} of
                {{ paginatedLeaseAgreeements.count }} Entries
            </p>
        </div>
        <div class="">
            <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="firstPageNumber"
                [rows]="rows"
                [totalRecords]="paginatedLeaseAgreeements.count"
                [rowsPerPageOptions]="rowsPerPageOptions"
                [showFirstLastIcon]="true"
                #paginator
            ></p-paginator>
        </div>
    </div>

    <p-table
        [value]="paginatedLeaseAgreeements.data"
        class="p-datatable-sm"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Summary</th>
                <th>Tenant</th>
                <th>Charges</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p class="font-semibold">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>Lease Start Date : {{ item.leaseStartDate }}</p>
                    <p>Lease End Date : {{ item.leaseEndDate }}</p>
                </td>
                <td>
                    <p>Name:{{ item.tenant.nameEnglish }}</p>
                    <p>Phone Number:{{ item.tenant.phoneNumber }}</p>
                </td>

                <td>
                    <p>
                        <strong>Nu. {{ computeMonthlyPayable(item) }} </strong>
                    </p>
                </td>
                <td>
                    <p-button size="small" text="true" (click)="viewLease(item)"
                        >View lease</p-button
                    >
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div
    class="border-1 mb-4 p-4 border-dashed surface-border border-round surface-ground"
    *ngIf="!paginatedLeaseAgreeements.count"
>
    <p>No lease history to display.</p>
</div>
