<div>
    <p-confirmDialog />
    <div class="flex justify-content-between my-4">
        <p class="text-2xl">Tenants Master Table</p>

        <div class="flex gap-2">
            <div>
                <p-inputGroup>
                    <p-inputGroupAddon> +975 </p-inputGroupAddon>
                    <p-inputNumber
                        [(ngModel)]="searchTenantPhoneNumber"
                        mode="decimal"
                        inputId="withoutgrouping"
                        [useGrouping]="false"
                        (keydown.enter)="searchTenant()"
                    />
                    <button
                        type="button"
                        severity="seconadry"
                        pButton
                        label="Search"
                        (click)="searchTenant()"
                    ></button>
                </p-inputGroup>
            </div>
            <p-button
                label="Tenant"
                icon="pi pi-plus"
                (click)="openCreateUserModal()"
            ></p-button>
            <p-button
                label="Download Excel"
                icon="pi pi-file-excel"
                (click)="downloadMasterTable()"
            ></p-button>
        </div>
    </div>

    <div>
        <p-table [value]="owners" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Login Access</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Phone Number</th>
                    <th>CID</th>
                    <th>Permanent Address</th>
                    <th>Organizations</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [ngClass]="item.isDeleted ? 'text-red-800 bg-red-50' : ''">
                    <td>
                        <p>
                            {{ item.hasLoginAccess ? "true" : "false" }}
                        </p>
                    </td>
                    <td>
                        <p
                            (dblclick)="goToDetailedTenantView(item)"
                            class="text-blue-600 hover:underline"
                        >
                            {{ item.nameEnglish }}
                        </p>
                    </td>
                    <td>
                        <p>
                            Roles: [
                            <span *ngFor="let role of item.roles">
                                {{ role.name }}
                            </span>
                            ]
                        </p>
                    </td>

                    <td>
                        {{ item.phoneNumber }}
                    </td>
                    <td>
                        {{ item.cid }}
                    </td>
                    <td>
                        {{ item.permanentAddress }}
                    </td>

                    <td>
                        <div
                            *ngFor="
                                let organization of item.organizations;
                                let i = index
                            "
                        >
                            <div
                                class="flex gap-2 justify-content-between align-items-center"
                            >
                                <p>{{ i + 1 }}) {{ organization.name }}</p>
                                <p-button
                                    size="small"
                                    severity="secondary"
                                    icon="pi pi-pencil"
                                    text="true"
                                    (click)="
                                        openEditOrganizationModal(organization)
                                    "
                                ></p-button>
                            </div>
                            <p>Type: {{ organization.type }}</p>
                            <p>Relation: {{ organization.userType }}</p>
                            <p>
                                License:
                                {{ organization.licenseNumber }}
                            </p>
                        </div>
                        <div *ngIf="!item.organizations.length">NA</div>
                    </td>

                    <td>
                        <div
                            class="flex flex-column align-items-end mb-2 gap-2"
                            style="width: max-content"
                        >
                            <p-button
                                size="small"
                                icon="pi pi-pencil"
                                label="Update details"
                                (click)="openUpdateUserModal(item)"
                            ></p-button>
                            <p-button
                                size="small"
                                icon="pi pi-pencil"
                                label="Update Phone Number"
                                (click)="openUpdatePhoneNumberModal(item)"
                            ></p-button>
                            <p-button
                                *ngIf="item.hasLoginAccess"
                                label="Reset Password"
                                size="small"
                                severity="secondary"
                                (click)="requestPasswordReset(item)"
                            ></p-button>
                            <p-button
                                label="Organization"
                                size="small"
                                severity="secondary"
                                icon="pi pi-plus"
                                (click)="openCreateOrganizationModal(item)"
                            ></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
