<div class="pt-1">
    <div class="flex justify-content-between">
        <div>
            <p *ngIf="entryDamageReport">
                report ref:#{{ entryDamageReport?.id }}
            </p>
            <p *ngIf="entryDamageReport">
                Submitted on:
                {{ entryDamageReport?.reportDate | date : "fullDate" }}
            </p>
        </div>
        <p-button
            *ngIf="!leaseAgreement.entryDamageReportSubmitted"
            size="small"
            icon="pi pi-plus"
            label="Damage Item"
            (click)="openAddDamageItemModal()"
        ></p-button>
    </div>
    <p-divider type="dashed"></p-divider>

    <div *ngIf="!damageReportItems.length" class="my-4">No Items Added</div>
    <div *ngIf="damageReportItems.length" class="my-4">
        <div *ngFor="let item of damageReportItems" class="flex gap-2 my-2">
            <div class="w-6">
                <p>Location: {{ item.location }}</p>
                <p>Details: {{ item.damageDetails }}</p>
                <p>Status {{ item.status }}</p>
            </div>
            <div *ngIf="item.images" class="w-6">
                <div class="flex flex-wrap gap-2">
                    <div
                        *ngFor="let image of item.images; let i = index"
                        class="m-0 flex flex-column align-items-center gap-3"
                    >
                        <div>
                            <img
                                role="presentation"
                                [src]="getImageSrc(image.fileUri)"
                                height="100"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!leaseAgreement.entryDamageReportSubmitted">
        <div>
            <p-checkbox [(ngModel)]="agree" [binary]="true" inputId="binary" />
            <span class="ml-2">
                I acknowledge that I have submitted the damage report and agree
                that any damages not listed in this report will be my
                responsibility to repair or compensate the owner upon exit.
            </span>
        </div>
        <p-divider type="dashed"></p-divider>

        <div class="flex justify-content-end gap-4 mt-4">
            <p-button
                size="small"
                label="Submit"
                (click)="submitDamageReport()"
            ></p-button>
            <p-button
                size="small"
                label="Cancel"
                severity="secondary"
            ></p-button>
        </div>
    </div>
</div>
