<div
    class="bg-white p-4 h-full"
    style="
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
            0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    "
>
    <div class="mb-3">
        <h4 class="m-0 p-0">
            {{ building?.name }}
        </h4>
        <p class="m-0 p-0">
            {{ building?.buildingNumber }}
        </p>
        <p>
            {{ building?.address }}
        </p>
        <p>
            {{ building?.subadministrativeZone?.name }},
            {{ building?.administrativeZone?.name }},
            {{ building?.dzongkhag?.name }}
        </p>

        <small class="m-0 p-0"> Building ID: {{ building.id }} </small>
    </div>
    <p-tabView
        [(activeIndex)]="activeIndex"
        (onChange)="handleTabChange($event)"
    >
        <p-tabPanel header="Building Details">
            <div class="flex justify-content-between pr-6 mr-4 gap-8">
                <div class="flex flex-column gap-4 w-6 border-round-md">
                    <app-admin-building-details-card
                        [building]="building"
                        [editMode]="true"
                        (buildingInfoChanged)="getBuilding()"
                    ></app-admin-building-details-card>
                    <app-admin-building-plot
                        [plots]="building.plots"
                        [buildingId]="buildingId"
                        (buildingInfoChanged)="getBuilding()"
                    ></app-admin-building-plot>
                    <!-- <app-admin-building-photos></app-admin-building-photos> -->
                    <div class="flex flex-column gap-2 mt-4">
                        <app-admin-building-surcharges
                            [buildingId]="buildingId"
                        ></app-admin-building-surcharges>
                        <p-divider type="dashed" />
                        <app-admin-building-rules
                            [buildingId]="buildingId"
                        ></app-admin-building-rules>
                        <p-divider type="dashed" />
                        <app-admin-building-amenities [buildingId]="buildingId">
                        </app-admin-building-amenities>
                    </div>
                </div>

                <div class="w-6 flex-column border-round-md flex gap-4">
                    <app-admin-building-map [buildingId]="buildingId">
                    </app-admin-building-map>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Units">
            <router-outlet></router-outlet>
        </p-tabPanel>
        <p-tabPanel header="Building Payments">
            <app-admin-building-unit-payment-sheet
                [buildingId]="buildingId"
            ></app-admin-building-unit-payment-sheet>
        </p-tabPanel>
        <!-- <p-tabPanel header="Tenant List">
            <app-admin-building-tenant-listing
                [buildingId]="buildingId"
            ></app-admin-building-tenant-listing>
        </p-tabPanel> -->
    </p-tabView>
</div>
