<p-confirmDialog />

<div class="upload-status" *ngFor="let upload of uploadQueue">
    <p>
        {{ upload.file.name }} -
        <span
            [ngClass]="{
                'status-in-progress': upload.status === 'In Progress',
                'status-success': upload.status === 'Uploaded',
                'status-failed': upload.status === 'Failed'
            }"
        >
            {{ upload.status }}
        </span>
    </p>
</div>

<div class="flex justify-content-between" *ngIf="editMode">
    <p class="font-semibold">Building Images</p>
    <div class="flex align-items-end gap-2 justify-content-end">
        <p-fileUpload
            mode="basic"
            #fileUpload
            name="file"
            chooseIcon="pi pi-file"
            accept="image/*"
            maxFileSize="100000000"
            (onSelect)="onFileSelected($event, fileUpload)"
        ></p-fileUpload>
    </div>
</div>

<div class="image-masonry-container">
    <div
        *ngFor="let item of buildingImages; let i = index"
        [ngClass]="{ 'large-image': i === 0, 'small-image': i !== 0 }"
    >
        <div
            class="masonry-image"
            [ngStyle]="{
                'background-image': 'url(' + getBuildingImageUrl(item) + ')'
            }"
            (click)="previewImage(item)"
        >
            <div class="p-1 flex justify-content-between" *ngIf="editMode">
                <p class="text-white text-sm">
                    {{ item.createdAt | date : "mediumDate" }}
                </p>
                <p-button
                    [rounded]="true"
                    severity="danger"
                    icon="pi pi-trash"
                    (click)="confirmDeletePhoto(item)"
                ></p-button>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!buildingImages.length">-No property images added.</p>

<p-dialog
    [modal]="true"
    [(visible)]="showPreviewBuildingImage"
    [style]="{ padding: '0rem' }"
    [closable]="true"
    [dismissableMask]="true"
>
    <ng-template pTemplate="headless">
        <div
            *ngIf="selectedBuildingImage"
            style="width: 50vw; height: 50vh; background-size: cover"
            [ngStyle]="{
                'background-image':
                    'url(' + getBuildingImageUrl(selectedBuildingImage) + ')'
            }"
        ></div>
    </ng-template>
</p-dialog>
