<div [ngStyle]="customStyles" class="text-lg">
    <div
        class="flex gap-2 mb-3 align-items-center justify-content-between"
        *ngIf="editMode"
    >
        <p class="font-bold">Details</p>
        <p-button
            size="small"
            label="Edit"
            icon="pi pi-pencil"
            (click)="openEditBuildingModal()"
        ></p-button>
    </div>
    <p>
        Building Name: <strong>{{ building.name }}</strong>
    </p>
    <p>
        Floor Config:
        <strong>
            {{
                getBuildingFloorConfiguration(
                    building.regularFloorCount,
                    building.basementCount,
                    building.stiltCount,
                    building.atticCount,
                    building.jamthogCount
                )
            }}</strong
        >
    </p>
    <p>
        Type: <strong>{{ building.buildingType }}</strong>
    </p>

    <p>
        Address:{{ building.buildingNumber }} {{ building.streetName }},
        {{ building.quadrant }}, {{ building.subadministrativeZone?.name }},
        {{ building.administrativeZone?.name }},
        {{ building.dzongkhag?.name }}
    </p>
</div>
