<div *ngIf="building">
    <app-admin-building-photos
        [buildingId]="building.id"
        [editMode]="false"
    ></app-admin-building-photos>
    <div class="flex mt-4">
        <div class="flex gap-2 algin-items-start">
            <qrcode
                [qrdata]="building.zhicharQrUuid"
                [errorCorrectionLevel]="'M'"
                [allowEmptyString]="true"
                [cssClass]="'center'"
                [errorCorrectionLevel]="'high'"
                [colorDark]="'#111827'"
                [colorLight]="'#FFFFFF00'"
                [elementType]="'svg'"
                [errorCorrectionLevel]="'H'"
                [scale]="1"
                [title]="'BuildingQr'"
                [width]="110"
            ></qrcode>

            <div>
                <p>
                    Building Name:
                    <strong>
                        {{ building.name || building.buildingNumber }}
                    </strong>
                </p>
                <p>
                    Building Type:
                    <strong> {{ building.buildingType }} </strong>
                </p>
                <p>
                    Floor Configuration:
                    <strong> {{ parseBuildingFloors(building) }} </strong>
                </p>
                <p>
                    Address:
                    <strong *ngIf="building.address">
                        {{ building.address }}
                    </strong>
                    <strong *ngIf="!building.address">
                        {{ building.subadministrativeZone.name }},

                        {{ building.dzongkhag.name }}
                    </strong>
                </p>

                <p>
                    Floor Configuration:
                    <strong> {{ parseBuildingFloors(building) }} </strong>
                </p>
            </div>
        </div>
    </div>

    <p-divider></p-divider>
    <p>
        Building Area (SqM):
        <strong> {{ building.areaSqm || "Not Measured" }} </strong>
    </p>
    <p>
        Year of Construction:
        <strong> {{ building.yearOfConstrution || "Not Added" }} </strong>
    </p>
    <p>
        Year of Capitalization:
        <strong> {{ building.yearOfCapitalization || "Not Added" }} </strong>
    </p>
    <p>
        Building Value:
        <strong> {{ building.buildingValue || "Not Assessed" }} </strong>
    </p>
</div>
