<div
    class="px-4 py-2 flex align-items-center justify-content-between surface-card"
>
    <p class="text-xl">
        Welcome,

        {{ tenantDetails?.firstName }} {{ tenantDetails?.middleName }}
        {{ tenantDetails?.lastName }}
    </p>
    <div>
        <button class="p-link layout-topbar-button">
            <i
                class="pi pi-bell"
                style="font-size: 1.5rem"
                pBadge
                value="2"
            ></i>
        </button>
    </div>
</div>
<div class="grid" style="min-height: 80vh">
    <div class="col-12 xl:col-6">
        <div>
            <app-tenant-pending-payments
                [tenantId]="1"
            ></app-tenant-pending-payments>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div>
            <app-tenant-active-lease [tenantId]="1"></app-tenant-active-lease>
        </div>
    </div>
</div>
