<app-tenant-header></app-tenant-header>
<!-- <div class="flex justify-content-between px-4">
    <div class="bg-white border-round-lg text-right">
        <p class="text-sm">Pending Payments</p>
        <p class="font-semibold text-2xl text-red-500">Nu. 12,329</p>
    </div>
    <div class="bg-white border-round-lg text-right">
        <p class="text-sm">Leased Units</p>
        <p class="font-semibold text-2xl text-primary">2</p>
    </div>
</div> -->

<div class="mt-4">
    <p-tabView>
        <p-tabPanel header="Payments">
            <app-tenant-pending-payments
                [tenantId]="authenticatedUser.id"
            ></app-tenant-pending-payments>
        </p-tabPanel>
        <p-tabPanel header="Lease">
            <app-tenant-active-lease
                [tenantId]="authenticatedUser.id"
            ></app-tenant-active-lease>
        </p-tabPanel>
        <p-tabPanel header="Notifications">
            <app-tenant-notifications-summary
                [notifications]="notifications"
            ></app-tenant-notifications-summary>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog
    header="Unread Notifications"
    [modal]="true"
    [(visible)]="unReadNotificationExists"
    [style]="{ width: '25rem' }"
>
    <div class="flex flex-column ustify-content-end gap-2">
        <div
            *ngFor="let item of unReadNotifications"
            class="p-2 my-2 border-round-lg"
            [ngClass]="{
                ' bg-blue-50  ': !item.isRead,
                ' bg-gray-50 ': item.isRead
            }"
        >
            <div class="flex justify-content-between">
                <p *ngIf="!item.fromUserAuthId">
                    {{ zhidhayContactDetails.webAppName }}
                </p>
                <p *ngIf="item.fromUserAuthId">
                    {{ item.fromUser.role | lowercase }} |
                    {{ item.fromUser.phoneNumber }}
                </p>
                <p>
                    {{ getElapsedTime(item.createdAt) }}
                    <i
                        *ngIf="!item.isRead"
                        class="pi pi-circle-fill text-green-400"
                        style="font-size: 0.7rem"
                    ></i>
                </p>
            </div>
            <p>
                {{ item.message }}
            </p>

            <div class="flex justify-content-end my-3">
                <p-button label="Mark as Read" (click)="markAsRead(item)">
                </p-button>
            </div>
        </div>
    </div>
</p-dialog>
