<p>owner-list-buildings works!</p>
<div *ngIf="buildings" class="flex gap-4">
    <div
        *ngFor="let building of buildings; let i = index"
        class="border-round-sm shadow-1"
    >
        <div
            [style.background-image]="'url(' + buildingImages[i] + ')'"
            style="height: 250px; background-size: cover"
        ></div>

        <div class="p-3 bg-bluegray-50">
            <p class="text-xl font-semibold mb-2">
                {{ building.name }}
            </p>
            <p>
                Floor Config:
                <strong>
                    {{
                        getBuildingFloorConfiguration(
                            building.regularFloorCount,
                            building.basementCount,
                            building.stiltCount,
                            building.atticCount,
                            building.jamthogCount
                        )
                    }}</strong
                >
            </p>

            <p>
                Type: <strong>{{ building.buildingType }}</strong>
            </p>
            <p *ngIf="building.buildingNumber">
                Building Number:
                <strong>{{ building.buildingNumber }}</strong>
            </p>
            <p>
                Address:
                <strong>
                    {{ building.streetName }}, {{ building.quadrant }},
                    {{ building.subadministrativeZone?.name }},
                    {{ building.adminsitrativeZone?.name }},
                    {{ building.dzongkhag?.name }}
                    {{ ", " + building.landmark }}
                </strong>
            </p>

            <div class="mt-4">
                <p-button
                    (click)="openViewBuildingDetails(building.id)"
                    label="Detailed View"
                    size="sm"
                />
            </div>
        </div>
    </div>
</div>
