<p-tabView>
    <p-tabPanel header="Search by Thram">
        <div class="p-fluid flex flex-column gap-2 mt-4">
            <div class="flex gap-4 w-full mb-4">
                <div class="flex flex-1 flex-column gap-2">
                    <label for="dzongkhag">Dzongkhag</label>
                    <p-dropdown
                        [options]="dzongkhags"
                        optionLabel="name"
                        placeholder="Select Dzongkhag"
                        (onChange)="dzongkhagSelected($event)"
                        [(ngModel)]="selectedDzongkhag"
                    ></p-dropdown>
                </div>
                <div class="flex flex-1 flex-column gap-2">
                    <label for="gewog">Administrative Zone</label>
                    <p-dropdown
                        optionLabel="name"
                        placeholder="Select Administrative Zone"
                        (onChange)="administrativeZoneSelect($event)"
                        [options]="administrativeZones"
                        [(ngModel)]="selectedAdministrativeZone"
                    >
                    </p-dropdown>
                </div>

                <div class="flex flex-1 flex-column gap-2">
                    <label for="thramNo">ThramNo</label>
                    <input
                        pInputText
                        id="thramNo"
                        [(ngModel)]="thramNo"
                        type="text"
                    />
                </div>
                <div class="flex flex-1 flex-column gap-2">
                    <label for="nameEnglish">.</label>
                    <p-button label="Search" (click)="searchThram()"></p-button>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Search by PlotId">
        <div class="flex gap-4 my-4 justify-content-start align-items-end">
            <div class="flex flex-column gap-2">
                <label for="nameEnglish">Plot ID</label>
                <input
                    pInputText
                    id="nameEnglish"
                    [(ngModel)]="plotId"
                    type="text"
                />
            </div>
            <p-button label="Search" (click)="searchThramByPlotId()"></p-button>
        </div>
    </p-tabPanel>
</p-tabView>

<p-divider></p-divider>

<div *ngIf="thram">
    <div #thramDetails class="my-4">
        <p class="font-semibold text-lg">Thram Details</p>
        <p-divider></p-divider>

        <p><strong>Thram No:</strong> {{ thram.thramNo }}</p>
        <p><strong>Admin Zone:</strong> {{ thram.administrativeZone?.name }}</p>
        <p>
            <strong>Sub Admin Zone:</strong>
            {{ thram.subAdministrativeZone?.name }}
        </p>
        <p><strong>Ownership Type:</strong>{{ thram.ownershipType }}</p>
    </div>

    <div #ownershipDetails class="my-4">
        <p class="font-semibold text-lg">Owner Details</p>
        <p-divider></p-divider>
        <p *ngFor="let owner of thram.owners">
            <strong> Name:</strong> {{ owner.nameEnglish }}/{{
                owner.nameDzongkha
            }}
        </p>
    </div>
    <div #plotDetails class="my-4">
        <p class="font-semibold text-lg">Plot Details</p>

        <p-divider></p-divider>

        <p-table [value]="thram.plots" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Plot Id</th>
                    <th>Plot Category</th>
                    <th>Net Area</th>
                    <th>Lap Name</th>
                    <th>Precinct Name</th>
                    <th>Buildings</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-plot>
                <tr>
                    <td>
                        <p
                            (click)="viewPlotsSpatially(plot)"
                            class="text-blue-500 hover:underline cursor-pointer"
                        >
                            {{ plot.plotId }}
                        </p>
                    </td>
                    <td>{{ plot.plotCategory }}</td>
                    <td>{{ plot.netArea }} {{ plot.areaUnit }}</td>

                    <td>{{ plot.lapName }}/ {{ plot.lapCode }}</td>

                    <td>{{ plot.precinctName }} /{{ plot.precinctCode }}</td>

                    <td>
                        <div>
                            <p *ngIf="!plot.buildings.length">
                                No Buildings Added
                            </p>
                            <p
                                *ngFor="let building of plot.buildings"
                                class="cursor-pointer font-semibold hover:underline"
                                (click)="navigateToBuilding(building.id)"
                            >
                                - {{ building.name }}
                            </p>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
