<div>
    <div class="flex justify-content-between my-4">
        <p class="text-xl font-semibold">Paid Advices</p>
        <div class="flex gap-2">
            <p-button
                label="Download Excel"
                icon="pi pi-file-excel"
                size="small"
                (click)="downloadMasterTable()"
            ></p-button>
        </div>
    </div>

    <p-table
        [value]="paginatedPaymentAdvice?.data"
        styleClass="p-datatable-striped"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Ref</th>
                <th>Status</th>
                <th>Title</th>
                <th>Total Amount</th>
                <th>Payer</th>

                <th>Property Details</th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p>#{{ item.id }}</p>
                </td>
                <td>
                    <p class="text-green-400 font-semibold">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>
                        {{ item.title }}
                    </p>
                </td>

                <td>Nu. {{ item.totalAmount }}</td>

                <td>
                    <p>
                        Name:{{ item.tenant?.firstName }}
                        {{ item.tenant?.middleName }}
                        {{ item.tenant?.lastName }}
                    </p>
                    <p>Phone: {{ item.tenant?.phoneNumber }}</p>
                </td>
                <td>
                    {{ item.building?.name }}
                    | {{ item.unit?.floorLevel }}-{{ item.unit?.unitNumber }}
                </td>
                <td>
                    <p-button
                        size="small"
                        label="Payment Receipt"
                        icon="pi pi-file-o"
                        severity="secondary"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div>
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="paginatedPaymentAdvice.firstPage"
                    [rows]="paginatedPaymentAdvice.limit"
                    [totalRecords]="paginatedPaymentAdvice.count"
                    [rowsPerPageOptions]="[10, 20, 50]"
                ></p-paginator>
            </div>
        </ng-template>
    </p-table>
</div>
