<p-confirmDialog />

<form
    [formGroup]="receivePaymentForm"
    class="p-fluid p-2 flex flex-column gap-4"
>
    <p *ngFor="let paymentAdvice of paymentAdvices">
        Payment Advice #{{ paymentAdvice.id }}, Amount: Nu.{{
            paymentAdvice.totalAmount
        }}
    </p>
    <div class="flex p-fluid justify-content-between gap-4">
        <div class="flex flex-column gap-2 flex-1">
            <label for="mode">Payment Mode*</label>
            <p-dropdown
                id="mode"
                [options]="paymentModes"
                appendTo="body"
                formControlName="mode"
            ></p-dropdown>
            <div
                *ngIf="
                    receivePaymentForm.get('mode')?.invalid &&
                    receivePaymentForm.get('mode')?.touched
                "
                class="p-error"
            >
                <small>Payment Mode is required.</small>
            </div>
        </div>
        <div class="flex flex-column gap-2 flex-1">
            <label for="mode">Amount*</label>
            <p-inputNumber
                formControlName="amount"
                mode="decimal"
                inputId="withoutgrouping"
            />
            <div
                *ngIf="
                    receivePaymentForm.get('amount')?.invalid &&
                    receivePaymentForm.get('amount')?.touched
                "
                class="p-error"
            >
                <small>Amount is required.</small>
            </div>
        </div>
    </div>

    <div class="flex flex-column gap-2">
        <label for="refNo">Reference Number*</label>
        <input pInputText id="refNo" formControlName="refNo" type="text" />

        <div
            *ngIf="
                receivePaymentForm.get('refNo')?.invalid &&
                receivePaymentForm.get('refNo')?.touched
            "
            class="p-error"
        >
            <small
                *ngIf="receivePaymentForm.get('thramNo')?.errors?.['required']"
                >Reference Number is required.</small
            >
        </div>
    </div>

    <div class="flex gap-2 align-items-center">
        <p-checkbox formControlName="isVerified" binary="true" inputId="ny" />
        <label for="ny">Transcation Verified?*</label>
    </div>

    <div class="flex flex-column gap-2">
        <label for="remarks">Remarks</label>
        <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="remarks"
        ></textarea>
    </div>

    <div class="flex justify-content-end gap-4">
        <p-button
            (click)="confirmReceivePayment()"
            label="Confirm"
            [disabled]="isSubmitting || receivePaymentForm.invalid"
        ></p-button>
        <p-button
            severity="secondary"
            label="Cancel"
            (click)="close()"
        ></p-button>
    </div>
</form>
