<div class="flex mb-4 gap-4">
    <div class="max-w-2xl">
        <p class="my-2">Search by PlotID</p>

        <p-inputGroup>
            <input
                type="text"
                [(ngModel)]="plotId"
                pInputText
                placeholder="PlotID"
                (keyup.enter)="searchPAByPlot()"
            />
            <button
                type="button"
                pButton
                label="Search"
                (click)="searchPAByPlot()"
            ></button>
        </p-inputGroup>
    </div>
</div>

<div *ngIf="plot">
    <p>
        PlotId: <strong>{{ plot.plotId }}</strong>
    </p>
    <p>
        Thram No: <strong>{{ plot.thram.thramNo }}</strong>
    </p>
    <p>
        Dzongkhag: <strong>{{ plot.thram.dzongkhag.name }}</strong>
    </p>
    <p>
        Adminstrative Zone:
        <strong> {{ plot.thram.administrativeZone.name }}</strong>
    </p>
    <p>
        Sub Adminstrative Zone:
        <strong>{{ plot.thram.subAdministrativeZone.name }}</strong>
    </p>
</div>

<div #pendingPayments>
    <div class="flex justify-content-between my-4">
        <p class="text-xl font-semibold">Pending Payments</p>
    </div>

    <p-table
        [value]="pendingPaymentAdvices"
        *ngIf="pendingPaymentAdvices.length"
        styleClass="p-datatable-striped"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Ref</th>
                <th>Type</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Plot</th>
                <th>Title</th>
                <th>Status</th>

                <th>Total Amount</th>
                <th>Due by</th>
                <th>Payer</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p>#{{ item.id }}</p>
                </td>
                <td>
                    <p>{{ item.leaseAgreement.type }}</p>
                </td>
                <td class="text-center">
                    <div *ngIf="item.leaseAgreement?.type === leaseTypes.UNIT">
                        <p style="text-wrap: nowrap">
                            {{ item.leaseAgreement?.unit?.floorLevel }} -
                            {{ item.leaseAgreement?.unit?.unitNumber }}
                        </p>

                        <span class="text-xs">
                            {{ item.leaseAgreement?.building?.name }}</span
                        >
                    </div>
                    <p *ngIf="item.leaseAgreement?.type === leaseTypes.LAND">
                        -
                    </p>
                </td>

                <td class="text-center">
                    <p>{{ item.leaseAgreement?.plot.plotId }}</p>
                </td>

                <td>
                    <p>{{ item.title }}</p>
                </td>
                <td>
                    <p class="text-red-400 font-semibold">
                        {{ item.status }}
                    </p>
                </td>

                <td>Nu. {{ item.totalAmount }}</td>

                <td>
                    {{ item.dueDate | date : "mediumDate" }}
                </td>
                <td>
                    <p>Name:{{ item.leaseAgreement.tenant?.nameEnglish }}</p>
                    <p>Phone: {{ item.leaseAgreement.tenant?.phoneNumber }}</p>
                </td>

                <td>
                    <p-button
                        size="small"
                        label="Payment Advice"
                        icon="pi pi-file-o"
                        (click)="openViewPaymentReceipt([item])"
                        severity="secondary"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p *ngIf="!pendingPaymentAdvices.length">- No pending payments</p>
</div>

<div>
    <div class="flex justify-content-between my-4">
        <p class="text-xl font-semibold">Payment History</p>
    </div>

    <div *ngIf="paginatedPaidPaymentAdvice.count">
        <div class="flex align-items-center mb-2 justify-content-between">
            <div>
                <p>
                    Showing {{ paginatedPaidPaymentAdvice.data.length }} of
                    {{ paginatedPaidPaymentAdvice.count }} Entries
                </p>
            </div>
            <div class="">
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="firstPageNumber"
                    [rows]="rows"
                    [totalRecords]="paginatedPaidPaymentAdvice.count"
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    [showFirstLastIcon]="true"
                    #paginator
                ></p-paginator>
            </div>
        </div>

        <p-table
            [value]="paginatedPaidPaymentAdvice?.data"
            styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Ref</th>
                    <th>Type</th>
                    <th class="text-center">Unit</th>
                    <th class="text-center">Plot</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Total Amount</th>
                    <th>Paid On</th>
                    <th>Payer</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p>#{{ item.id }}</p>
                    </td>
                    <td>
                        <p>{{ item.leaseAgreement.type }}</p>
                    </td>
                    <td class="text-center">
                        <div
                            *ngIf="
                                item.leaseAgreement?.type === leaseTypes.UNIT
                            "
                        >
                            <p style="text-wrap: nowrap">
                                {{ item.leaseAgreement?.unit?.floorLevel }} -
                                {{ item.leaseAgreement?.unit?.unitNumber }}
                            </p>

                            <span class="text-xs">
                                {{ item.leaseAgreement?.building?.name }}</span
                            >
                        </div>
                        <p
                            *ngIf="
                                item.leaseAgreement?.type === leaseTypes.LAND
                            "
                        >
                            -
                        </p>
                    </td>

                    <td class="text-center">
                        <p>{{ item.leaseAgreement?.plot.plotId }}</p>
                    </td>
                    <td>
                        <p class="text-green -400 font-semibold">
                            {{ item.status }}
                        </p>
                    </td>
                    <td>
                        <p>{{ item.title }}</p>
                    </td>

                    <td>Nu. {{ item.totalAmount }}</td>

                    <td>
                        {{ item.dueDate | date : "mediumDate" }}
                    </td>

                    <td>
                        <p>
                            Name:{{ item.leaseAgreement.tenant?.nameEnglish }}
                        </p>
                        <p>
                            Phone: {{ item.leaseAgreement.tenant?.phoneNumber }}
                        </p>
                    </td>
                    <td>
                        <div *ngFor="let pr of item.paymentReceipts">
                            <p
                                [label]="'Receipt ' + pr.id"
                                (click)="openViewPaymentReceipt(pr)"
                                class="flex align-items-center text-blue-400 font-semibold hover:underline cursor-pointer"
                            >
                                -PR#{{ pr.id }}
                            </p>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p *ngIf="!paginatedPaidPaymentAdvice.count">
        - No payment history to show
    </p>
</div>
