<div class="flex mb-4 gap-4">
    <div class="max-w-2xl">
        <p class="my-2">Search by PlotID</p>

        <p-inputGroup>
            <input
                type="text"
                [(ngModel)]="plotId"
                pInputText
                placeholder="PlotID"
                (keyup.enter)="searchPAByPlot()"
            />
            <button
                type="button"
                pButton
                label="Search"
                (click)="searchPAByPlot()"
            ></button>
        </p-inputGroup>
    </div>
</div>

<div *ngIf="plot">
    <p>
        PlotId: <strong>{{ plot.plotId }}</strong>
    </p>
    <p>
        Thram No: <strong>{{ plot.thram.thramNo }}</strong>
    </p>
    <p>
        Dzongkhag: <strong>{{ plot.thram.dzongkhag.name }}</strong>
    </p>
    <p>
        Adminstrative Zone:
        <strong> {{ plot.thram.administrativeZone.name }}</strong>
    </p>
    <p>
        Sub Adminstrative Zone:
        <strong>{{ plot.thram.subAdministrativeZone.name }}</strong>
    </p>
</div>
<p-divider></p-divider>
<app-admin-plot-payment-advice-listings
    *ngIf="plot"
    [plotDatabaseId]="plot.id"
></app-admin-plot-payment-advice-listings>
