<p>Please update your pin code to proceed</p>
<div
    class="flex my-4 text-5xl font-semibold justify-content-center align-items-center gap-3"
>
    <p *ngFor="let i of pinPlaceholder">
        {{ i }}
    </p>
    <p *ngFor="let i of pin">
        {{ i }}
    </p>
</div>

<div class="numpad">
    <div class="numpad_key" *ngFor="let key of keys">
        <button
            [disabled]="pin.length === 4 && key !== 'del'"
            (click)="appendToPin(key)"
        >
            {{ key }}
        </button>
    </div>
</div>

<div class="mt-6 p-fluid">
    <p-button label="Update PIN" (click)="updatePin()"></p-button>
</div>
