<div
    id="leaseActivesummary"
    class="border-1 p-4 border-dashed surface-border border-round surface-ground"
    *ngIf="activeLeaseAgreement"
>
    <div class="flex justify-content-between mb-5">
        <p-chip
            [label]="activeLeaseAgreement.status"
            icon="pi pi-bookmark-fill"
        />
        <div class="flex gap-2">
            <p-button
                label="Detailed View"
                (click)="viewLease()"
                severity="secondary"
                size="small"
            />
        </div>
    </div>

    <div class="flex justify-content-between gap-4 mt-3">
        <div id="leaseSummary" class="w-6">
            <p class="font-semibold text-lg">Lease Summary</p>
            <p-divider type="dashed" />

            <p>
                Lease Duration:
                <strong
                    >{{
                        activeLeaseAgreement.leaseDurationMonths
                    }}
                    Months</strong
                >
            </p>
            <p>
                Lease Start Date:
                <strong>{{ activeLeaseAgreement.leaseStartDate }}</strong>
            </p>
            <p>
                Lease Start Date:
                <strong>{{ activeLeaseAgreement.leaseEndDate }}</strong>
            </p>

            <p>
                Lease Purpose:
                <strong>{{ activeLeaseAgreement.use }}</strong>
            </p>
            <p>
                Total Monthly Payable:
                <strong
                    >Nu. {{ computeMonthlyPayable(activeLeaseAgreement) }}
                </strong>
            </p>
        </div>

        <div class="w-6">
            <p class="font-semibold text-lg">Lessee</p>
            <p-divider type="dashed" />
            <p>
                Lessee Type:
                <strong> {{ activeLeaseAgreement.lesseeType }}</strong>
            </p>
            <div
                *ngIf="
                    activeLeaseAgreement.lesseeType === LESSEETYPES.INDIVIDUAL
                "
            >
                <p>
                    Name:
                    <strong
                        >{{ activeLeaseAgreement.tenant?.nameEnglish }}
                        {{ activeLeaseAgreement.tenant?.nameDzongkha }}</strong
                    >
                </p>
                <p>
                    Phone Number:
                    <strong>{{
                        activeLeaseAgreement.tenant?.phoneNumber
                    }}</strong>
                </p>
                <p>
                    CID: <strong>{{ activeLeaseAgreement.tenant?.cid }}</strong>
                </p>
                <p>
                    Permanent Address:
                    <strong>{{
                        activeLeaseAgreement.tenant?.permanentAddress
                    }}</strong>
                </p>
            </div>
            <div
                *ngIf="
                    activeLeaseAgreement.lesseeType !== LESSEETYPES.INDIVIDUAL
                "
            >
                <p>
                    Name:
                    <strong>
                        {{ activeLeaseAgreement.organization.name }}</strong
                    >
                </p>
                <p class="font-semibold mt-1 mb-2">
                    {{ activeLeaseAgreement.organization.userType }} Details
                </p>
                <p>
                    Name:
                    <strong
                        >{{ activeLeaseAgreement.tenant?.nameEnglish }}
                        {{ activeLeaseAgreement.tenant?.nameDzongkha }}</strong
                    >
                </p>
                <p>
                    Phone Number:
                    <strong>{{
                        activeLeaseAgreement.tenant?.phoneNumber
                    }}</strong>
                </p>
                <p>
                    CID: <strong>{{ activeLeaseAgreement.tenant?.cid }}</strong>
                </p>
                <p>
                    Permanent Address:
                    <strong>{{
                        activeLeaseAgreement.tenant?.permanentAddress
                    }}</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div
    class="border-1 mb-4 p-4 border-dashed surface-border border-round surface-ground"
    *ngIf="!activeLeaseAgreement"
>
    <p>
        This unit has not been currently leased. Please go to the lease
        agreements page and create a new lease
    </p>
</div>
