<div
    class="border-1 p-4 border-dashed surface-border border-round surface-ground"
    *ngIf="pendingPaymentAdvice.length"
>
    <div class="text-right">
        <p class="text-xl font-semibold">Nu. {{ totalAmountDue }}</p>
        <p>Total Amount Due</p>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-end py-2">
        <p-button
            *ngIf="selectedPaymentAdivces.length > 1"
            label="Pay Multiple Payment Advices"
            icon="pi pi-wallet"
            size="small"
            (click)="openViewAdvice(selectedPaymentAdivces)"
        ></p-button>
    </div>

    <p-table
        [value]="pendingPaymentAdvice"
        styleClass="p-datatable-striped"
        [(selection)]="selectedPaymentAdivces"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th>Ref</th>
                <th>Status</th>
                <th>Title</th>
                <th>Total Amount</th>
                <th>Due by</th>

                <th>Payer</th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p-tableCheckbox [value]="item" />
                </td>
                <td>
                    <p>#{{ item.id }}</p>
                </td>
                <td>
                    <p class="text-red-400 font-semibold">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>{{ item.title }}</p>
                </td>

                <td>Nu. {{ item.totalAmount }}</td>

                <td>
                    {{ item.dueDate | date : "mediumDate" }}
                </td>

                <td>
                    <p>
                        Name:{{ item.leaseAgreement.tenant?.nameEnglish }}
                        {{ item.leaseAgreement.tenant?.nameDzongkha }}
                    </p>
                    <p>Phone: {{ item.leaseAgreement.tenant?.phoneNumber }}</p>
                </td>
                <td>
                    <p-button
                        size="small"
                        label="Advice"
                        icon="pi pi-file-o"
                        (click)="openViewAdvice([item])"
                        severity="secondary"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div
    class="border-1 p-4 border-dashed surface-border border-round surface-ground"
    *ngIf="!pendingPaymentAdvice.length"
>
    <p>No Pending payment advices</p>
</div>
