<div>
    <div
        (click)="goBack()"
        class="text-blue-500 mb-2 cursor-pointer hover:underline"
    >
        Back to Units
    </div>
    <p-confirmDialog />

    <div class="flex gap-7">
        <div class="w-3 mt-6">
            <div
                id="UNITSUMMARY"
                class="surface-border border-round surface-ground p-4"
            >
                <div class="flex justify-content-end">
                    <p-button
                        icon="pi pi-pencil"
                        size="small"
                        (click)="openEditUnitModal()"
                    ></p-button>
                </div>
                <div class="flex align-items-end gap-4">
                    <div>
                        <qrcode
                            [qrdata]="'random'"
                            [errorCorrectionLevel]="'M'"
                            [allowEmptyString]="true"
                            [cssClass]="'center'"
                            [errorCorrectionLevel]="'high'"
                            [colorDark]="'#111827'"
                            [colorLight]="'#FFFFFF00'"
                            [elementType]="'svg'"
                            [errorCorrectionLevel]="'H'"
                            [scale]="1"
                            [title]="'BuildingQr'"
                            [width]="80"
                        ></qrcode>
                        <p>Unit Id: {{ unit.id }}</p>
                    </div>
                    <div class="text-center">
                        <p class="text-5xl font-bold">
                            {{ unit?.floorLevel }}- {{ unit?.unitNumber }}
                        </p>
                        <p>
                            <span style="text-transform: capitalize">{{
                                parseFloorLevel(unit?.floorLevel)
                            }}</span>
                        </p>
                    </div>
                </div>

                <div class="flex gap-3 text0lg my-4" style="flex-wrap: wrap">
                    <div class="flex align-items-end">
                        <img
                            src="assets/icons/bed.svg"
                            class="mini-ico"
                            alt="Icon"
                        />
                        <p>{{ unit?.bedroomCount }} Beds</p>
                    </div>
                    <div class="flex align-items-end">
                        <img
                            src="assets/icons/toilet.svg"
                            class="mini-ico"
                            alt="Icon"
                        />
                        <p>{{ unit?.toiletCount }} Baths</p>
                    </div>
                    <div class="flex align-items-end">
                        <img
                            src="assets/icons/balcony.svg"
                            class="mini-ico"
                            alt="Icon"
                        />
                        <p>{{ unit?.balconyCount }} Balconies</p>
                    </div>

                    <div class="flex align-items-end" *ngIf="unit.floorArea">
                        <img
                            src="assets/icons/floorArea.svg"
                            class="mini-ico"
                            alt="Icon"
                        />
                        <p>{{ unit.floorArea }} SqM</p>
                    </div>
                </div>

                <p-divider type="dashed"></p-divider>
                <div>
                    <div *ngIf="!unit.bankAccountId">
                        ....Not Linked to any bank account
                        <div
                            id="BANKACCOUNT"
                            class="flex gap-2 mt-4 justify-content-between"
                        >
                            <p class="font-semibold">Linked Bank Account</p>
                            <p-button
                                icon="pi pi-plus"
                                size="small"
                                label="Bank Account"
                                class="p-0"
                                severity="secondary"
                                (click)="openCreateUnitBankLinkageModal(unit)"
                            ></p-button>
                        </div>
                    </div>
                    <div *ngIf="unit.bankAccountId">
                        <p class="font-semibold my-2">Linked Account</p>
                        <div class="">
                            <p>
                                Bank Name:
                                <strong>{{ unit.bankAccount.bankName }}</strong>
                            </p>
                            <p>
                                Account Number:
                                <strong>{{
                                    unit.bankAccount.accountNumber
                                }}</strong>
                            </p>
                            <p>
                                Account Name:
                                <strong>
                                    {{ unit.bankAccount.accountName }}</strong
                                >
                            </p>

                            <div class="flex gap-2 mt-2">
                                <p-button
                                    severity="secondary"
                                    size="small"
                                    [text]="true"
                                    icon="pi pi-link"
                                    (click)="unlinkBankAccount($event)"
                                    label="Unlink Account"
                                ></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-9">
            <p-tabView>
                <p-tabPanel header="Details">
                    <app-admin-unit-surcharges-card
                        [unitId]="unitId"
                    ></app-admin-unit-surcharges-card>
                    <hr />
                    <app-admin-unit-rules-card
                        [unitId]="unitId"
                    ></app-admin-unit-rules-card>
                </p-tabPanel>
                <p-tabPanel header="Tenancy">
                    <app-admin-unit-active-lease [unitId]="unitId">
                    </app-admin-unit-active-lease>

                    <app-admin-unit-lease-history [unitId]="unitId">
                    </app-admin-unit-lease-history>
                </p-tabPanel>

                <p-tabPanel header="Payments">
                    <app-admin-unit-payments
                        [unitId]="unitId"
                    ></app-admin-unit-payments>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
