<div
    class="flex hero flex-column align-items-center justify-content-center"
    style="height: 100dvh; margin: 0; overflow: hidden"
>
    <div
        style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1002;
        "
        *ngIf="!live"
    >
        <p-button
            severity=""
            label="Launch Gerab Zhidhay"
            (click)="launchSystem()"
            *ngIf="!goingLive && !live"
        ></p-button>

        <p *ngIf="goingLive" class="text-4xl">
            Launching in... {{ countDownNumber }}
        </p>
    </div>

    <div
        #centerElement
        class="p-4 center-element"
        style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1001;
            opacity: 0;
        "
    >
        <div class="text-left">
            <p class="font-serif text-6xl md:text-7xl text-center">
                Gerab.Zhidhay.com
            </p>

            <p class="text-center font-uchen">
                ཞི་བདེ་སེམས་ཀྱི་ནོར་བུ་ཨིན། ཞི་བདེའི་རིམ་ལུགས་ལག་ལེན་མཛད།།
            </p>
            <p class="text-lg md:text-xl text-center mt-4">
                Your gateway to automated rental property management on the
                cloud.
            </p>

            <p class="text-center text-sm">
                a Gerab Nyed Yon & SegmentX Collaboration 2024
            </p>
            <div class="flex justify-content-center">
                <p-button
                    label="Tour of the System"
                    size="small"
                    text="true"
                    (click)="visitHomePage()"
                ></p-button>
            </div>
        </div>
    </div>

    <!-- Features Section -->
    <div
        class="features-container"
        style="
            background-color: white;

            width: 100%;
            height: 100%;
            z-index: 999;
            padding: 0 20rem;
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
        "
    >
        <div class="surface-section py-8 text-center">
            <div class="mb-3 font-semibold text-3xl">
                <p class="text-900">We welcome you on board</p>
                <p class="">Zhidhay for Gerab Nyed Yon</p>
            </div>

            <div class="grid t pt-6 text-xl">
                <div class="col-12 md:col-4 mb-4 px-5 feature-item">
                    <span
                        class="p-3 shadow-2 mb-3 inline-block surface-card"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-users text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-3xl mb-3 font-medium">
                        Built for Large Property owners
                    </div>
                    <span class="text-700 line-height-3"
                        >Our platform is built by property owner for property
                        owners. It streamlines the rental process, offering
                        automated tools to manage properties efficiently from
                        anywhere in the world.</span
                    >
                </div>

                <div class="col-12 md:col-4 md:mb-4 mb-0 px-3 feature-item">
                    <span
                        class="p-3 shadow-2 mb-3 inline-block surface-card"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-map text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-3xl mb-3 font-medium">
                        Inventory of Properties
                    </div>
                    <span class="text-700 line-height-3"
                        >Manage your entire portfolio with GIS-based inventory
                        tracking for land, buildings, and individual units.
                        Visualize property locations on a map, organize assets
                        by type, and track detailed information for each plot,
                        building, and flat.
                    </span>
                </div>

                <div class="col-12 md:col-4 md:mb-4 mb-0 px-3 feature-item">
                    <span
                        class="p-3 shadow-2 mb-3 inline-block surface-card"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-shield text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-3xl mb-3 font-medium">
                        Secured Rent Collection
                    </div>
                    <span class="text-700 line-height-3"
                        >Secured Rental Payments powered by RMA Payment Gateway.
                        - Keep track of all your payments in one place for easy
                        bookkeeping. Get notified as soon as your tenant pays,
                        or if their payment is past due.</span
                    >
                </div>

                <div class="col-12 md:col-4 mb-4 px-5 feature-item">
                    <span
                        class="p-3 shadow-2 mb-3 inline-block surface-card"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-file-o text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-3xl mb-3 font-medium">
                        Lease Agreements
                    </div>
                    <span class="text-700 line-height-3"
                        >Draft and customize lease agreements in accordance with
                        the Tenancy Act 2015. Set up Move and Move out checklist
                        to ensure hassle-free onboarding and outboarding of
                        tenants.</span
                    >
                </div>

                <div class="col-12 md:col-4 mb-4 px-5 feature-item">
                    <span
                        class="p-3 shadow-2 mb-3 inline-block surface-card"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-bell text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-3xl mb-3 font-medium">
                        SMS and Reminders
                    </div>
                    <span class="text-700 line-height-3"
                        >Set up automatic late fees and enable autopay for
                        tenants. Receive email reminders for timely payments and
                        notifications for overdue rent. SMS reminders to all
                        your tenants</span
                    >
                </div>
                <div class="col-12 md:col-4 mb-4 px-5 feature-item">
                    <span
                        class="p-3 shadow-2 mb-3 inline-block surface-card"
                        style="border-radius: 10px"
                    >
                        <i class="pi pi-wrench text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 text-3xl mb-3 font-medium">
                        Maintenance & Damage Items
                    </div>
                    <span class="text-700 line-height-3"
                        >Allow tenants to quickly report maintenance issues and
                        property damage.Managers can track the status of each
                        request and add resolution of status.</span
                    >
                </div>
            </div>

            <p class="text-center pt-4 feature-item text-3xl">
                ...and many more
            </p>
        </div>
    </div>

    <div class="cloud1">
        <img src="assets/images/cloud1.png" />
    </div>
    <div class="cloud2">
        <img src="assets/images/cloud1.png" />
    </div>
    <div class="cloud4">
        <img src="assets/images/cloud1.png" />
    </div>
    <div class="cloud3">
        <img src="assets/images/cloud3.png" />
    </div>
    <div class="cloud5">
        <img src="assets/images/cloud3.png" />
    </div>
</div>
