.hero {
    background-image: url("/assets/images/herobg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud5 {
    position: absolute;
    z-index: 22;
    filter: grayscale(1);
}

.cloud1 {
    opacity: 0.5;
    transform: scale(0.65);
    bottom: 40%;
}

.cloud2 {
    opacity: 0.3;
    transform: scale(0.4);
    bottom: 22%;
    left: -5%;
}

.cloud3 {
    opacity: 0.3;
    transform: scale(0.5);
    bottom: 23%;
    right: 0;
}

.cloud4 {
    opacity: 0.4;
    transform: scale(0.5) rotate(180deg);
    bottom: 23%;
    right: 0;
}

.cloud5 {
    opacity: 0.3;
    transform: scale(0.4);
    bottom: 23%;
    left: -10%;
}
