<form [formGroup]="searchThramForm" *ngIf="!searchedThram" class="p-fluid">
    <p class="text-lg font-semibold mb-2">Search Thram</p>

    <div class="flex flex-column my-4 gap-2 flex-1">
        <label for="dzongkhag">Dzongkhag</label>
        <p-dropdown
            id="dzongkhag"
            [options]="dzongkhags"
            optionValue="id"
            optionLabel="name"
            appendTo="body"
            (onChange)="dzongkhagSelected($event)"
            formControlName="dzongkhagId"
        ></p-dropdown>
        <div
            *ngIf="
                searchThramForm.get('dzongkhagId')?.invalid &&
                searchThramForm.get('dzongkhagId')?.touched
            "
            class="p-error"
        >
            <small>Dzongkhag is required.</small>
        </div>
    </div>

    <div class="flex flex-column my-4 gap-2 flex-1">
        <label for="gewog">Administrative Zone</label>
        <p-dropdown
            id="bankName"
            optionValue="id"
            optionLabel="name"
            appendTo="body"
            (onChange)="administrativeZoneSelect($event)"
            [options]="administrativeZones"
            formControlName="administrativeZoneId"
        >
        </p-dropdown>
        <div
            *ngIf="
                searchThramForm.get('administrativeZoneId')?.invalid &&
                searchThramForm.get('administrativeZoneId')?.touched
            "
            class="p-error"
        >
            <small>Administrative Zone is required.</small>
        </div>
    </div>

    <div class="flex gap-2 my-4 justify-content-end align-items-end">
        <div class="flex flex-column gap-2 flex-1">
            <label for="nameEnglish">Thram Number</label>
            <input
                pInputText
                id="nameEnglish"
                formControlName="thramNo"
                type="text"
            />
        </div>
    </div>
    <div class="flex justify-content-end">
        <p-button
            label="Search for Thram"
            [disabled]="searchThramForm.invalid"
            (click)="searchThram()"
        ></p-button>
    </div>
</form>

<form [formGroup]="createPlotForm" class="p-fluid p-2" style="min-width: 35vw">
    <div *ngIf="searchedThram">
        <p class="text-lg font-semibold">Thram Details</p>
        <p>Thram No: {{ searchedThram.thramNo }}</p>
        <p>Dzongkhag: {{ searchedThram.dzongkhag?.name }}</p>
        <p>Adminstrative Zone: {{ searchedThram.administrativeZone?.name }}</p>
        <p>
            Sub Adminstrative Zone:
            {{ searchedThram.subAdministrativeZone?.name }}
        </p>
        <p>
            Owner/s:
            <span *ngFor="let owner of searchedThram.owners"
                >{{ owner?.nameEnglish }}/{{ owner?.nameDzongkha }}</span
            >
        </p>
    </div>
    <p-divider></p-divider>
    <div *ngIf="thramFound">
        <p class="text-lg font-semibold mb-2">Add Plot Details</p>
        <div class="flex gap-2 my-3">
            <div class="flex flex-column gap-2 flex-1">
                <label for="plotId">Plot ID</label>
                <input
                    pInputText
                    id="plotId"
                    formControlName="plotId"
                    type="text"
                />
                <div
                    *ngIf="
                        createPlotForm.get('plotId')?.invalid &&
                        createPlotForm.get('plotId')?.touched
                    "
                    class="p-error"
                >
                    <small>PlotID is required.</small>
                </div>
            </div>
            <div class="flex flex-column gap-2 flex-1">
                <label for="nameEnglish">Plot Category</label>

                <p-dropdown
                    id="dzongkhag"
                    [options]="plotCategories"
                    formControlName="plotCategory"
                ></p-dropdown>
                <div
                    *ngIf="
                        createPlotForm.get('plotCategory')?.invalid &&
                        createPlotForm.get('plotCategory')?.touched
                    "
                    class="p-error"
                >
                    <small>Category is required.</small>
                </div>
            </div>
        </div>
        <div class="flex gap-2 mb-2 mt-2">
            <div class="flex flex-column gap-2 flex-1">
                <label for="netArea">Net Area</label>

                <input
                    pInputText
                    id="netArea"
                    formControlName="netArea"
                    type="text"
                />
                <div
                    *ngIf="
                        createPlotForm.get('netArea')?.invalid &&
                        createPlotForm.get('netArea')?.touched
                    "
                    class="p-error"
                >
                    <small>Net Area is required.</small>
                </div>
            </div>
            <div class="flex flex-column gap-2 flex-1">
                <label for="dzongkhag">Area Units</label>
                <p-dropdown
                    id="dzongkhag"
                    [options]="landAreaUnits"
                    formControlName="areaUnit"
                ></p-dropdown>
                <div
                    *ngIf="
                        createPlotForm.get('areaUnit')?.invalid &&
                        createPlotForm.get('areaUnit')?.touched
                    "
                    class="p-error"
                >
                    <small>Area Unit is required.</small>
                </div>
            </div>
        </div>

        <div class="flex gap-2 my-3">
            <div class="flex flex-column gap-2 flex-1">
                <label for="nameEnglish">LAP Name</label>

                <input
                    pInputText
                    id="nameEnglish"
                    formControlName="lapName"
                    type="text"
                />
            </div>
            <div class="flex flex-column gap-2 flex-1">
                <label for="nameEnglish">LAP CODE</label>

                <input
                    pInputText
                    id="nameEnglish"
                    formControlName="lapCode"
                    type="text"
                />
            </div>
        </div>
        <div class="flex gap-2 my-4">
            <div class="flex flex-column gap-2 flex-1">
                <label for="nameEnglish">Precinct Name</label>

                <input
                    pInputText
                    id="nameEnglish"
                    formControlName="precinctName"
                    type="text"
                />
            </div>
            <div class="flex flex-column gap-2 flex-1">
                <label for="nameEnglish">Precinct Code</label>

                <input
                    pInputText
                    id="nameEnglish"
                    formControlName="precinctCode"
                    type="text"
                />
            </div>
        </div>
        <div class="flex flex-column gap-2 my-4">
            <label for="nameEnglish">Additional Remarks</label>

            <input
                pInputText
                id="nameEnglish"
                formControlName="remarks"
                type="text"
            />
        </div>

        <div class="flex justify-content-end gap-4 mt-4">
            <p-button
                (click)="createPlot()"
                [disabled]="isSubmitting || createPlotForm.invalid"
                label="Create Plot"
            ></p-button>
            <p-button severity="secondary" label="Cancel"></p-button>
        </div>
    </div>
</form>
