<div class="flex flex-column gap-2 my-2 p-fluid" style="max-width: 50vw">
    <p>Select the month and year</p>
    <p-calendar
        [(ngModel)]="date"
        view="month"
        dateFormat="mm/yy"
        appendTo="body"
        [showIcon]="true"
        [showOnFocus]="false"
        [readonlyInput]="false"
        class="mb-4"
    />

    <p *ngIf="date">Generate PA for {{ formatDate(date) }}</p>
    <p-button label="Generate PA" (click)="generatePa()"></p-button>

    <div *ngIf="results" class="mt-4">
        <div *ngFor="let item of results" class="my-3">
            <div
                [ngClass]="{
                    'text-green-400': item.status === 'Success',
                    'text-red-400': item.status === 'Error',
                    'text-blue-400': item.status === 'Info'
                }"
            >
                {{ item.message }}
            </div>
        </div>
    </div>
</div>
