<div class="w-full flex" style="max-width: 40vw">
    <div
        class="flex w-6"
        id="spatialPlotViewer"
        style="height: 40vh; min-width: 20vw"
    ></div>
    <p-tabView class="w-6">
        <p-tabPanel header="Plot Details">
            <div class="">
                <p class="text-lg">
                    <strong>Plot ID: </strong>{{ plot.plotId }}
                </p>

                <p><strong>Plot Category:</strong>{{ plot.plotCategory }}</p>
                <p>
                    <strong>Area:</strong> {{ plot.netArea }}
                    {{ plot.areaUnit }}
                </p>

                <p><strong>LAP name:</strong> {{ plot.lapName }}</p>

                <p><strong>LAP Code:</strong> {{ plot.lapCode }}</p>
                <p>
                    <strong>Precinct:</strong> {{ plot.precinctName }} ({{
                        plot.precinctCode
                    }})
                </p>
                <p><strong>Remarks:</strong> {{ plot.remarks }}</p>
                <hr class="my-4" />
                <p><strong>Thram No:</strong> {{ plot.thram?.thramNo }}</p>
                <p>
                    <strong>OwnershipType:</strong>
                    {{ plot.thram?.ownershipType }}
                </p>
                <p>
                    <strong>Location:</strong>
                    {{ plot.thram?.dzongkhag?.name }},{{
                        plot.thram?.administrativeZone?.name
                    }},{{ plot.thram?.subAdministrativeZone?.name }}
                </p>
                <p>Owner/s</p>
                <p *ngFor="let owner of plot.thram?.owners">
                    -
                    <strong>
                        {{ owner.nameEnglish }} {{ owner.nameDzongkha }}
                    </strong>
                </p>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Buildings" *ngIf="plot.buildings">
            <div *ngIf="plot.buildings && plot.buildings.length">
                <div *ngFor="let building of plot.buildings">
                    <p-divider></p-divider>
                    <p
                        (click)="navigateToBuilding(building.id)"
                        class="text-blue-600 font-semibold cursor-pointer hover:underline"
                    >
                        <strong></strong>{{ building.name }}
                    </p>

                    <p class="mb-2">
                        <strong> Config: </strong
                        >{{ getBuildingFloorConfiguration(building) }}
                    </p>
                    <p class="mb-2">
                        <strong> Address: </strong>{{ building.address }}
                    </p>
                </div>
            </div>
            <div *ngIf="!plot.buildings && !plot.buildings.length">
                No Building/s on this plot
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
