<div class="w-full flex">
    <div
        class="flex border-round-lg"
        id="map"
        style="height: 40vh; min-width: 20vw"
    ></div>
    <div class="px-6">
        <p>Plot ID: {{ plot.plotId }}</p>
        <p>Category:{{ plot.plotCategory }}</p>
        <p>Area: {{ plot.netArea }} {{ plot.areaUnit }}</p>

        <p>LAP name: {{ plot.lapName }}</p>

        <p>LAP Code: {{ plot.lapCode }}</p>
        <p>Precinct: {{ plot.precinctName }} ({{ plot.precinctCode }})</p>
        <p>Remarks: {{ plot.remarks ? plot.remarks : "NA" }}</p>
    </div>
</div>
