<div class="flex justify-content-between mb-4">
    <p class="font-semibold text-lg mb-2">Land Lease</p>
    <p-button
        label="Land Lease"
        icon="pi pi-plus"
        size="small"
        (click)="goToLeaseBuilder()"
    ></p-button>
</div>
<p-tabView [(activeIndex)]="activeIndex" (onChange)="handleTabChange($event)">
    <p-tabPanel header="All">
        <app-admin-land-lease-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-land-lease-listings>
    </p-tabPanel>
    <p-tabPanel header="Active">
        <app-admin-land-lease-active-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-land-lease-active-listings>
    </p-tabPanel>
    <p-tabPanel header="Pending">
        <app-admin-land-lease-pending-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-land-lease-pending-listings>
    </p-tabPanel>
    <p-tabPanel header="Upcoming Expiration">
        <app-admin-land-lease-upcoming-expiration-listings
            [refreshEvent]="refreshEvent"
        ></app-admin-land-lease-upcoming-expiration-listings>
    </p-tabPanel>
    <p-tabPanel header="Payment Status">
        <app-admin-land-lease-payment-status></app-admin-land-lease-payment-status>
    </p-tabPanel>
</p-tabView>
