<router-outlet></router-outlet>

<p-table
    [value]="buildingsPaginated"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Buildings
            <p-button
                icon="pi pi-plus"
                (click)="openAddBuildingModal()"
                label="Building"
            >
            </p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Building</th>

            <!-- <th>Ownership</th> -->
            <th>Plot Mapping</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-building>
        <tr>
            <td class="m">
                <div class="text-center">
                    <p class="text-sm">
                        {{ building.isActive ? "Active" : "Idle" }}
                    </p>
                    <qrcode
                        *ngIf="building?.zhicharQrUuid"
                        [qrdata]="getQr(building?.zhicharQrUuid)"
                        [errorCorrectionLevel]="'M'"
                        [allowEmptyString]="true"
                        [cssClass]="'center'"
                        [errorCorrectionLevel]="'high'"
                        [colorDark]="'#111827'"
                        [colorLight]="'#FFFFFF00'"
                        [elementType]="'svg'"
                        [errorCorrectionLevel]="'H'"
                        [scale]="1"
                        [title]="'BuildingQr'"
                        [width]="100"
                        class="m-0 p-0"
                    ></qrcode>
                    <small> ID: {{ building.id }} </small>
                </div>
            </td>
            <td>
                <app-admin-building-details-card
                    [building]="building"
                    [editMode]="false"
                ></app-admin-building-details-card>
                <hr />
                <div class="flex gap-2">
                    <p-button
                        size="small"
                        label="Edit"
                        icon="pi pi-pencil"
                        (click)="openEditBuildingModal(building)"
                    ></p-button>
                    <p-button
                        size="small"
                        icon="pi pi-eye"
                        label="Detailed view"
                        (click)="openViewBuildingDetails(building)"
                    ></p-button>
                    <p-button
                        label="Add Plot"
                        (click)="openCreateBuildingPlotModal(building.id)"
                        icon="pi pi-plus"
                        size="small"
                    ></p-button>
                    <p-button
                        label="Add Owner"
                        size="small"
                        icon="pi pi-plus"
                        (click)="openAddBuildingOwnershipModal(building)"
                    ></p-button>
                </div>
            </td>

            <!-- <td>
                <div *ngFor="let owner of building.owners" class="mb-4">
                    <p>
                        <strong>Name:</strong>
                        {{ owner.firstName }}
                        {{ owner.middleName }}
                        {{ owner.lastName }}
                    </p>
                    <p>
                        Ownership Type:
                        <strong>{{
                            owner.BuildingOwnership.ownershipType
                        }}</strong>
                    </p>
                    <p>
                        Ownership Percentage:
                        <strong>{{
                            owner.BuildingOwnership.ownershipPercentage
                        }}</strong>
                    </p>

                    <div class="flex gap-2 mt-2">
                        <p-button
                            size="small"
                            icon="pi pi-pencil"
                            (click)="
                                openEditOwnershipModal(owner.BuildingOwnership)
                            "
                        ></p-button>
                        <p-button
                            size="small"
                            icon="pi pi-eye"
                            label="View Owner"
                            (click)="viewOwnerDetailCard(owner)"
                        ></p-button>
                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            label="delete"
                            severity="danger "
                            (click)="
                                openConfirmDeleteBuildingOwnershipDialog(
                                    owner.BuildingOwnership
                                )
                            "
                        />
                    </div>
                </div>
                <div *ngIf="!building.owners.length" class="text-red-500">
                    ! Building Ownership not mapped
                </div>
            </td> -->
            <td class="">
                <div *ngFor="let plot of building.plots">
                    <p>
                        Thram: <strong> {{ plot.thram.thramNo }} </strong>
                    </p>
                    <p>
                        PlotID: <strong> {{ plot.plotId }} </strong>
                    </p>
                    <p>
                        Precicnt: {{ plot.precinctName }} ({{
                            plot.precinctCode
                        }})
                    </p>
                    <div class="flex gap-2 mt-4">
                        <p-button
                            icon="pi pi-pencil"
                            size="small"
                            label="Edit"
                            severity="primary"
                            (click)="openEditBuildingPlotModal(plot)"
                        />
                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            label="delete"
                            severity="danger "
                            (click)="openConfirmDeleteBuildingPlotDialog(plot)"
                        />
                    </div>
                </div>
                <div *ngIf="!building.plots.length" class="text-red-500">
                    ! Building Plot not mapped
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Showing {{ buildingsPaginated.length }} Buildings
        </div>
        <div></div>
    </ng-template>
</p-table>

<p-dialog
    header="Owner Details"
    [modal]="true"
    [(visible)]="showOwnerDetailCard"
    [style]="{ width: '25rem' }"
>
    <div *ngIf="selectedOwner">
        <p>First Name: {{ selectedOwner.firstName }}</p>
        <p>Middle Name: {{ selectedOwner.middleName }}</p>
        <p>Last Name: {{ selectedOwner.lastName }}</p>
    </div>
</p-dialog>

<p-dialog
    header="Delete Building Plot"
    [modal]="true"
    [(visible)]="showConfirmDeleteBuildingPlotDialog"
    [style]="{ width: '25rem' }"
>
    <p>Are u sure u want to delete?</p>
    <div class="flex justify-content-start gap-4 mt-4">
        <p-button
            label="Cancel"
            severity="secondary"
            (click)="showConfirmDeleteBuildingPlotDialog = false"
        />
        <p-button
            label="Delete"
            severity="danger"
            (click)="deleteBuildingPlot()"
        />
    </div>
</p-dialog>

<p-dialog
    header="Delete Building Ownership"
    [modal]="true"
    [(visible)]="showConfirmDeleteBuildingOwnershipDialog"
    [style]="{ width: '25rem' }"
>
    <p>Are u sure u want to delete?</p>
    <div class="flex justify-content-start gap-4 mt-4">
        <p-button
            label="Cancel"
            severity="secondary"
            (click)="showConfirmDeleteBuildingPlotDialog = false"
        />
        <p-button
            label="Delete"
            severity="danger"
            (click)="deleteBuildingOwnership()"
        />
    </div>
</p-dialog>
