<div style="max-width: 500px">
    <div class="flex justify-content-between align-items-end">
        <div class="flex flex-column gap-2">
            <p-image
                [src]="adminProfileUri"
                alt="Image"
                width="100"
                imageClass="circular"
            />
        </div>
        <div *ngIf="admin" class="text-right">
            <p>{{ admin.nameEnglish }} / {{ admin.nameDzongkha }}</p>

            <p>Phone:{{ admin.phoneNumber }}</p>
            <p>Email:{{ admin.email }}</p>
            <p>{{ admin.permanentAddress }}</p>
        </div>
    </div>

    <p-divider></p-divider>

    <div *ngFor="let paymentAdvice of paymentAdvices" class="mt-4 mb-4">
        <p class="font-semibold text-center mt-2 mb-2">
            {{ paymentAdvice?.title }}
        </p>
        <div>
            <p-table
                [value]="paymentAdvice?.paymentAdviseItem"
                [tableStyle]="{ width: '100%' }"
                styleClass="p-datatable-sm"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Particular</th>
                        <th>Amount</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{ item.particular }}</td>
                        <td>Nu.{{ item.amount }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="flex justify-content-between align-items-end mt-4">
        <div>
            <p>To be received from</p>
            <p
                pTooltip="double click to view Tenant details"
                tooltipPosition="left"
                class="cursor-pointer text-blue-500 hover:underline hover:font-semibold"
                (dblclick)="
                    goToTenantDetailedView(
                        paymentAdvices[0].leaseAgreement.tenant.id
                    )
                "
            >
                Name:{{ paymentAdvices[0].leaseAgreement.tenant.nameEnglish }}
            </p>
            <p>
                Phone:{{ paymentAdvices[0].leaseAgreement.tenant.phoneNumber }}
            </p>
            <p>CID:{{ paymentAdvices[0].leaseAgreement.tenant.cid }}</p>
        </div>

        <div class="mt-4 text-right">
            <p class="my-2 font-semibold">Total: Nu. {{ totalAmmount }}</p>
            <p class="my-2 font-semibold">
                Amount Due: Nu. {{ totalAmountDue }}
            </p>
        </div>
    </div>

    <div
        class="flex justify-content-end align-items-end my-4"
        *ngIf="totalAmountDue !== 0"
    >
        <p-button
            label="Receive Payment"
            size="small"
            (click)="receivePayment()"
        ></p-button>
    </div>
</div>
