:host ::ng-deep .custom-tabview .p-tabview-nav {
    color: gray;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li {
    font-size: 16px;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li .p-tabview-title {
    color: gray; /* Text color */
    font-weight: 600;
    padding: 6px 16px;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li.p-highlight .p-tabview-title {
    color: #2196f3; /* Highlighted tab color */
}
