<div
    class="flex hero flex-column align-items-center justify-content-center"
    style="height: 100dvh; margin: 0"
>
    <div #centerElement class="p-4">
        <div class="text-left">
            <p class="font-serif text-7xl text-center">Zhidhay.bt</p>
            <p class="text-lg text-center">
                This platform, managed by the
                <a href="#"> Segment X</a> , is your gateway to automated rental
                property management suite on cloud.
            </p>
        </div>
        <div
            class="flex w-full flex-column p-fluid align-items-center justify-content-center gap-2 mt-6"
        >
            <div class="flex gap-2 my-2">
                <div class="flex align-items-center">
                    <p-button
                        severity="secondary"
                        label="Tenant Login"
                    ></p-button>
                </div>
                <div class="flex align-items-center">
                    <p-button
                        severity="secondary"
                        label="Owner Login"
                        (click)="login()"
                    ></p-button>
                </div>
            </div>

            <p-button
                label="Request for Demo"
                severity="secondary"
                [text]="true"
                size="small"
            >
            </p-button>

            <hr />
        </div>
    </div>
    <div class="cloud1">
        <img src="assets/images/cloud1.png" />
    </div>
    <div class="cloud2">
        <img src="assets/images/cloud1.png" />
    </div>
    <div class="cloud4">
        <img src="assets/images/cloud1.png" />
    </div>
    <div class="cloud3">
        <img src="assets/images/cloud3.png" />
    </div>

    <div class="cloud5">
        <img src="assets/images/cloud3.png" />
    </div>
</div>
