:host ::ng-deep .custom-tabview .p-tabview-nav {
    color: #bdcad4;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li {
    font-size: 18px;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li .p-tabview-title {
    color: #bdcad4; /* Text color */
    font-weight: 800;
    padding: 2px 16px;
}

:host ::ng-deep .custom-tabview .p-tabview-nav li.p-highlight .p-tabview-title {
    color: #224e70; /* Highlighted tab color */
}

:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: #224e70;
}
