<div class="map-container">
    <div class="title-container">
        <h2>{{ title }}</h2>

        <hr />
        <div class="flex align-items-center justify-content-center p-fluid">
            <p>Select Town</p>

            <p-dropdown
                [options]="towns"
                [(ngModel)]="selectedTown"
                optionLabel="name"
                placeholder="Select Town"
                (onChange)="loadDrainsGeojson()"
            ></p-dropdown>
        </div>
        <p>Click on a feature to view properties</p>
    </div>
    <div id="map" class="map"></div>
</div>
