<div class="text-lg">
    <p class="text-2xl font-semibold">
        {{ building.name }}
    </p>
    <p>
        Floor Config:
        <strong>
            {{
                getBuildingFloorConfiguration(
                    building.regularFloorCount,
                    building.basementCount,
                    building.stiltCount,
                    building.atticCount,
                    building.jamthogCount
                )
            }}</strong
        >
    </p>
    <p>
        Type: <strong>{{ building.buildingType }}</strong>
    </p>
    <p *ngIf="building.buildingNumber">
        Building Number:
        <strong>{{ building.buildingNumber }}</strong>
    </p>
    <p>
        Address:
        <strong>
            {{ building.address }}, {{ building.subadministrativeZone?.name }},
            {{ building.administrativeZone?.name }},
            {{ building.dzongkhag?.name }}
        </strong>
    </p>
    <p-button
        size="small"
        *ngIf="editMode"
        label="Edit"
        icon="pi pi-pencil"
        (click)="openEditBuildingModal()"
    ></p-button>
</div>
