<div>
    <p-confirmPopup></p-confirmPopup>
    <div #mainCOntainer class="px-6 mt-6">
        <p class="mb-3 mt-4 font-semibold">Terms and Conditions</p>
        <div class="flex w-full flex-column gap-4">
            <div class="flex align-items-center gap-4">
                <p>- Is the tenant allowed to sublet the property?</p>
                <p-selectButton
                    [options]="yesNoOptions"
                    [(ngModel)]="tenantSubletAuthority"
                    optionLabel="name"
                    optionValue="value"
                    [allowEmpty]="false"
                />
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Can the owner terminate the lease early?</p>
                <p-selectButton
                    [options]="yesNoOptions"
                    [(ngModel)]="ownerPrematureTermination"
                    optionLabel="name"
                    optionValue="value"
                    [allowEmpty]="false"
                />
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Can the tenant terminate the lease early?</p>
                <p-selectButton
                    [options]="yesNoOptions"
                    [(ngModel)]="tenantPrematureTermination"
                    optionLabel="name"
                    optionValue="value"
                    [allowEmpty]="false"
                />
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Rent is due by day</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="paymentDueDay"
                ></p-inputNumber>
                <p>
                    of the following month. Penalties will apply after this
                    date.
                </p>
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Penalty for late payment:</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="penaltyPercentagePerAnnum"
                ></p-inputNumber>
                <p>% per annum on the overdue amount, charged daily.</p>
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Rent will be increased:</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="rentIncrementPercentage"
                ></p-inputNumber>
                <p>% every</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="rentIncrementDurationYear"
                ></p-inputNumber>
                <p>year(s).</p>
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Notice period for rent increase:</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="rentIncreaseNoticePeriod"
                ></p-inputNumber>
                <p>month(s).</p>
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Tenant’s notice period for vacating:</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="vacationNoticePeriod"
                ></p-inputNumber>
                <p>month(s).</p>
            </div>

            <div class="flex align-items-center gap-4">
                <p>- Notice period for eviction:</p>
                <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="evictionNoticePeriod"
                ></p-inputNumber>
                <p>month(s).</p>
            </div>
        </div>

        <div #additinalRules class="mt-5">
            <div class="flex justify-content-between">
                <p class="font-semibold">Additional Lease Terms</p>
                <p-button
                    label="Add Lease Terms"
                    size="small"
                    (click)="openCreateLeaseRuleModal()"
                ></p-button>
            </div>
            <p-divider></p-divider>

            <p-table
                *ngIf="leaseRules.length"
                [value]="leaseRules"
                class="p-datatable-sm"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Particular</th>
                        <th>Origin</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing">
                    <tr>
                        <td
                            [pEditableColumn]="item.particular"
                            pEditableColumnField="particular"
                        >
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="text"
                                        [(ngModel)]="item.particular"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.particular }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{ item.origin }}
                        </td>

                        <td>
                            <p
                                class="text-red-500 cursor-pointer hover:underline"
                                (click)="deleteRule($event, item)"
                            >
                                remove
                            </p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p *ngIf="!leaseRules.length">- No additional lease terms</p>
        </div>

        <div class="mt-5 flex justify-content-end">
            <p-button label="Save and Proceed" (click)="saveAndProceed()">
            </p-button>
        </div>
    </div>
</div>

<p-dialog
    header="Add Lease Rules"
    [(visible)]="showAddLeaseRuleForm"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <form [formGroup]="createLeaseRuleForm" class="p-fluid p-2">
        <div class="grid">
            <div class="field col-12">
                <label for="particular">Particular</label>
                <textarea
                    rows="5"
                    cols="30"
                    pInputTextarea
                    formControlName="particular"
                ></textarea>
            </div>
        </div>

        <p-button (click)="createLeaseRule()" label="Add Lease Rule"></p-button>
    </form>
</p-dialog>
