<div style="min-width: 30vw">
    <div class="flex justify-content-between align-items-end">
        <div class="flex flex-column gap-2">
            <p-image
                [src]="adminProfileUri"
                alt="Image"
                width="100"
                imageClass="circular"
            />
        </div>
        <div *ngIf="admin" class="text-right">
            <p>{{ admin.nameEnglish }} / {{ admin.nameDzongkha }}</p>

            <p>Phone:{{ admin.phoneNumber }}</p>
            <p>Email:{{ admin.email }}</p>
            <p>{{ admin.permanentAddress }}</p>
        </div>
    </div>

    <p class="font-semibold text-center text-xl my-3">Payment Receipt</p>
    <div *ngIf="paymentReceipt" class="mb-2">
        <p-table
            [value]="paymentReceipt.paymentReceiptItems"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>particular</th>
                    <th>Amount</th>
                    <th>Advice Ref</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.particular }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <p
                            (click)="
                                openViewPaymentAdviceModal(item.paymentAdviseId)
                            "
                            class="text-blue-500 cursor-pointer hover:underline hover:font-semibold"
                        >
                            #{{ item.paymentAdviseId }}
                        </p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div *ngIf="paymentReceipt" class="mt-5">
        <div
            class="flex gap-4 align-items-start mt-4 justify-content-end mb-4 text-right"
        >
            <div>
                <p class="my-2 font-semibold text-right">
                    Amount Transacted: Nu. {{ paymentReceipt.amount }}
                </p>

                <p class="font-semibold">
                    Transfer Mode: {{ paymentReceipt.paymentMode }}
                </p>
                <p class="font-semibold">
                    Transaction Time:
                    {{ paymentReceipt.createdAt | date : "medium" }}
                </p>
                <p>Reference: {{ paymentReceipt.refNo }}</p>
                <p>
                    Transaction Remarks:
                    {{ paymentReceipt.remarks ? paymentReceipt.remarks : "NA" }}
                </p>
            </div>
        </div>

        <div class="flex justify-content-between py-3">
            <div class="text-right" *ngIf="paymentReceipt.receiver">
                <p class="font-semibold">Received By</p>

                <p>
                    {{ paymentReceipt.receiver.nameEnglish }}
                </p>

                <p>
                    {{ paymentReceipt.receiver.phoneNumber }}
                </p>
            </div>

            <div class="text-right">
                <p class="font-semibold">Received From</p>

                <p>
                    {{
                        paymentReceipt.paymentAdvises[0].leaseAgreement.tenant
                            .nameEnglish
                    }}
                </p>
                <p>(Tenant)</p>
                <p>
                    {{
                        paymentReceipt.paymentAdvises[0].leaseAgreement.tenant
                            .phoneNumber
                    }}
                </p>
            </div>
        </div>
    </div>

    <p-button label="Download PDF" (click)="downloadReceiptPdf()"></p-button>
</div>
