<div style="min-width: 30vw">
    <div class="flex justify-content-between align-items-end">
        <div class="flex flex-column gap-2">
            <p-image
                [src]="adminProfileUri"
                alt="Image"
                width="100"
                imageClass="circular"
            />
        </div>
        <div *ngIf="admin" class="text-right">
            <p>{{ admin.nameEnglish }} / {{ admin.nameDzongkha }}</p>

            <p>Phone:{{ admin.phoneNumber }}</p>
            <p>Email:{{ admin.email }}</p>
            <p>{{ admin.permanentAddress }}</p>
        </div>
    </div>
    <div *ngIf="paymentReceipt" class="mt-5">
        <div
            *ngFor="let paymentAdvice of paymentReceipt.paymentAdvises"
            class="mb-4"
        >
            <p class="font-semibold text-center mt-2 mb-2">
                advice #{{ paymentAdvice.id }} {{ paymentAdvice?.title }}
            </p>
            <div>
                <p-table
                    [value]="paymentAdvice?.paymentAdviseItem"
                    [tableStyle]="{ width: '100%' }"
                    styleClass="p-datatable-sm"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Particular</th>
                            <th>Amount</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{ item.particular }}</td>
                            <td>Nu.{{ item.amount }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="text-right">
                <p>Advice Amount: {{ paymentAdvice.totalAmount }}</p>
                <p>Amount Due: {{ paymentAdvice.amountDue }}</p>
            </div>
        </div>

        <div
            class="flex gap-4 align-items-start mt-4 justify-content-end mb-4 text-right"
        >
            <div>
                <p class="my-2 font-semibold text-right">
                    Amount Transacted: Nu. {{ paymentReceipt.amount }}
                </p>

                <p class="font-semibold">
                    Transfer Mode: {{ paymentReceipt.paymentMode }}
                </p>
                <p class="font-semibold">
                    Transaction Time:
                    {{ paymentReceipt.createdAt | date : "medium" }}
                </p>
                <p>Reference: {{ paymentReceipt.refNo }}</p>
                <p>
                    Transaction Remarks:
                    {{ paymentReceipt.remarks ? paymentReceipt.remarks : "NA" }}
                </p>
            </div>
        </div>

        <div class="flex justify-content-between py-3">
            <div class="text-right" *ngIf="paymentReceipt.receivedBy">
                <p class="font-semibold">Received By</p>

                <p>
                    {{ paymentReceipt.receiver.nameEnglish }}
                </p>
                <p>(System Manager)</p>
                <p>
                    {{ paymentReceipt.receiver.phoneNumber }}
                </p>
            </div>

            <div class="text-right">
                <p class="font-semibold">Received From</p>

                <p>
                    {{
                        paymentReceipt.paymentAdvises[0].leaseAgreement.tenant
                            .nameEnglish
                    }}
                </p>
                <p>(Tenant)</p>
                <p>
                    {{
                        paymentReceipt.paymentAdvises[0].leaseAgreement.tenant
                            .phoneNumber
                    }}
                </p>
            </div>
        </div>
    </div>

    <p-button label="Download PDF" (click)="downloadReceiptPdf()"></p-button>
</div>
