<form
    [formGroup]="updateUserForm"
    class="p-fluid p-2 flex flex-column gap-4"
    style="min-width: 20vw"
>
    <div class="flex flex-column gap-2">
        <label for="phonenumber">Phone Number</label>
        <p-inputGroup>
            <p-inputGroupAddon> +975 </p-inputGroupAddon>

            <p-inputNumber
                formControlName="phoneNumber"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
            />
        </p-inputGroup>
    </div>

    <div class="flex justify-content-end gap-4">
        <p-button
            (click)="updatePhoneNumber()"
            [disabled]="isSubmitting"
            label="Update Phone Number"
        ></p-button>
        <p-button
            severity="secondary"
            label="Cancel"
            (click)="close()"
        ></p-button>
    </div>
</form>
