/* For mobile devices */
.pdf-viewer {
    width: 100dvw;
    height: 90vh;
}

/* @media (min-width: 768px) {
    .pdf-viewer {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .pdf-viewer {
        width: 100%;
    }
} */