<div
    class="flex flex-column justify-content-center align-items-center gap-2 font-semibold cursor-pointer"
>
    <div (click)="goToHome()" class="flex align-items-center">
        <img src="assets/logo/zhidhay.svg" class="w-4rem" alt="" />
        <div class="flex flex-column justify-content-between">
            <p class="text-3xl font-bold">ZHIDHAY</p>
            <p class="text-sm">Brand Description</p>
        </div>
    </div>
    <pdf-viewer
        src="assets/docs/brand.pdf"
        [render-text]="true"
        [original-size]="false"
        class="pdf-viewer"
    ></pdf-viewer>
</div>
