<div>
    <div>
        <p>Revised Rent: Nu.{{ updatedRent }}</p>
        <div *ngIf="updatedLeaseSurcharges.length">
            <p>Revised Surcharges</p>
            <p *ngFor="let item of updatedLeaseSurcharges">
                - {{ item.particular }}: Nu. {{ item.amount }}
            </p>
        </div>
    </div>

    <p class="font-semibold my-4">Pending Payment Advices</p>

    <div
        *ngFor="let advice of pendingPaymentAdvices"
        class="p-2 border-1 border-round border-50"
    >
        <div class="flex justify-content-between align-items-end p-2">
            <p class="w-6 font-semibold">
                {{ advice.title }}
            </p>
            <p-button
                label="Regenerate PA"
                (click)="regeneratePa(advice)"
                icon="pi pi-sync"
                size="small"
                [outline]="true"
                severity="secondary"
            ></p-button>
        </div>
        <div>
            <p *ngFor="let item of advice.paymentAdviseItem">
                - {{ item.particular }}, Nu.{{ item.amount }}
            </p>
        </div>
    </div>

    <p-divider></p-divider>
    <p-button label="Confirm Close" (click)="confirmClose()"></p-button>
</div>
