<div class="" *ngIf="damageItem">
    <div
        class="flex justify-content-between align-items-center p-3 bg-light"
        style="background-color: aliceblue"
    >
        <div class="flex align-items-center">
            <div>
                <h5 class="mb-0">{{ recipientName }}</h5>
                <small class="text-muted">{{ recipentPhoneNumber }}</small>
            </div>
        </div>
        <button
            pButton
            icon="pi pi-info-circle"
            label="Details"
            class="p-button-text"
        ></button>
    </div>
    <div style="background-color: aliceblue" class="p-3">
        <p>Issue# {{ damageItem.id }}</p>
        <p>{{ damageItem.title }} at {{ damageItem.location }}</p>
    </div>

    <div
        class="p-4 flex flex-column justify-content-end"
        style="height: 60vh; overflow-y: auto"
    >
        <div
            *ngFor="let message of messages"
            [ngClass]="{
                'justify-content-start ': message.sender === 'user',
                'justify-content-end ': message.sender === 'admin'
            }"
            class="mb-2 flex"
        >
            <div
                class="flex flex-column"
                [ngClass]="{
                    'align-items-start ': message.sender === 'user',
                    'align-items-end ': message.sender === 'admin'
                }"
            >
                <p
                    style="max-width: 80%; border-radius: 5px"
                    class="p-2"
                    [ngClass]="{
                        ' bg-gray-100': message.sender === 'user',
                        ' bg-blue-100': message.sender === 'admin'
                    }"
                >
                    {{ message.text }}
                </p>
                <small class="text-muted">{{
                    message.timestamp | date : "short"
                }}</small>
            </div>
        </div>
    </div>
    <div>
        <p-divider></p-divider>
        <p-inputGroup>
            <input
                type="text"
                pInputText
                [(ngModel)]="newMessage"
                placeholder="Message"
            />
            <button
                type="button"
                pButton
                icon="pi pi-send"
                (click)="sendMessage()"
            ></button>
        </p-inputGroup>
    </div>
</div>

<div *ngIf="!damageItem">
    <p>Please select a damage item and load conversation</p>
</div>
