<div class="" *ngIf="damageItem">
    <div style="background-color: aliceblue" class="p-3">
        <p>Issue# {{ damageItem.id }}</p>
        <p>{{ damageItem.title }} at {{ damageItem.location }}</p>
    </div>

    <div class="p-2" style="height: 50vh; overflow: scroll" #chatContainer>
        <div
            *ngFor="let thread of threads"
            class="pt-2 pb-2 flex gap-1"
            [ngClass]="{
                'justify-content-end': thread.user.id === authenticatedUser.id,
                'justify-content-start': thread.user.id !== authenticatedUser.id
            }"
        >
            <div
                [ngClass]="{
                    'flex-order-2': thread.user.id === authenticatedUser.id,
                    'flex-order-1': thread.user.id !== authenticatedUser.id
                }"
            >
                <p-avatar
                    [label]="thread.user.nameEnglish[0]"
                    styleClass="mr-2"
                    size="large"
                    shape="circle"
                />
            </div>
            <div
                class="flex flex-column flex-1 flex-grow-1"
                [ngClass]="{
                    'flex-order-1 align-items-start align-items-end':
                        thread.user.id === authenticatedUser.id,
                    'flex-order-2': thread.user.id !== authenticatedUser.id
                }"
            >
                <p>
                    {{ thread.text }}
                </p>
                <p class="text-muted text-xs">
                    {{ thread.createdAt | date : "short" }}
                </p>
            </div>
        </div>
        <div *ngIf="!threads.length">- Empty Threads</div>
    </div>
    <div>
        <p-divider></p-divider>
        <p-inputGroup>
            <input
                type="text"
                pInputText
                [(ngModel)]="newMessage"
                placeholder="Message"
                (keyup.enter)="sendMessage()"
            />
            <button
                type="button"
                pButton
                icon="pi pi-send"
                (click)="sendMessage()"
            ></button>
        </p-inputGroup>
    </div>
</div>

<div *ngIf="!damageItem">
    <p>Please select a damage item and load conversation</p>
</div>
