<div class="flex-1 border-1 surface-border border-round-md mb-4 p-2">
    <p class="text-2xl font-bold">Payments</p>
    <p-divider></p-divider>
    <div class="flex justify-content-start gap-4 align-items-end">
        <div>
            <p class="text-2xl font-semibold">Nu. 50,000</p>
            <p class="text-sm text-gray-600">Monthly Rental Income</p>
        </div>
        <div>
            <p class="text-2xl font-semibold">Nu. 50,000</p>
            <p class="text-sm text-red-600">Pending Payments</p>
        </div>
    </div>
</div>

<p-tabView>
    <p-tabPanel header="Pending">
        <app-admin-payment-advice-pending-list></app-admin-payment-advice-pending-list>
    </p-tabPanel>
    <p-tabPanel header="Paid">
        <app-admin-payment-advice-paid-list></app-admin-payment-advice-paid-list>
    </p-tabPanel>
    <p-tabPanel header="Search by Building">
        <app-admin-payment-advice-search-by-building></app-admin-payment-advice-search-by-building>
    </p-tabPanel>
    <p-tabPanel header="Search By Tenant">
        <app-admin-payment-advice-search-by-tenant></app-admin-payment-advice-search-by-tenant>
    </p-tabPanel>
</p-tabView>
