<p class="text-2xl font-bold">Land Rental Payment</p>

<div class="flex gap-6 align-items-end justify-content-between">
    <div class="flex algin-items-end gap-4">
        <p class="font-semibold text-lg">
            Summary for

            {{ selectedDate | date : "MMMM y" }}
        </p>

        <div>
            <p-button
                label="Download Excel Data"
                size="small"
                icon="pi pi-file-excel"
                severity="secondary"
                (click)="downloadExcel()"
            ></p-button>
        </div>
        <p-button
            label="Generate Payment Advices"
            (click)="openGeneratePaymentAdviceMonthly()"
            size="small"
            severity="secondary"
        ></p-button>
    </div>

    <div></div>
    <div>
        <p>Load for another month</p>
        <p-inputGroup>
            <p-calendar
                [(ngModel)]="selectedDate"
                view="month"
                dateFormat="mm/yy"
                [readonlyInput]="true"
            />
            <p-button
                label="Load Data"
                icon="pi pi-file-excel"
                size="small"
                (click)="loadData()"
                severity="secondary"
            ></p-button>
        </p-inputGroup>
    </div>
</div>
<hr />

<div class="my-4">
    <div class="flex">
        <div>
            <p>
                Total Receivable: Nu.
                {{ getPaymentsSummary().totalReceivable | number : "1.0-0" }}
            </p>
            <p>
                Total Received: Nu.
                {{ getPaymentsSummary().totalReceived | number : "1.0-0" }}
            </p>
            <div class="my-2">
                <p-progressBar
                    [value]="getCollectionProgressPercentage()"
                    color="darkseagreen"
                />
                <p class="text-sm">Collection Progress</p>
            </div>
            <p class="text-red-600">
                Pending: Nu.
                {{
                    getPaymentsSummary().totalReceivable -
                        getPaymentsSummary().totalReceived | number : "1.0-0"
                }}
            </p>
        </div>
    </div>
    <hr />

    <div>
        <p>Number of land on lease: {{ filteredData.length }}</p>
    </div>
</div>

<div class="my-3">
    <div class="flex gap-4">
        <div>
            <p-inputGroup>
                <p-inputGroupAddon>+975</p-inputGroupAddon>
                <p-inputNumber
                    [(ngModel)]="tenantPhoneNumberFilter"
                    mode="decimal"
                    inputId="withoutgrouping"
                    [useGrouping]="false"
                    placeholder="Tenant Phone Number"
                    [maxlength]="8"
                />
                <p-button
                    label="Filter By Phone Number"
                    icon="pi pi-search"
                    severity="secondary"
                    (click)="filterRowsByTenantPhoneNumber()"
                ></p-button>
            </p-inputGroup>
        </div>

        <div>
            <p-inputGroup>
                <input
                    type="text"
                    pInputText
                    placeholder="Plot ID"
                    [(ngModel)]="plotIdFilter"
                />
                <p-button
                    label="Filter By Plot ID"
                    icon="pi pi-search"
                    severity="secondary"
                    (click)="filterRowsByPlotId()"
                ></p-button>
            </p-inputGroup>
        </div>

        <div>
            <p-dropdown
                [options]="paymentStatusOptions"
                [(ngModel)]="selectedPaymentStatus"
                placeholder="Select Payment Status"
                optionLabel="label"
                optionValue="value"
            ></p-dropdown>
            <p-button
                label="Filter By Payment Status"
                icon="pi pi-search"
                severity="secondary"
                (click)="filterRowsByPaymentStatus()"
            ></p-button>
        </div>

        <div class="">
            <p-button
                label="Clear Filters"
                (click)="clearFilters()"
                severity="secondary"
            ></p-button>
        </div>
    </div>
</div>

<hr />

<p-table
    #dt2
    [value]="filteredData"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
>
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Lease Type</th>
            <th>Plot ID</th>
            <th>Area Leased</th>
            <th>Rate Per Unit Area</th>
            <th>Lease Status</th>
            <th>Tenant Name</th>
            <th>Tenant Contact</th>
            <th>Tenant CID</th>
            <th>Payment Status</th>
            <th>Total Receivable</th>
            <th>Total Received</th>
            <th>Balance</th>
            <th>Payment Mode</th>
            <th>Payment Date</th>
            <th>Remarks</th>
            <th>Action</th>
            <th>Receipts</th>
        </tr>
    </ng-template>

    <ng-template
        pTemplate="body"
        let-item
        let-rowIndex="rowIndex"
        let-expanded="expanded"
    >
        <tr [ngClass]="getRowStatus(item)">
            <td>{{ rowIndex + 1 }}</td>

            <td>
                <div class="flex justify-content-between align-items-center">
                    {{ item.type }}
                </div>
            </td>

            <td>
                {{ item.plot.plotId }}
            </td>

            <td>
                <p>{{ item.areaLeased }} {{ item.areaUnit }}</p>
            </td>
            <td>
                <p>
                    Nu.{{ item.ratePerArea }}
                    {{ item.areaUnits ? "per" + item.areaUnit : "" }}
                </p>
            </td>

            <td>
                <div class="flex justify-content-between align-items-center">
                    <p>
                        {{ item.status }}
                    </p>
                    <p
                        (click)="openReviseLeaseModal(item)"
                        class="text-blue-500 cursor-pointer hover:underline text-xs"
                    >
                        Update Lease
                    </p>
                    <p
                        class="text-red-500 cursor-pointer hover:underline text-xs"
                        (click)="openTerminateLeaseModal(item)"
                    >
                        Terminate Lease
                    </p>
                </div>
            </td>

            <td>
                {{ item.tenant.nameEnglish }}
            </td>
            <td>
                <p>
                    {{ item.tenant.phoneNumber }}
                </p>
            </td>
            <td>
                <div class="flex flex-column text-center">
                    <p
                        (click)="openUpdateTenantDetailsModal(item.tenant)"
                        class="text-blue-500 cursor-pointer hover:underline text-xs"
                    >
                        Update Tenant
                    </p>
                    <p>
                        {{ item.tenant.cid }}
                    </p>
                </div>
            </td>

            <td #status>
                <p
                    *ngIf="!item.paymentAdvises.length"
                    class="text-yellow-800 text-sm"
                >
                    - PA not Generated
                </p>
                <div *ngIf="item.paymentAdvises">
                    <div *ngFor="let pa of item.paymentAdvises">
                        <p
                            [ngClass]="{
                                'text-red-500 font-semibold':
                                    pa.status === 'DUE',
                                'text-green-500 font-semibold':
                                    pa.status === 'PAID'
                            }"
                        >
                            {{ pa.status }}
                        </p>
                        <p class="text-sm">
                            {{
                                pa.paymentReceipts.length > 1
                                    ? "(" +
                                      pa.paymentReceipts.length +
                                      " installments" +
                                      ")"
                                    : ""
                            }}
                        </p>
                    </div>
                </div>
            </td>

            <td #totalReceivable>
                <p>Nu.{{ computeTotalPayable(item) }}</p>
            </td>

            <td #totalReceived>
                <p
                    *ngIf="!item.paymentAdvises.length"
                    class="text-yellow-800 text-sm"
                >
                    - PA not Generated
                </p>
                <div *ngIf="item.paymentAdvises">
                    <div *ngFor="let pa of item.paymentAdvises">
                        <div *ngIf="pa.paymentReceipts">
                            Nu.
                            {{ parseTotalReceived(pa) }}
                        </div>
                        <div *ngIf="!pa.paymentReceipts.length">0</div>
                    </div>
                </div>
            </td>

            <td #due>
                <p
                    *ngIf="!item.paymentAdvises.length"
                    class="text-yellow-800 text-sm"
                >
                    - PA not Generated
                </p>
                <div *ngIf="item.paymentAdvises">
                    <div *ngFor="let pa of item.paymentAdvises">
                        <p>
                            {{ pa.amountDue }}
                        </p>
                    </div>
                </div>
            </td>

            <td #paymentMode>
                <p
                    *ngIf="!item.paymentAdvises.length"
                    class="text-yellow-800 text-sm"
                >
                    - PA not Generated
                </p>
                <div *ngIf="item.paymentAdvises">
                    <div *ngFor="let pa of item.paymentAdvises">
                        <p *ngIf="pa.paymentReceipts.length === 1">
                            {{ pa.paymentReceipts[0].paymentMode }}
                        </p>
                        <p *ngIf="pa.paymentReceipts.length > 1">
                            -refer receipt
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <p
                    *ngIf="!item.paymentAdvises.length"
                    class="text-yellow-800 text-sm"
                >
                    - PA not Generated
                </p>

                <div *ngIf="item.paymentAdvises">
                    <div *ngFor="let pa of item.paymentAdvises">
                        <p *ngIf="pa.paymentReceipts.length === 1">
                            <span *ngFor="let receipt of pa.paymentReceipts">
                                {{ receipt.createdAt | date }}
                            </span>
                        </p>
                        <p *ngIf="pa.paymentReceipts.length > 1">
                            -refer receipt
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <p
                    *ngIf="!item.paymentAdvises.length"
                    class="text-yellow-800 text-sm"
                >
                    - PA not Generated
                </p>
                <div *ngIf="item.paymentAdvises">
                    <div *ngFor="let pa of item.paymentAdvises">
                        <p *ngFor="let receipt of pa.paymentReceipts">
                            {{ receipt.remarks }}
                        </p>
                    </div>
                </div>
            </td>

            <td>
                <div *ngFor="let pa of item.paymentAdvises" class="">
                    <p-button
                        label="Receive"
                        size="small"
                        *ngIf="pa.status !== 'PAID'"
                        severity="secondary"
                        (click)="openPADetails(pa, item)"
                    ></p-button>
                </div>
            </td>
            <td>
                <div *ngFor="let pa of item.paymentAdvises" class="">
                    <div
                        class="flex flex-column gap-2 w-full"
                        *ngIf="pa.paymentReceipts.length"
                    >
                        <p-button
                            *ngFor="let receipt of pa.paymentReceipts"
                            [label]="'Receipt#' + receipt.id"
                            size="small"
                            outlined="true"
                            severity="secondary"
                            (onClick)="openViewPaymentReceipt(receipt)"
                        ></p-button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <p-tabView>
    <p-tabPanel header="All">
      
    </p-tabPanel>
    <p-tabPanel header="Pending"> </p-tabPanel>
    <p-tabPanel header="Paid"> </p-tabPanel>
</p-tabView> -->

<p-dialog
    header=""
    [modal]="true"
    [(visible)]="isDataLoading"
    [closable]="false"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <p-progressSpinner
            ariaLabel="loading"
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
        />
        <p>Fetching data from server.</p>
    </div>
</p-dialog>
