<p class="text-2xl font-bold">Building & Units Security Deposits</p>
<div class="flex justify-content-between align-items-end mt-4 mb-4">
    <div>
        <div>
            <p class="text-xl font-semibold">
                Nu.{{
                    summaryStats.totalSecurityDepositAmount | number : "1.0-0"
                }}
            </p>
            <p class="text-sm text-gray-600">
                Total Security Deposits (Active Lease)
            </p>
        </div>
        <div>
            <p class="text-xl font-semibold">
                Nu.{{
                    summaryStats.totalPendingSecurityDepositAmount
                        | number : "1.0-0"
                }}
            </p>
            <p class="text-sm text-gray-600">
                Security Deposit to be Collected
            </p>
        </div>
    </div>
    <div class="flex flex-column gap-3 p-fluid">
        <p-button
            label="Download Security Deposit Report"
            icon="pi pi-file-excel"
            size="small"
            severity="secondary"
        ></p-button>
    </div>
</div>
<p-tabView>
    <p-tabPanel header="Pending">
        <app-admin-building-security-deposit-pending-payment-advice></app-admin-building-security-deposit-pending-payment-advice>
    </p-tabPanel>
    <p-tabPanel header="Paid">
        <app-admin-building-security-deposit-paid-payment-advice></app-admin-building-security-deposit-paid-payment-advice>
    </p-tabPanel>
</p-tabView>
