<div class="flex align-items-center gap-3 mb-3 p-fluid">
    <label for="username" class="font-semibold w-6rem">Bank Name</label>
    <p-dropdown
        [options]="banks"
        placeholder="Select Bank"
        optionLabel="shorthand"
        [(ngModel)]="selectedBank"
    />
</div>
<div class="flex align-items-center gap-3 mb-5">
    <label for="bankAccountNumber" class="font-semibold w-6rem"
        >Account Name</label
    >
    <input type="text" [(ngModel)]="accountName" pInputText />
</div>

<div class="flex align-items-center gap-3 mb-5">
    <label for="bankAccountNumber" class="font-semibold w-6rem"
        >Account Number</label
    >
    <p-inputNumber
        inputId="withoutgrouping"
        [useGrouping]="false"
        [(ngModel)]="accountNumber"
    />
</div>

<div class="flex align-items-center gap-3 mb-5">
    <label for="bankAccountNumber" class="font-semibold w-6rem">Remarks</label>
    <input type="text" [(ngModel)]="remarks" pInputText />
</div>
<div class="flex justify-content-end gap-2">
    <p-button label="Cancel" (click)="close()" severity="secondary" />
    <p-button
        label="Add"
        (click)="createBankAccount()"
        [disabled]="isSubmitting"
    />
</div>
