<div class="flex gap-4">
    <div class="p-fluid flex flex-column gap-2 mt-4">
        <p>Lessor Type</p>
        <p-dropdown
            [options]="lessorTypes"
            [(ngModel)]="selectedLessorType"
            [showClear]="true"
            placeholder="Select Lessor Type"
        >
        </p-dropdown>
    </div>
    <div class="p-fluid flex flex-column gap-2 mt-4">
        <p>Lessee(Tenant) Type</p>
        <p-dropdown
            [options]="lesseeTypes"
            [(ngModel)]="selectedLesseeType"
            [showClear]="true"
            placeholder="Select Lessee Type"
        >
        </p-dropdown>
    </div>
</div>
<div class="mt-5 mb-2 p-fluid flex gap-4 align-items-end">
    <div>
        <p class="mb-2">Search tenants by phone number.</p>
        <p-inputGroup>
            <p-inputGroupAddon>+975</p-inputGroupAddon>
            <p-inputNumber
                [(ngModel)]="searchPhoneNumber"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
            />
            <p-button
                label="Search Tenant "
                (click)="SearchTenantByPhoneNumber()"
                icon="pi pi-search"
            ></p-button>
        </p-inputGroup>
    </div>
</div>

<div>
    <div *ngIf="searchedUser" class="card mt-4">
        <div class="flex gap-4">
            <div class="flex flex-column align-items-center">
                <p-knob
                    [(ngModel)]="tenantScore"
                    [valueColor]="getColorForScore(tenantScore)"
                    valueTemplate="{value}pts"
                    [readonly]="true"
                />
                <p>Tenant Credit Score</p>
            </div>
            <div>
                <p>
                    Name English:
                    <strong> {{ searchedUser.nameEnglish }}</strong>
                </p>
                <p>
                    Name Dzongkha:
                    <strong> {{ searchedUser.nameDzongkha }}</strong>
                </p>
                <p>
                    CID:
                    <strong>{{ searchedUser.cid }}</strong>
                </p>
                <p>
                    PhoneNumber:
                    <strong> {{ searchedUser.phoneNumber }}</strong>
                </p>
                <p>
                    Permanent Address: <br />
                    <strong> {{ searchedUser.permanentAddress }}</strong>
                </p>
            </div>

            <div *ngIf="selectedLesseeType !== lesseeTypeEnum.INDIVIDUAL">
                <div class="p-fluid flex-column flex gap-2">
                    <p>Select Organization</p>
                    <p-dropdown
                        [options]="searchedUser?.organizations"
                        [(ngModel)]="selectedOrganization"
                        [showClear]="false"
                        placeholder="Select Organization"
                    >
                        <ng-template pTemplate="selectedItem">
                            <div *ngIf="selectedOrganization">
                                <p>
                                    {{ selectedOrganization.name }}({{
                                        selectedOrganization.type
                                    }})
                                </p>
                            </div>
                        </ng-template>

                        <ng-template let-item pTemplate="item">
                            <div>
                                <p>{{ item.name }}({{ item.type }})</p>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end" *ngIf="searchedUser">
        <p-button
            *ngIf="!selectedTenant"
            (click)="confirmTenantPartySelection()"
            [label]="
                selectedLesseeType === lesseeTypeEnum.INDIVIDUAL
                    ? 'Select Tenant'
                    : 'Select Organization'
            "
        ></p-button>
        <p class="text-green-700 font-semibold" *ngIf="selectedTenant">
            <i class="pi pi-check"></i> Tenant Selected
        </p>
    </div>

    <div *ngIf="selectedTenant" class="mt-4 flex justify-content-end">
        <p-button
            *ngIf="selectedTenant"
            label="Confirm and Proceed"
            (click)="saveAndProceed()"
        ></p-button>
    </div>
</div>
