<div>
    <div class="flex justify-content-between my-4">
        <p class="text-xl font-semibold">Paid Advices</p>
        <div class="flex gap-2">
            <p-button
                label="Download Excel"
                icon="pi pi-file-excel"
                size="small"
                (click)="downloadMasterTable()"
            ></p-button>
        </div>
    </div>

    <p-table
        [value]="paginatedPaymentAdvice?.data"
        styleClass="p-datatable-striped"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Ref</th>
                <th>Status</th>
                <th>Title</th>
                <th>Total Amount</th>
                <th>Due by</th>
                <th>Lease Type</th>

                <th>Property</th>
                <th>Payer</th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p>#{{ item.id }}</p>
                </td>
                <td>
                    <p class="text-green -400 font-semibold">
                        {{ item.status }}
                    </p>
                </td>
                <td>
                    <p>{{ item.title }}</p>
                </td>

                <td>Nu. {{ item.totalAmount }}</td>

                <td>
                    {{ item.dueDate | date : "mediumDate" }}
                </td>
                <td>
                    <p>{{ item.leaseAgreement.type }} Lease</p>
                </td>

                <td>
                    <!-- Show Unit information only if leaseType is UNIT -->

                    <p *ngIf="item.leaseAgreement.type === leaseTypes.UNIT">
                        Unit: {{ item.leaseAgreement.unit.floorLevel }} -
                        {{ item.leaseAgreement.unit.unitNumber }}
                    </p>

                    <!-- Show Building information if leaseType is either UNIT or BUILDING -->
                    <p
                        *ngIf="
                            item.leaseAgreement.type === leaseTypes.BUILDING ||
                            item.leaseAgreement.type === leaseTypes.UNIT
                        "
                    >
                        Building: {{ item.leaseAgreement.building?.name }}
                    </p>

                    <!-- Show Plot information if leaseType is LAND or BUILDING (exclude UNIT) -->
                    <p *ngIf="item.leaseAgreement.type !== leaseTypes.UNIT">
                        Plot: {{ item.leaseAgreement.plot.plotId }}
                    </p>
                </td>

                <td>
                    <p>
                        Name:{{ item.leaseAgreement.tenant?.nameEnglish }}
                        {{ item.leaseAgreement.tenant?.nameDzongkha }}
                    </p>
                    <p>Phone: {{ item.leaseAgreement.tenant?.phoneNumber }}</p>
                </td>
                <td>
                    <p-button
                        size="small"
                        label="Payment Advice"
                        icon="pi pi-file-o"
                        (click)="openViewPaymentReceipt(item)"
                        severity="secondary"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div>
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [first]="paginatedPaymentAdvice.firstPage"
                    [rows]="paginatedPaymentAdvice.limit"
                    [totalRecords]="paginatedPaymentAdvice.count"
                    [rowsPerPageOptions]="[10, 20, 50]"
                ></p-paginator>
            </div>
        </ng-template>
    </p-table>
</div>
