<p class="font-bold text-xl">Plot & Ownership</p>

<div class="flex gap-4">
    <div *ngFor="let plot of plots">
        <p class="text-lg">
            Owner:
            <span class="font-semibold"
                >{{ plot.thram.owner.nameEnglish }}/
                {{ plot.thram.owner.nameDzongkha }}</span
            >
        </p>
        <p class="mt-2">
            Thram: <strong> {{ plot.thram.thramNo }} </strong>
        </p>
        <p>
            PlotID: <strong> {{ plot.plotId }} </strong>
        </p>
        <p>Precinct: {{ plot.precinctName }}({{ plot.precinctCode }})</p>
        <p>
            {{ plot.administrativeZone?.name }},
            {{ plot.subAdministrativeZone?.name }}
        </p>
        <!-- <div class="flex gap-2 mt-1">
            <p-button
                icon="pi pi-pencil"
                size="small"
                label="Edit"
                severity="primary"
                (click)="openEditBuildingPlotModal(plot)"
            />
            <p-button
                icon="pi pi-trash"
                size="small"
                label="delete"
                severity="danger "
                (click)="openConfirmDeleteBuildingPlotDialog(plot)"
            />
        </div> -->
    </div>
</div>
<div *ngIf="!plots?.length" class="text-red-500">
    ! Building Plot not mapped

    <p-button label="Map plot" (click)="openMapPlotBuilding()"></p-button>
</div>
