<p-confirmDialog></p-confirmDialog>
<hr />

<div class="flex justify-content-between text-lg">
    <p class="font-semibold">Plot & Ownership</p>
    <p-button
        icon="pi pi-plus"
        size="small"
        label="Plot Mapping"
        severity="primary"
        (click)="openMapPlotBuilding()"
    />
</div>

<div>
    <div *ngFor="let plot of plots" class="mt-4">
        <div
            class="flex gap-2 align-items-end justify-content-between pb-2 pt-2"
        >
            <p
                class="text-blue-500 cursor-pointer hover:underline"
                (click)="goToDetailedPlotView(plot)"
            >
                PlotID: <strong> {{ plot.plotId }} </strong>
            </p>
            <p-button
                size="small"
                label="UnMap"
                severity="danger "
                (click)="openConfirmDeleteBuildingPlotDialog(plot)"
            />
        </div>
        <hr class="my-0 py-0" />

        <p>
            Thram: <strong> {{ plot.thram?.thramNo }} </strong>
        </p>
        <p>
            Location:
            <strong
                >{{ plot.thram?.dzongkhag?.name }},
                {{ plot.thram?.administrativeZone?.name }},
                {{ plot.thram?.subAdministrativeZone?.name }}</strong
            >
        </p>
        <p>
            Owner/s:
            <strong *ngFor="let owner of plot.thram.owners">
                {{ owner.nameEnglish
                }}{{ "(" + owner.nameDzongkha + ")" + ", " }}
            </strong>
        </p>
    </div>
</div>
<div *ngIf="!plots?.length" class="text-red-500 pt-2 pb-2">
    ! Building Plot not mapped.Building Plot Mapping is required for enabling
    lease function in the building and units.
</div>
