<p-confirmDialog></p-confirmDialog>
<hr />

<div class="flex justify-content-between text-lg">
    <p class="font-semibold">Plot & Ownership</p>
    <p-button
        icon="pi pi-plus"
        size="small"
        label="Plot Mapping"
        severity="primary"
        (click)="openMapPlotBuilding()"
    />
</div>

<div>
    <div *ngFor="let plot of plots" class="mt-4">
        <div class="flex gap-2 align-items-end justify-content-between pb-2">
            <p>
                PlotID: <strong> {{ plot.plotId }} </strong>
            </p>
            <p-button
                icon="pi pi-trash"
                size="small"
                [label]="plot.plotId"
                severity="danger "
                (click)="openConfirmDeleteBuildingPlotDialog(plot)"
            />
        </div>
        <hr class="my-0 py-0" />

        <p>
            Thram: <strong> {{ plot.thram?.thramNo }} </strong>
        </p>
        <p>
            Location:
            <strong
                >{{ plot.thram?.dzongkhag?.name }},
                {{ plot.thram?.administrativeZone?.name }},
                {{ plot.thram?.subAdministrativeZone?.name }}</strong
            >
        </p>
        <p>
            Owner/s:
            <strong *ngFor="let owner of plot.thram.owners">
                {{ owner.nameEnglish
                }}{{ "(" + owner.nameDzongkha + ")" + ", " }}
            </strong>
        </p>
    </div>
</div>
<div *ngIf="!plots?.length" class="text-red-500">
    ! Building Plot not mapped

    <p-button label="Map plot" (click)="openMapPlotBuilding()"></p-button>
</div>
