<div
    class="bg-white p-4 h-full"
    style="
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
            0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    "
>
    <div class="flex justify-content-between align-items-end">
        <app-owner-building-detail-card
            [building]="building"
            [editMode]="false"
        ></app-owner-building-detail-card>

        <app-admin-building-photos></app-admin-building-photos>
    </div>
    <p-tabView>
        <p-tabPanel header="Building Details"
            ><div class="flex gap-6">
                <div class="border-round-md" style="max-width: 430px">
                    <div class="flex flex-column gap-2 mt-4">
                        <app-owner-building-surcharge-card
                            [buildingId]="buildingId"
                        ></app-owner-building-surcharge-card>
                        <app-owner-building-rules-card
                            [buildingId]="buildingId"
                        ></app-owner-building-rules-card>
                        <app-owner-building-amenities-card></app-owner-building-amenities-card>
                    </div>
                </div>

                <div class="flex-1 flex-column border-round-md flex gap-4">
                    <div class="flex gap-6">
                        <div class="w-6">Details Plot</div>
                        <p-divider layout="vertical" type="dashed" />

                        <div class="w-6">Ownership</div>
                    </div>

                    <p-divider type="dashed" />
                    map
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Units">
            <router-outlet></router-outlet>
        </p-tabPanel>
    </p-tabView>
</div>
