<form [formGroup]="createBuildingPlotForm" class="">
    <div class="flex flex-column gap-2">
        <label for="username">Thram Number</label>
        <input
            pInputText
            id="username"
            formControlName="thramNumber"
            aria-describedby="username-help"
        />
        <small id="username-help"> Enter the thram Number </small>
    </div>
    <div class="flex flex-column gap-2 mb-4">
        <label for="username">Plot ID </label>
        <input
            pInputText
            id="username"
            formControlName="plotId"
            aria-describedby="username-help"
        />
        <small id="username-help"> Enter the plot Number </small>
    </div>

    <p-button
        style="margin-top: 1rem"
        (click)="createBuildingPlot()"
        label="Create Building Plot"
    ></p-button>
</form>
