<p-confirmDialog />

<form
    [formGroup]="updateOrganizationForm"
    class="p-fluid p-2 flex flex-column gap-4"
>
    <div class="flex p-fluid justify-content-between gap-4"></div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="type">Organization Type</label>
        <p-dropdown
            id="type"
            [options]="organizationTypes"
            appendTo="body"
            formControlName="type"
        ></p-dropdown>
        <div
            *ngIf="
                updateOrganizationForm.get('type')?.invalid &&
                updateOrganizationForm.get('type')?.touched
            "
            class="p-error"
        >
            <small>Organization Type is required.</small>
        </div>
    </div>
    <div class="flex flex-column gap-2">
        <label for="name">Organization Name</label>
        <input pInputText id="name" formControlName="name" type="text" />

        <div
            *ngIf="
                updateOrganizationForm.get('name')?.invalid &&
                updateOrganizationForm.get('name')?.touched
            "
            class="p-error"
        >
            <small
                *ngIf="createOrganizationForm.get('thramNo')?.errors?.['required']"
                >Name is required.</small
            >
        </div>
    </div>
    <div class="flex flex-column gap-2">
        <label for="licenseNumber">Business Licence Number</label>
        <input
            pInputText
            id="name"
            formControlName="licenseNumber"
            type="text"
        />
    </div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="userType">Relationship to the Organization</label>
        <p-dropdown
            id="userType"
            [options]="userTypes"
            appendTo="body"
            formControlName="userType"
        ></p-dropdown>
        <div
            *ngIf="
                updateOrganizationForm.get('userType')?.invalid &&
                updateOrganizationForm.get('userType')?.touched
            "
            class="p-error"
        >
            <small>User Type is required.</small>
        </div>
    </div>

    <div class="flex justify-content-end gap-4">
        <p-button
            (click)="updateOrganization()"
            label="Update Organization"
            type="submit"
            [disabled]="updateOrganizationForm.invalid"
        ></p-button>
        <p-button
            (click)="deleteOrganization()"
            label="Delete Organization"
            severity="danger"
        ></p-button>
        <p-button
            severity="secondary"
            label="Cancel"
            (click)="close()"
        ></p-button>
    </div>
</form>
