<div class="flex align-items-center justify-content-between">
    <p>Buildings</p>
    <div class="flex gap-2">
        <p-button
            icon="pi pi-plus"
            (click)="openAddBuildingModal()"
            label="Building"
            size="small"
        >
        </p-button>
        <p-button
            label="Download Excel"
            icon="pi pi-file-excel"
            size="small"
            (click)="downloadMasterTable()"
        ></p-button>
    </div>
</div>

<p-table
    [value]="buildingsPaginated"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Building</th>

            <!-- <th>Ownership</th> -->
            <th>Plot Mapping</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-building>
        <tr>
            <td class="m">
                <div class="text-center">
                    <p class="text-sm">
                        {{ building.isActive ? "Active" : "Idle" }}
                    </p>
                    <qrcode
                        *ngIf="building?.zhicharQrUuid"
                        [qrdata]="getQr(building?.zhicharQrUuid)"
                        [errorCorrectionLevel]="'M'"
                        [allowEmptyString]="true"
                        [cssClass]="'center'"
                        [errorCorrectionLevel]="'high'"
                        [colorDark]="'#111827'"
                        [colorLight]="'#FFFFFF00'"
                        [elementType]="'svg'"
                        [errorCorrectionLevel]="'H'"
                        [scale]="1"
                        [title]="'BuildingQr'"
                        [width]="100"
                        class="m-0 p-0"
                    ></qrcode>
                    <small> ID: {{ building.id }} </small>
                </div>
            </td>
            <td>
                <app-admin-building-details-card
                    [building]="building"
                    [editMode]="false"
                ></app-admin-building-details-card>
                <hr />
                <div class="flex gap-2">
                    <p-button
                        size="small"
                        label="Edit"
                        icon="pi pi-pencil"
                        (click)="openEditBuildingModal(building)"
                    ></p-button>
                    <p-button
                        size="small"
                        icon="pi pi-eye"
                        label="Detailed view"
                        (click)="openViewBuildingDetails(building)"
                    ></p-button>
                    <p-button
                        label="Add Plot"
                        (click)="openCreateBuildingPlotModal(building.id)"
                        icon="pi pi-plus"
                        size="small"
                    ></p-button>
                </div>
            </td>

            <td class="">
                <div *ngFor="let item of building.plots">
                    <p><strong>Thram No</strong>: {{ item.thram.thramNo }}</p>
                    <p>
                        <strong>Owner</strong>:
                        {{ item.thram?.owner?.nameEnglish }}/
                        {{ item.thram?.owner?.nameDzongkha }}
                    </p>
                    <p>
                        <strong>Ownership Type</strong>:
                        {{ item.thram?.ownerType }}
                    </p>
                    <hr />
                    <p>
                        <strong>PlotID</strong>:
                        <strong> {{ item.plotId }} </strong>
                    </p>
                    <p>
                        <strong>Area</strong>:

                        {{ item?.netArea }} {{ item?.areaUnit }}
                    </p>
                    <p><strong>Locality </strong>: {{ item.lapName }}</p>

                    <p>
                        <strong>Precicnt</strong>: {{ item.precinctName }} ({{
                            item.precinctCode
                        }})
                    </p>
                    <div class="flex gap-2 mt-4">
                        <!-- <p-button
                            icon="pi pi-pencil"
                            size="small"
                            label="Edit"
                            severity="primary"
                            (click)="openEditBuildingPlotModal(plot)"
                        /> -->
                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            label="Remove Mapping"
                            severity="danger "
                            (click)="
                                openConfirmDeleteBuildingPlotDialog(
                                    item.BuildingPlot
                                )
                            "
                        />
                    </div>
                </div>
                <div *ngIf="!building.plots.length" class="text-red-500">
                    ! Building Plot not mapped
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Showing {{ buildingsPaginated?.length }} Buildings
        </div>
        <div></div>
    </ng-template>
</p-table>

<p-dialog
    header="Owner Details"
    [modal]="true"
    [(visible)]="showOwnerDetailCard"
    [style]="{ width: '25rem' }"
>
    <div *ngIf="selectedOwner">
        <p>First Name: {{ selectedOwner.firstName }}</p>
        <p>Middle Name: {{ selectedOwner.middleName }}</p>
        <p>Last Name: {{ selectedOwner.lastName }}</p>
    </div>
</p-dialog>

<p-dialog
    header="Delete Building Plot"
    [modal]="true"
    [(visible)]="showConfirmDeleteBuildingPlotDialog"
    [style]="{ width: '25rem' }"
>
    <p>Are u sure u want to delete?</p>
    <div class="flex justify-content-start gap-4 mt-4">
        <p-button
            label="Cancel"
            severity="secondary"
            (click)="showConfirmDeleteBuildingPlotDialog = false"
        />
        <p-button
            label="Delete"
            severity="danger"
            (click)="deleteBuildingPlot()"
        />
    </div>
</p-dialog>

<p-dialog
    header="Delete Building Ownership"
    [modal]="true"
    [(visible)]="showConfirmDeleteBuildingOwnershipDialog"
    [style]="{ width: '25rem' }"
>
    <p>Are u sure u want to delete?</p>
    <div class="flex justify-content-start gap-4 mt-4">
        <p-button
            label="Cancel"
            severity="secondary"
            (click)="showConfirmDeleteBuildingPlotDialog = false"
        />
        <p-button
            label="Delete"
            severity="danger"
            (click)="deleteBuildingOwnership()"
        />
    </div>
</p-dialog>
