<div class="flex align-items-center justify-content-between my-4">
    <p class="text-lg">Buildings</p>
    <div class="flex gap-2">
        <p-button
            icon="pi pi-plus"
            (click)="openAddBuildingModal()"
            label="Building"
            size="small"
        >
        </p-button>
        <p-button
            label="Download Excel"
            icon="pi pi-file-excel"
            size="small"
            (click)="downloadMasterTable()"
        ></p-button>
    </div>
</div>

<div class="flex align-items-center mb-2 justify-content-between">
    <div>
        <p>
            Showing {{ paginatedBuildings.data.length }} of
            {{ paginatedBuildings.count }} Entries
        </p>
    </div>
    <div class="">
        <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="firstPageNumber"
            [rows]="rows"
            [totalRecords]="paginatedBuildings.count"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showFirstLastIcon]="true"
            #paginator
        ></p-paginator>
    </div>
</div>

<p-table
    [value]="paginatedBuildings.data"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Building Name</th>
            <th>Plot ID</th>
            <th>Building Type</th>
            <th>Floor Config</th>
            <th>Location</th>
            <th>Year of Construction</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-building>
        <tr>
            <td>
                <p>
                    {{ building.name || "Not assigned" }}
                </p>
            </td>
            <td>
                <p>
                    <span
                        *ngFor="let item of building.plots"
                        (click)="openViewPlotModal(item)"
                        class="text-blue-700 hover:underline cursor-pointer hover:font-semibold"
                    >
                        {{ item.plotId + "," }}
                    </span>
                </p>
            </td>

            <td>
                <p>
                    {{ building.buildingType }}
                </p>
            </td>
            <td>
                <p>
                    <strong>
                        {{
                            getBuildingFloorConfiguration(
                                building.regularFloorCount,
                                building.basementCount,
                                building.stiltCount,
                                building.atticCount,
                                building.jamthogCount
                            )
                        }}</strong
                    >
                </p>
            </td>

            <td>
                <p>
                    <strong
                        >{{ building.subadministrativeZone?.name }},
                        {{ building.administrativeZone?.name }},
                        {{ building.dzongkhag?.name }}</strong
                    >
                </p>
            </td>
            <td>
                <p>
                    {{ building.yearOfConstruction || "No Data" }}
                </p>
            </td>

            <td>
                <div class="flex gap-2">
                    <p-button
                        size="small"
                        label="Edit"
                        icon="pi pi-pencil"
                        (click)="openEditBuildingModal(building)"
                    ></p-button>
                    <p-button
                        size="small"
                        icon="pi pi-eye"
                        label="View"
                        (click)="openViewBuildingDetails(building)"
                    ></p-button>
                </div>
            </td>
            <!-- 
            <td class="">
                <div *ngFor="let item of building.plots">
                    <p>
                        <span class="font-semibold">Thram No</span>:
                        {{ item.thram.thramNo }}
                    </p>
                    <p>
                        <span class="font-semibold">PlotID</span>:
                        {{ item.plotId }}
                    </p>
                    <div>
                        <p class="font-semibold">Owner/s:</p>
                        <p *ngFor="let owner of item.thram.owners">
                            - {{ owner.nameEnglish
                            }}{{ "/" + owner.nameDzongkha }}
                        </p>
                    </div>

                    <div class="flex gap-2 mt-4">
                        <p-button
                            icon="pi pi-trash"
                            size="small"
                            label="Remove Mapping"
                            severity="danger "
                            (click)="
                                openConfirmDeleteBuildingPlotDialog(
                                    item.BuildingPlot
                                )
                            "
                        />
                    </div>
                </div>
                <div *ngIf="!building.plots.length" class="text-red-500">
                    ! Building Plot not mapped
                </div>
            </td> -->
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Showing {{ buildingsPaginated?.length }} Buildings
        </div>
        <div></div>
    </ng-template>
</p-table>
