<div>
    <p-confirmDialog />
    <div class="flex justify-content-between my-4">
        <p class="text-lg">Owners Master Table</p>
        <div class="flex gap-2">
            <p-button
                label="Owner"
                icon="pi pi-plus"
                size="small"
                (click)="openCreateOwnerModal()"
            ></p-button>
            <p-button
                label="Download Excel"
                icon="pi pi-file-excel"
                size="small"
                (click)="downloadMasterTable()"
            ></p-button>
        </div>
    </div>
    <div>
        <p-table
            [value]="owners"
            styleClass="p-datatable-striped"
            #dt
            [globalFilterFields]="['nameEnglish', 'phoneNumber', 'cid']"
        >
            <ng-template pTemplate="caption">
                <div
                    class="flex flex-column align-items-end justify-content-end"
                >
                    <p class="text-sm font-normal">
                        Search by name,cid & phone number
                    </p>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Search keyword"
                    />
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Id</th>
                    <th>Name</th>
                    <th>Login Access</th>
                    <th>Roles</th>
                    <th>CID</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr [ngClass]="item.isDeleted ? 'text-red-800 bg-red-50' : ''">
                    <td>
                        <div class="text-center">
                            <p>
                                {{ item.id }}
                            </p>
                            <p *ngIf="item.isDeleted" class="text-xs">
                                *Soft Deleted
                            </p>
                        </div>
                    </td>
                    <td>
                        <p>
                            {{ item.nameDzongkha }}
                        </p>

                        <p>
                            {{ item.nameEnglish }}
                        </p>
                    </td>
                    <td>
                        <p
                            class="mb-1 text-green-500 font-semibold"
                            *ngIf="item.hasLoginAccess"
                        >
                            Enabled
                        </p>
                        <p
                            class="mb-1 text-red-500 font-semibold"
                            *ngIf="!item.hasLoginAccess"
                        >
                            Disabled
                        </p>
                    </td>
                    <td>
                        <p>
                            [
                            <span *ngFor="let role of item.roles">
                                {{ role.name }}
                            </span>
                            ]
                        </p>
                    </td>

                    <td>
                        <p>
                            {{ item.cid ? item.cid : "NA" }}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{ item.phoneNumber ? item.phoneNumber : "NA" }}
                        </p>
                    </td>

                    <td>
                        <div class="flex gap-2">
                            <p-button
                                size="small"
                                icon="pi pi-pencil"
                                (click)="openUpdateOwnerModal(item)"
                            ></p-button>

                            <p-button
                                *ngIf="item.hasLoginAccess"
                                label="Disable Login"
                                size="small"
                                severity="secondary"
                            ></p-button>
                            <p-button
                                *ngIf="item.hasLoginAccess"
                                label="Change Password"
                                size="small"
                                severity="secondary"
                            ></p-button>

                            <p-button
                                *ngIf="!item.hasLoginAccess"
                                label="Enable Login"
                                size="small"
                                icon="pi pi-lock"
                                (click)="enableLogin()"
                                severity="secondary"
                            ></p-button>

                            <p-button
                                size="small"
                                severity="secondary"
                                label="Properties"
                                icon="pi pi-eye"
                                (click)="openViewPropertiesModal(item)"
                            ></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p *ngIf="!owners.length" class="mt-4">- No Owners</p>
</div>
