<div
    class="flex align-items-center flex-column justify-content-center pb-4 text-center"
>
    <p-image
        [src]="adminProfileUri"
        alt="Image"
        width="100"
        imageClass="circular"
    />
    <p>
        {{ currentRole.role }} at {{ admin?.nameEnglish }}
        {{ admin?.nameDzongkha }}
    </p>
</div>

<form [formGroup]="updateUserForm" class="p-fluid p-2 flex flex-column gap-5">
    <div class="flex flex-column gap-2 flex-1">
        <label for="nameEnglish">Name English*</label>
        <input
            pInputText
            id="nameEnglish"
            formControlName="nameEnglish"
            type="text"
        />
    </div>
    <div class="flex flex-column gap-2 flex-1">
        <label for="nameDzongkha">Name Dzongkha</label>
        <input
            pInputText
            id="nameDzongkha"
            formControlName="nameDzongkha"
            type="text"
        />
    </div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="nameEnglish">Phone Number*</label>
        <p-inputGroup>
            <p-inputGroupAddon>+975</p-inputGroupAddon>
            <p-inputNumber
                formControlName="phoneNumber"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
            />
        </p-inputGroup>
    </div>

    <div
        class="flex flex-column gap-2 flex-1"
        *ngIf="currentRole.role === userRoleEnum.ADMIN"
    >
        <label for="nameDzongkha">SMS Header Title *header of SMS title </label>
        <input
            pInputText
            id="nameDzongkha"
            formControlName="nameDzongkha"
            type="text"
        />
    </div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="cid">CID</label>
        <input pInputText id="cid" formControlName="cid" type="text" />
    </div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="cid">Email</label>
        <input pInputText id="email" formControlName="email" type="text" />
    </div>

    <div class="flex flex-column gap-2 flex-1">
        <label for="cid">Permanent Address</label>
        <input
            pInputText
            id="permanentAddress"
            formControlName="permanentAddress"
            type="text"
        />
    </div>
    <div class="flex justify-content-end gap-4 mt-4">
        <p-button
            (click)="updateUserDetails()"
            [disabled]="isSubmitting || updateUserForm.invalid"
            label="Update Details"
        ></p-button>
        <p-button severity="secondary" label="Cancel"></p-button>
    </div>
</form>
