<form [formGroup]="createOwnerForm" class="p-fluid p-2 flex flex-column gap-4">
    <div class="flex gap-3">
        <p-checkbox
            formControlName="hasLoginAccess"
            [binary]="true"
            inputId="ny"
        />
        <label for="hasLoginAccess">Allow Login Access</label>
    </div>
    <div class="flex flex-column gap-2">
        <label for="nameEnglish">Owner Name English (*required) </label>
        <input
            pInputText
            id="nameEnglish"
            formControlName="nameEnglish"
            type="text"
        />
    </div>
    <div class="flex flex-column gap-2">
        <label for="nameDzongkha">Owner Name Dzongkha (optional) </label>
        <input
            pInputText
            id="nameDzongkha"
            formControlName="nameDzongkha"
            type="text"
        />
    </div>

    <div class="flex flex-column gap-2">
        <label for="cid">CID (optional)</label>
        <input pInputText id="cid" formControlName="cid" type="text" />
    </div>

    <div class="flex flex-column gap-2">
        <label for="email">Email (optional)</label>
        <input pInputText id="email" formControlName="email" type="text" />
    </div>

    <div *ngIf="createOwnerForm.get('hasLoginAccess')?.value">
        <p class="mb-2">
            Please enter a phone number and a password <br />
            to create login credentials. The login credentials <br />
            will be sent to the number entered below
        </p>
        <div class="flex flex-column gap-2">
            <label for="phoneNumber">Phone Number (*required) </label>
            <p-inputNumber
                formControlName="phoneNumber"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
            />
        </div>
        <div class="flex flex-column gap-2">
            <label for="password">Password (*required) </label>
            <p-inputNumber
                formControlName="password"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
            />
        </div>
    </div>

    <div class="flex justify-content-end gap-4">
        <p-button (click)="createOwner()" label="Create Owner"></p-button>
        <p-button severity="secondary" label="Cancel"></p-button>
    </div>
</form>
